.invite-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: $color-dark-gray;
  overflow: auto;

  .invitation {
    position: relative;
    padding: 30px 30px 40px;
    font-size: 18px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    border-bottom: solid 1px rgba(143, 143, 143, .5);

    .title {
      font-size: 24px;
      color: rgb(224, 224, 224);
      line-height: 1em;
      text-shadow: 0 1px 1px rgb(36, 36, 36);
      padding-bottom: 10px;

      small {
        display: block;
        color: $color-b;
        font-size: 13px;
        font-weight: 600;
        line-height: 1em;
        margin-top: 5px;
        text-shadow: 0 1px 1px rgb(36, 36, 36);
      }
    }

    .dash-border {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 1px;
        border-bottom: dashed 1px rgb(7, 7, 7);
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom: dashed 1px rgb(36, 36, 36);
      }
    }

    .content {
      color: $color-gray;
      font-size: 18px;
      text-shadow: 0 1px 1px rgb(36, 36, 36);
      margin-top: 30px;
      word-break: break-all;

      .vip-name, .live-title {
        color: rgb(224, 224, 224);
        font-weight: 500;
      }

      .vip-name {
        margin-right: 5px;
      }

      p {
        margin: 10px 0;
      }
    }

    .sign {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30px;

      .name {
        color: $color-gray;
        font-size: 14px;
        line-height: 1em;
        margin-right: 14px;
      }

      .avatar {
        border: solid 1px $color-gray;
        border-radius: 50%;
        height: 24px;
        width: 24px;
      }
    }

    .bi-stamp {
      position: absolute;
      right: 20px;
      bottom: -60px;
      font-size: 90px;
      color: $color-brand;
      transform: rotate(30deg);
    }
  }

  .operation-area {
    font-size: 14px;

    .bi-more2 {
      font-size: 12px;
      transform: scale(0.333);
      margin-right: -36px;
      transform-origin: 2px;
    }

    .bi-share2 {
      font-size: 16px;
      margin: 0 5px;
    }

    .share-tips {
      margin: 13px 40px 0;
      color: $color-dark-gray;

      &:first-child {
        margin-top: 23px;
      }
    }

    .used-tips, .invaild-tips {
      margin-top: 20px;
      margin-bottom: 68px;
      color: $color-gray;
      text-align: center;
    }

    .btn-accept-invitation, .btn-goto-live {
      display: block;
      margin: 28px auto 0;
      width: 200px;
      height: 50px;
      line-height: 50px;
      background-color: $color-brand;
      border-radius: 25px;
      text-align: center;
      color: $color-w;
      font-size: 17px;

      &:first-child {
        margin-top: 70px;
      }

      &:last-child {
        margin-bottom: 28px;
      }
    }
  }
}
