<div class="timeline-comment-container">
  <div class="comment" [ngClass]="{'has-reply': comment.replies.length, 'mime': comment.user.uid == userInfo.uid}">
    <div class="avatar-container">
      <img class="avatar" [src]="comment.user.avatar">
      <span class="role">{{comment.user | role: liveInfo}}</span>
    </div>
    <div class="content-container">
      <div class="content-info">
        <p class="name">{{comment.user.nick}}</p>
        <time>{{comment.createdAt | time}}</time>
      </div>

      <div class="content" *ngIf="comment.type === 0 || comment.type === 3">{{comment.content}}</div>
      <div class="content" *ngIf="comment.type === 2"><audio-comment [comment]="comment" [userInfo]="userInfo"></audio-comment></div>
    </div>
    <div class="thumbs-up" [ngClass]="{'had-thumbs-up': comment.hadPraised}">
      <div class="thumbs-up-animations" praisedAnimation>
        <praised-animation *ngFor="let user of comment.praisedAnimations" [user]="user"></praised-animation>
      </div>
      <a class="thumbs-up-btn" (click)="setPraise()">
        <i class="baiding-icon baiding-icon-thumbsup"></i>
      </a>
      <span class="thumbs-up-count" (click)="setPraise()">{{comment.praisedAmount}}</span>
    </div>
  </div>
  <div class="comment-reply-container">
    <div class="comment-reply" *ngFor="let reply of comment.replies" [ngClass]="{'mime': reply.user.uid == userInfo.uid}">
      <div class="avatar-container">
        <img class="avatar" [src]="reply.user.avatar">
        <span class="role">{{reply.user | role: liveInfo}}</span>
      </div>
      <div class="content-container">
        <div class="content">{{reply.user.nick}} @{{comment.user.nick}}<br/>{{reply.content}}</div>
      </div>
    </div>
  </div>

  <div class="operation-bar">
    <a class="share-btn" (click)="goToShare()"><i class="baiding-icon baiding-icon-share"></i></a>
    <a class="comment-btn" (click)="gotoReply()" *ngIf="canReply()"><i class="baiding-icon baiding-icon-chat3"></i></a>
    <div class="thumbs-up-users">
      <img class="avatar" *ngFor="let user of comment.getPraisedAvatars(userInfo)" [src]="user.avatar">
    </div>
  </div>
</div>
