<div class="info-center"
     *ngIf="pageUserInfo && !isLoading"
>
  <div class="self-intro">
    <div class="background">
      <div class="background-image" [style.background-image]="avatarBackground"></div>
    </div>

    <div class="top-bar">
      <i class="bi bi-gear edit-btn" *ngIf="isSelf" (click)="goToEdit()"></i>
      <i class="bi bi-share share-btn" (click)="popupShare()" *ngIf="!isInApp"></i>
    </div>

    <div class="img-wrapper">
      <img class="avatar" [src]="pageUserInfo.avatar">
    </div>

    <div class="name">{{pageUserInfo.nick}}</div>

    <div class="intro" *ngIf="pageUserInfo.intro">{{pageUserInfo.intro}}</div>
  </div>

  <ul class="tab" *ngIf="isSelf">
    <li [ngClass]="{activate: tabIndex === 0}" (click)="switchIndex(0)">我的</li>
    <li [ngClass]="{activate: tabIndex === 1}" (click)="switchIndex(1)">我关注的</li>
  </ul>

  <div class="tab-container">
    <div class="tab-content" [ngClass]="{'tab-one-activated': tabIndex === 0, 'tab-two-activated': tabIndex === 1}">
      <div class="main-list" [ngClass]="{'activate': tabIndex === 0}">
        <div class="live-room-info-upper" *ngFor="let liveInfo of livesList">
          <div (click)="gotoLiveRoom(liveInfo.id)">
            <div class="live-title-wrapper">
              <div class="live-title">{{liveInfo.subject}}</div>
              <span class="live-type text" *ngIf="liveInfo.isTypeText()"><i class="bi bi-paper2"></i>文字</span>
              <span class="live-type video" *ngIf="liveInfo.isTypeVideo()"><i class="bi bi-video"></i>视频</span>
            </div>

            <div class="admin-info">
              <img class="admin-avatar" [src]="liveInfo.admin.avatar" alt="主持人头像"
                   (click)="gotoInfoCenter(liveInfo.admin.uid); $event.stopPropagation();">
              <div class="nick-wrapper">
                <div class="nick">{{liveInfo.admin.nick}}</div>
                <div class="time">
                  <span class="time" *ngIf="liveInfo.isCreated()">{{liveTime[liveInfo.id]}}</span>
                  <span class="time" *ngIf="liveInfo.isClosed()">{{liveTime[liveInfo.id]}}</span>
                  <span class="time"
                        *ngIf="liveInfo.isStarted()">已进行 {{liveInfo.expectStartAt | timeToFormated:timeNow}}</span>
                </div>
              </div>
            </div>

            <div class="live-desc">{{liveInfo.desc}}</div>

            <live-cover class="live-cover" [liveInfo]="liveInfo"></live-cover>

            <div class="invited-people">
              <span class="vip-label">嘉宾</span>

              <div class="vip-container">
                <div class="accepted">
                  <div class="avatar-wrapper">
                    <img class="avatar" [src]="liveInfo.admin.avatar" alt="嘉宾头像">
                    <div class="tick"><i class="bi bi-tick"></i></div>
                  </div>

                  <span class="nick">{{liveInfo.admin.nick}}</span>
                </div>
              </div>

              <div class="vip-container" *ngFor="let vip of liveInfo.editors">
                <div class="accepted">
                  <div class="avatar-wrapper">
                    <img class="avatar" [src]="vip.avatar" alt="嘉宾头像">
                    <div class="tick"><i class="bi bi-tick"></i></div>
                  </div>

                  <span class="nick">{{vip.nick}}</span>
                </div>
              </div>

            </div>
          </div>

          <div
            class="operation-area"
            *ngIf="(liveInfo.latestUsers.length > 0) || (currentUserInfo && liveInfo.isAdmin(currentUserInfo.uid))"
          >
            <div class="people-count" *ngIf="liveInfo.latestUsers.length > 0">
              <img class="avatar" alt="" *ngFor="let audience of liveInfo.latestUsers" [src]="audience.avatar">
              <span class="total-users">
                {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
              </span>
            </div>

            <div class="btn"
                 *ngIf="!liveInfo.isClosed() && currentUserInfo && liveInfo.isAdmin(currentUserInfo.uid) && isSelf"
                 (click)="gotoVipInfo(liveInfo.id)">
              <i class="bi bi-invite"></i>
              邀请
            </div>
            <div class="btn"
                 *ngIf="liveInfo.isCreated() && currentUserInfo && liveInfo.isAdmin(currentUserInfo.uid) && isSelf"
                 (click)="goEditLiveRoom(liveInfo.id)">
              <i class="bi bi-edit"></i>
              编辑
            </div>
          </div>
        </div>

        <div class="bottom">
          <div class="word">已显示全部内容</div>
        </div>
      </div>

      <div class="main-list" [ngClass]="{'activate': tabIndex === 1}">
        <div class="live-room-info-upper" *ngFor="let liveInfo of livesListWatched">
          <div (click)="gotoLiveRoom(liveInfo.id)">

            <div class="live-title-wrapper">
              <div class="live-title">{{liveInfo.subject}}</div>
              <span class="live-type text" *ngIf="liveInfo.isTypeText()"><i class="bi bi-paper2"></i>文字</span>
              <span class="live-type video" *ngIf="liveInfo.isTypeVideo()"><i class="bi bi-video"></i>视频</span>
            </div>

            <div class="admin-info">
              <img class="admin-avatar" [src]="liveInfo.admin.avatar" alt="主持人头像"
                   (click)="gotoInfoCenter(liveInfo.admin.uid); $event.stopPropagation();">
              <div class="nick-wrapper">
                <div class="nick">{{liveInfo.admin.nick}}</div>
                <div class="time">
                  <span class="time" *ngIf="liveInfo.isCreated()">{{liveTime[liveInfo.id]}}</span>
                  <span class="time" *ngIf="liveInfo.isClosed()">{{liveTime[liveInfo.id]}}</span>
                  <span class="time"
                        *ngIf="liveInfo.isStarted()">已进行{{liveInfo.expectStartAt | timeToFormated:timeNow}}</span>
                </div>
              </div>
            </div>

            <div class="live-desc">{{liveInfo.desc}}</div>

            <live-cover class="live-cover" [liveInfo]="liveInfo"></live-cover>

            <div class="invited-people">
              <span class="vip-label">嘉宾</span>

              <div class="vip-container">
                <div class="accepted">
                  <div class="avatar-wrapper">
                    <img class="avatar" [src]="liveInfo.admin.avatar" alt="嘉宾头像">
                    <div class="tick"><i class="bi bi-tick"></i></div>
                  </div>

                  <span class="nick">{{liveInfo.admin.nick}}</span>
                </div>
              </div>

              <div class="vip-container" *ngFor="let vip of liveInfo.editors">
                <div class="accepted">
                  <div class="avatar-wrapper">
                    <img class="avatar" [src]="vip.avatar" alt="嘉宾头像">
                    <div class="tick"><i class="bi bi-tick"></i></div>
                  </div>

                  <span class="nick">{{vip.nick}}</span>
                </div>
              </div>
            </div>

          </div>

          <div class="operation-area" *ngIf="liveInfo && liveInfo.latestUsers.length > 0">
            <div class="people-count">
              <img class="avatar" alt="" *ngFor="let audience of liveInfo.latestUsers" [src]="audience.avatar">
              <span class="total-users">
                {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
              </span>
            </div>
          </div>

        </div>

        <div class="bottom">
          <div class="word">已显示全部内容</div>
        </div>
      </div>
    </div>
  </div>
</div>

<hamburger-menu class="hamburger-menu" *ngIf="!isInApp"></hamburger-menu>

<bd-loading class="loading" *ngIf="!pageUserInfo || isLoading"></bd-loading>
