<div class="info-center" *ngIf="pageUserInfo">
  <div class="top-bar">
    <a class="edit-btn" (click)="goToEdit()" *ngIf="!isAudience() && isSelf"><i class="bi bi-edit-btn"></i></a>
    <div class="space"></div>
    <a class="share-btn" (click)="popupShare()"><i class="bi bi-share"></i></a>
  </div>

  <div class="main-form">

    <div class="self-intro" >
      <div class="img-wrapper">
        <img class="avatar" [src]="pageUserInfo.avatar" alt="嘉宾头像">
      </div>
      <div class="name">{{pageUserInfo.nick}}</div>
      <div class="intro">{{pageUserInfo.intro}}</div>
    </div>

    <div class="split-div"></div>

    <div class="live-room-info-upper" *ngFor="let liveInfo of livesList">

      <div class="article" *ngIf="liveInfo && liveInfo.admin">

        <div class="title-wrapper">
          <div class="title">{{liveInfo.subject}}</div>
          <div class="indicator notstarted" *ngIf="liveInfo.isCreated()">未开始</div>
          <div class="indicator living" *ngIf="liveInfo.isStarted()">直播中</div>
          <div class="indicator notstarted" *ngIf="liveInfo.isClosed()">未开始</div>
        </div>

        <div class="talent">
          <img class="talent-avatar" [src]="liveInfo.admin.avatar" alt="">
          <div class="timenick-wrapper">
            <div class="nick">{{liveInfo.admin.nick}}</div>
            <div class="time">
              {{liveRoomStatusHumanize(liveInfo.status)}}
              <span class="countdown-day-item-day" *ngIf="liveInfo.isClosed()">
          {{liveInfo.closedAt | timeFormater:'YYYY.MM.DD HH:mm'}}
      </span>

              <span class="countdown-day-item-day" *ngIf="liveInfo.isCreated()">
        {{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:1}}:{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:2}}:{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:3}}
      </span>

              <span class="countdown-day-item-day" *ngIf="liveInfo.isStarted()">
        {{liveInfo.startedAt | timeTo:timeNow | durationFormater:1}}:{{liveInfo.startedAt | timeTo:timeNow | durationFormater:2}}:{{liveInfo.startedAt | timeTo:timeNow | durationFormater:3}}
      </span>
            </div>
          </div>
        </div>

        <div class="words">{{liveInfo.desc}}</div>
      </div>

      <div class="live-cover">
        <img [src]="liveInfo.coverUrl" alt="">
      </div>

      <div class="invited-people" *ngIf="liveInfo && liveInfo.editors">
        <div class="vips-container" *ngFor="let vip of liveInfo.editors">

          <div class="title">
            受邀嘉宾
          </div>
          <div class="content">

            <div class="avatar-container" *ngFor="let vip of liveInfo.editors">
              <div class="accepted" *ngIf="vip">
                <div class="accepted-wrapper">
                  <img class="avatar" [src]="vip.avatar" alt="嘉宾头像">
                  <div class="tick"><i class="bi bi-tick"></i></div>
                </div>
              </div>
              <p class="accept-nick" *ngIf="vip">{{vip.nick}}</p>

              <div class="invited" *ngIf="!vip">
                <div class="invited-wrapper">
                  <div class="invite-people-bg">
                    <i class="bi bi-people2"></i>
                  </div>
                </div>
              </div>
              <p class="invited-nick" *ngIf="!vip">{{vip.nick || '无名'}}</p>
            </div>

          </div>
        </div>
      </div>

      <div class="people-and-edit-btn">
        <div class="people-count">
          <div class="avatar-wrapper">
            <img [src]="user.avatar" class="avatar" alt="" *ngFor="let user of liveInfo.editors">
            <div class="total-users" *ngIf="liveInfo.isCreated() && liveInfo.editors.length>0">{{liveInfo.totalUsers >
              999 ? '999+' :
              liveInfo.totalUsers}}人观看
            </div>
          </div>
        </div>

        <div class="invite"
             *ngIf="liveInfo.isCreated() && currentUserInfo && liveInfo && liveInfo.admin && currentUserInfo.uid === liveInfo.admin.uid"
             (click)="goInvitation(liveInfo.id)">
          <i class="bi bi-envelop"></i>
          邀请
        </div>
        <div class="edit"
             *ngIf="liveInfo.isCreated() && currentUserInfo && liveInfo && liveInfo.admin && currentUserInfo.uid === liveInfo.admin.uid"
             (click)="goEditLiveRoom(liveInfo.id)">
          <i class="bi bi-edit-btn"></i>
          编辑
        </div>
      </div>

      <div class="split-div"></div>

    </div>

    <div class="bottom">
      <div class="word">已显示全部内容</div>
    </div>

    <div class="create-btn-wrapper" *ngIf="isSelf" (click)="goToCreateNewRoom()">
      <div class="create-btn">
        <i class="bi bi-cross"></i>
      </div>
    </div>

  </div>

</div>


<bd-loading class="loading" *ngIf="!pageUserInfo"></bd-loading>
