.audio-player-container {
  text-align: right;
  font-size: 16px;
  color: rgb(75, 75, 75);
  position: relative;

  &.theme-white {
    color: rgb(255, 255, 255);
  }

  .wave-component{
    float: left;
  }

  .bi-play {
    font-size: 28px;
  }

  .bi-wave {
    font-size: 24px;
    float: left;
    padding: 2px 0;
  }

  .dot {
    width: 5px;
    height: 5px;
    background: #ff0000;
    border-radius: 5px;
    margin: 0 11px 0 0;
    position: absolute;
    right: 0;
    bottom: -9px;
  }
}

  // .play, .playing {
  //   position: relative;
  //   width: 24px;
  //   height: 24px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   border: solid 2px rgba(255, 255, 255, 1);
  //   clip-path: polygon(100% 0, 100% 100%, 50% 50%);

  //   &:before {
  //     position: absolute;
  //     content: "";
  //     width: 16px;
  //     height: 16px;
  //     left: 50%;
  //     top: 50%;
  //     margin-top: -8px;
  //     margin-left: -8px;
  //     border-radius: 50%;
  //     border: solid 2px rgba(255, 255, 255, 1);
  //     box-sizing: border-box;
  //   }

  //   &:after {
  //     position: absolute;
  //     content: "";
  //     width: 8px;
  //     height: 8px;
  //     margin-top: -4px;
  //     margin-left: -4px;
  //     left: 50%;
  //     top: 50%;
  //     border: solid 4px rgb(255, 255, 255);
  //     border-radius: 50%;
  //     box-sizing: border-box;
  //   }
  // }

  // .playing {
  //   border: none;
  //   animation: playing-animation 2s infinite steps(2, end) forwards;

  //   &:before {
  //     border: none;
  //     animation: playing-animation 2s infinite steps(2, end) forwards;
  //   }
  // }

// @keyframes playing-animation {
//   0% {
//     border: solid 2px rgba(255, 255, 255, 0);
//   }
//   10% {
//     border: solid 2px rgba(255, 255, 255, 1);
//   }
//   100% {
//     border: solid 2px rgba(255, 255, 255, 1);
//   }
// }
