.audio-player-container {
  text-align: right;
  font-size: 16px;
  color: rgb(75, 75, 75);
  position: relative;

  &.theme-white {
    color: rgb(255, 255, 255);
  }

  .wave-component {
    float: left;
  }

  .bi-play {
    font-size: 28px;
  }
  .bi-pause-round {
    font-size: 28px;
  }

  .bi-wave {
    font-size: 24px;
    float: left;
    padding: 2px 0;
  }

  .dot {
    width: 5px;
    height: 5px;
    background: #ff0000;
    border-radius: 5px;
    margin: 0 11px 0 0;
    position: absolute;
    right: 0;
    top: -12px;
    right: -36px;
  }
}
