.audio-player-container {
  position: relative;
  display: flex;
  align-items: center;

  .audio-duration {
    width: 31px;
    text-align: right;
    flex-shrink: 0;
    font-size: 12px;
    padding-left: 5px;
    color: $color-gray;
  }

  .play-btn, .animation-playing-btn, .bi-sun-flow {
    flex-shrink: 0;
  }

  .bi-sun-flow {
    font-size: 14px;
    color: $color-gray;
  }

  .play-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: $color-brand;

    .bi-play-fill {
      margin-left: 1px;
      color: $color-w;
      font-size: 12px;
      transform: scale(.66);
    }
  }

  .animation-playing-btn {
    transform: scale(.65);
    transform-origin: top left;
    width: 18px;
    height: 18px;

    /deep/ {
      .playing-btn {
        border: solid 1px $color-brand;
        background-color: $color-w;

        .playing-btn-left, .playing-btn-right {
          .playing-btn-inner {
            background-color: $color-brand;
          }
        }

        .btn-center {
          background-color: $color-brand;
          width: 20px;
          height: 20px;
          left: 3px;
          top: 3px;

          .bi-pause {
            font-size: 13px;
            color: $color-w;
          }
        }
      }
    }
  }
}
