<div class="audio-player-container" [ngClass]="{'theme-white': isWhiteTheme}" (click)="playOrStopVoice()">

  <app-waving-progress [playing]="isPlaying&isLoaded" [isWhite]="isWhiteTheme" class="wave-component"></app-waving-progress>

  <span class="audio-duration">{{audioDuration}}秒</span>

  <!--未播放状态-->
  <div class="play-btn" *ngIf="!isPlaying">
    <i class="bi bi-play"></i>
  </div>

  <!--音频加载中-->
  <div class="play-btn" *ngIf="isPlaying&&!isLoaded">
    <i class="bi bi-sun-flow loading-animation"></i>
  </div>

  <!--加载完成并播放-->
  <playing-btn *ngIf="isPlaying&&isLoaded" class="animation-playing-btn" [audioDuration]="message.audio.duration / 1000"></playing-btn>
  <span class="dot" *ngIf="!isPlayed"></span>
</div>
