.playing-btn {
  position: relative;
  height: 26px;
  width: 26px;
  border: solid 1px rgb(75, 75, 75);
  border-radius: 50%;
  box-sizing: content-box;
  background-color: rgb(75, 75, 75);
  display: flex;

  &.playing {
    .playing-btn-left {
      .playing-btn-inner {
        animation: play-duration-left linear;
      }
    }

    .playing-btn-right {
      .playing-btn-inner {
        animation: play-duration-right linear;
      }
    }
  }

  .playing-btn-left, .playing-btn-right {
    position: relative;
    height: 26px;
    width: 13px;
    overflow: hidden;

    .playing-btn-inner {
      position: absolute;
      height: 26px;
      width: 13px;
      left: 0;
      top: 0;
      opacity: 0;
      border-radius: 13px 0 0 13px;
      background-color: rgb(224, 229, 234);
      transform-origin: 100% 50%;
      transform: rotate(0deg);
    }
  }

  .playing-btn-right {
    transform: rotate(180deg);
  }

  .btn-center {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 2px;
    top: 2px;
    background-color: rgb(224, 229, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .bi-pause {
      font-size: 12px;
      color: rgb(75, 75, 75);
      transform: scale(0.66);
    }
  }
}

@keyframes play-duration-left {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}

@keyframes play-duration-right {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}
