<div class="audio-bar">
  <audio
    #audio
    class="audio"
    preload="metadata"
    [src]="audioUrl"
    (play)="isAudioPlaying = true; emitEvent($event.type, $event);"
    (playing)="isAudioPlaying = true; emitEvent($event.type, $event);"
    (ended)="isAudioPlaying = false; resetProgressBar(); emitEvent($event.type, $event);"
    (pause)="isAudioPlaying = false; emitEvent($event.type, $event);"
    (canplay)="isAudioLoading = false; emitEvent($event.type, $event);"
    (waiting)="isAudioLoading = true; emitEvent($event.type, $event);"
    (progress)="resetBuffer(); emitEvent($event.type, $event);"
    (loadeddata)="isAudioLoading = false; resetBuffer(); emitEvent($event.type, $event);"
    (loadstart)="isAudioLoading = true; emitEvent($event.type, $event);"
    (loadedmetadata)="isAudioLoading = false; timeupdate(); emitEvent($event.type, $event);"
    (timeupdate)="timeupdate(); emitEvent($event.type, $event);"
    (seeking)="seeking = true; emitEvent($event.type, $event);"
    (seeked)="seeked(); emitEvent($event.type, $event);"
    (reset)="resetProgressBar(); emitEvent($event.type, $event);"
  ></audio>
  <div class="play-btn" (click)="togglePlay()">
    <circle-loading class="loading" *ngIf="isAudioLoading"></circle-loading>
    <i class="bi bi-pause" *ngIf="!isAudioLoading && isAudioPlaying"></i>
    <i class="bi bi-play-fill" *ngIf="!isAudioLoading && !isAudioPlaying"></i>
  </div>
  <div class="bar">
    <!--<div class="duration">{{duration.format('mm:ss', {trim: false})}}</div>-->
    <div
      class="control"
      #control
      (mousedown)="mouseDown($event)"
      (touchstart)="touchStart($event)"
      (touchmove)="cursorMoveHandler($event)"
      (touchend)="cursorUpHandler($event)"
    >
      <div class="background">
        <div class="buffer" #buffer></div>
        <div class="current" #current></div>
        <div class="cursor" #cursor></div>
      </div>
    </div>
    <div class="remain">-{{remain.format('mm:ss', {trim: false})}}</div>
  </div>
</div>
