.wave {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  >div {
    border-left: 1px solid #333;
    display: inline-block;
    margin-left: 2px;
  }
}

.wave.waving {

  .wave-animation0 {
    animation: waveFrames2 ease 0.3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: waveFrames2 ease 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
  }

  .wave-animation1 {
    animation: waveFrames2 ease 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: waveFrames2 ease 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
  }

  .wave-animation2 {
    animation: waveFrames2 ease 0.6s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: waveFrames2 ease 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
  }

  .wave-animation3 {
    animation: waveFrames2 ease 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: waveFrames2 ease 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
  }
}

@keyframes waveFrames2 {
  0% {
    transform: scaleY(1.00);
  }
  50% {
    transform: scaleY(0.30);
  }
  100% {
    transform: scaleY(1.0);
  }
}
