<div class="wave" [class.waving]="playing" [class.white-border]="isWhite">
  <div class="wave-animation0" style="height: 1px;">
  </div>
  <div class="wave-animation1" style="height: 3px;">
  </div>
  <div class="wave-animation2" style="height: 1px;">
  </div>
  <div class="wave-animation0" style="height: 5px;">
  </div>
  <div class="wave-animation1" style="height: 11px;">
  </div>
  <div class="wave-animation2" style="height: 5px;">
  </div>
  <div class="wave-animation3" style="height: 15px;">
  </div>
  <div class="wave-animation1" style="height: 5px;">
  </div>
  <div class="wave-animation2" style="height: 19px;">
  </div>
  <div class="wave-animation3" style="height: 11px;">
  </div>
  <div class="wave-animation0" style="height: 15px;">
  </div>
  <div class="wave-animation1" style="height: 3px;">
  </div>
  <div class="wave-animation2" style="height: 19px;">
  </div>
  <div class="wave-animation1" style="height: 15px;">
  </div>
  <div class="wave-animation1" style="height: 11px;">
  </div>
  <div class="wave-animation2" style="height: 9px;">
  </div>
  <div class="wave-animation3" style="height: 5px;">
  </div>
  <div class="wave-animation0" style="height: 21px;">
  </div>
  <div class="wave-animation1" style="height: 25px;">
  </div>
  <div class="wave-animation3" style="height: 19px;">
  </div>
  <div class="wave-animation0" style="height: 27px;">
  </div>
  <div class="wave-animation1" style="height: 25px;">
  </div>
  <div class="wave-animation2" style="height: 11px;">
  </div>
  <div class="wave-animation3" style="height: 27px;">
  </div>
  <div class="wave-animation0" style="height: 15px;">
  </div>
  <div class="wave-animation1" style="height: 11px;">
  </div>
  <div class="wave-animation2" style="height: 21px;">
  </div>
  <div class="wave-animation0" style="height: 15px;">
  </div>
  <div class="wave-animation1" style="height: 19px;">
  </div>
  <div class="wave-animation2" style="height: 27px;">
  </div>
  <div class="wave-animation3" style="height: 5px;">
  </div>
  <div class="wave-animation0" style="height: 11px;">
  </div>
  <div class="wave-animation1" style="height: 15px;">
  </div>
  <div class="wave-animation2" style="height: 11px;">
  </div>
  <div class="wave-animation3" style="height: 27px;">
  </div>
  <div class="wave-animation0" style="height: 17px;">
  </div>
  <div class="wave-animation1" style="height: 9px;">
  </div>
  <div class="wave-animation2" style="height: 5px;">
  </div>
  <div class="wave-animation3" style="height: 17px;">
  </div>
  <div class="wave-animation0" style="height: 15px;">
  </div>
  <div class="wave-animation2" style="height: 11px;">
  </div>
  <div class="wave-animation3" style="height: 11px;">
  </div>
  <div class="wave-animation0" style="height: 3px;">
  </div>

  <div class="wave-animation2" style="height: 7px;">
  </div>
  <div class="wave-animation3" style="height: 5px;">
  </div>
  <div class="wave-animation0" style="height: 3px;">
  </div>
  <div class="wave-animation1" style="height: 1px;">
  </div>
</div>
