.animation {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 30px;
  margin-right: -15px;
  will-change: animation;
  transform-origin: center;
  animation-fill-mode: forwards!important;

  .animation-image {
    display: inline-block;
    height: 30px;
    width: 30px;
    will-change: animation;
    transform-origin: center;
    animation-fill-mode: forwards!important;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &.animation1, &.animation2 {
    .animation-image {
      animation: praised-animations-y 3s ease-in;
    }
  }

  &.animation1 {
    animation: praised-animations-x1 5s ease-out;
  }

  &.animation2 {
    animation: praised-animations-x2 5s ease-out;
  }

  &.mine-animation1, &.mine-animation2 {
    .animation-image {
      animation: mine-praised-animations-y 3s ease-in 1s;
    }
  }

  &.mine-animation1 {
    animation: mine-popup-animations .6s ease-in, mine-praised-animations-x1 5s ease-out 1s;
  }

  &.mine-animation2 {
    animation: mine-popup-animations .6s ease-in, mine-praised-animations-x2 5s ease-out 1s;
  }
}

@keyframes praised-animations-x1 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes praised-animations-x2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes praised-animations-y {
   0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(-200px) scale(0);
  }
}

@keyframes mine-popup-animations {
  0% {
    transform: translateY(0px) scale(0.5) rotateY(-180deg);
  }
  20% {
    transform: translateY(-20px) scale(0.5) rotateY(-180deg);
  }
  30% {
    transform: translateY(-20px) scale(0.5) rotateY(-180deg);
  }
  50% {
    transform: translateY(-20px) scale(1) rotateY(-180deg);
  }
  80% {
    transform: translateY(-20px) scale(1) rotateY(-180deg);
  }
  100% {
    transform: translateY(-20px) scale(1) rotateY(0deg);
  }
}

@keyframes mine-praised-animations-x1 {
  0% {
    transform: translateX(0px) translateY(-20px);
  }
  50% {
    transform: translateX(20px) translateY(-20px);
  }
  100% {
    transform: translateX(0px) translateY(-20px);
  }
}

@keyframes mine-praised-animations-x2 {
  0% {
    transform: translateX(0px) translateY(-20px);
  }
  50% {
    transform: translateX(-20px) translateY(-20px);
  }
  100% {
    transform: translateX(0px) translateY(-20px);
  }
}

@keyframes mine-praised-animations-y {
  0% {
    transform: translateY(0px) scale(1) rotateY(0deg);
  }
  100% {
    transform: translateY(-200px) scale(0) rotateY(0deg);
  }
}

