.text-popup-container {
  display: none;
  font-size: 20px;
  &.opened {
    display: flex;
    flex-direction: column;
  }
  .tip{
    font-size:12px;
    color:#aaa;
    margin-bottom: 20px;
  }
  padding: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index:999;
}
