.live-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-w;
  overflow: auto;

  .live-info-block {
    padding: 0 12px 12px;
    border-bottom: solid 1px rgba(211, 211, 211, .5);

    .admin-info {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, .9);
      padding: 12px 0;
      display: flex;

      .admin-info-wrapper {
        display: inline-flex;
        align-items: center;
      }

      .avatar {
        flex-shrink: 0;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: solid 1px rgb(250, 250, 250);
      }

      .nick {
        flex-shrink: 0;
        color: $color-dark-gray;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 6px;
        line-height: 1em;
      }
    }

    // pc position: sticky not support fallback
    @supports not (position: sticky) {
      @media (min-width: 768px) {
        position: relative;

        &:before {
          content: "";
          display: block;
          height: 50px;
        }

        .admin-info {
          position: absolute;
          left: 0px;
          right: 0px;
          padding: 12px;
        }

        &.entered {
          .admin-info {
            position: fixed;
            left: calc((100% - 768px) / 2);
            right: calc((100% - 768px) / 2 + 15px);
            z-index: 2;
          }
        }

      }
    }

    .live-title-wrapper {
      display: flex;

      .live-type {
        flex-shrink: 0;
        font-size: 12px;
        display: flex;
        align-items: flex-start;
        margin-left: 10px;
        line-height: 20px;

        &.text {
          color: rgb(165, 158, 158);
        }

        &.video {
          color: rgb(147, 158, 165);
        }

        .bi {
          margin-right: 3px;
          line-height: 20px;
        }
      }

      .live-title {
        flex-grow: 1;
        color: $color-dark-gray;
        font-weight: 600;
        font-size: 17px;
        line-height: 1.3em;
        margin-bottom: 5px;
        word-break: break-all;
      }
    }

    .live-info {
      display: flex;
      line-height: 1em;
      color: $color-gray;
      font-size: 14px;
      margin-bottom: 10px;

      .onlines-count {
        position: relative;
        margin-left: 5px;
        padding-left: 5px;

        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          transform: translateX(-50%) translateY(-55%);
          height: 80%;
          width: 1px;
          background-color: $color-gray;
        }
      }
    }

    .cover-container {
      position: relative;
      margin-bottom: 10px;

      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 51.4%;
      }

      .cover {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .live-status {
        position: absolute;
        left: 12px;
        top: 12px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 4px;
        line-height: 1em;

        &.closed {
          background-color: rgb(102, 102, 102);
          font-size: 12px;
          color: $color-w;
        }

        &.living {
          background-color: rgb(243, 33, 33);
          font-size: 12px;
          color: $color-w;

          &:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-w;
            margin-right: 4px;
          }
        }
      }

      .count-down {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
      }
    }

    .desc {
      font-size: 14px;
      color: $color-gray;
      line-height: 1.28em;
      white-space: pre-line;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .loading-foot {
    display: block;
    padding: 10px 0;
    text-align: center;

    &.show {
      opacity: 1;
    }

    &.hide {
      transition: 1s ease all;
      opacity: 0;
    }
  }

  .bottom {
    display: flex;
    height: 62px;

    .word {
      margin: auto;
      font-size: 16px;
      color: $color-gray;
    }
  }
}

.loading, .no-record-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: $color-gray;
  transform: translateX(-50%) translateY(-50%);
}

.hamburger-menu {
  position: fixed;
  z-index: 3;
  right: 12px;
  bottom: 67px;
}
