<div class="live-list scrollable" (scroller)="onScroll($event)" [data]="livesList"
     [dataContainerSelector]="'.main-list'" [needUnload]="false">
  <div class="main-list">
    <div class="live-info-block" *ngFor="let liveInfo of livesList" (click)="gotoLiveRoom(liveInfo.id)">
      <div class="admin-info" (click)="gotoInfoCenter(liveInfo.admin.uid);$event.stopPropagation();">
        <img class="avatar" [src]="liveInfo.admin.avatar" alt="主持人头像">
        <span class="nick">{{liveInfo.admin.nick}}</span>

        <span class="live-status living" *ngIf="liveInfo.isStarted()">直播中</span>
        <span class="live-status ended" *ngIf="liveInfo.isClosed()">已结束</span>
        <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt" [countDownStatus]="liveInfo.isCreated()"></count-down>
      </div>

      <div class="live-title">{{liveInfo.subject}}</div>

      <div class="live-info">
        <span class="time">{{liveTime[liveInfo.id]}}</span>
        <span class="onlines-count">{{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人</span>
      </div>

      <div class="cover-container">
        <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt" [countDownStatus]="liveInfo.isCreated()"></count-down>
        <img class="cover" [src]="covers[liveInfo.id]" alt="直播封面">
      </div>

      <div class="desc">{{liveInfo.desc}}</div>
    </div>

    <div class="bottom" *ngIf="isOnLatest">
      <div class="word">已显示全部内容</div>
    </div>
  </div>

  <bd-loading *ngIf="!isOnLatest" class="loading-foot"
              [ngClass]="{show: scroller.isFootLoadingShown, hide:!scroller.isFootLoadingShown}"></bd-loading>
</div>

<div class="create-btn" (click)="gotoCreateOrApply()">
  <i class="bi bi-cross"></i>
</div>

<bd-loading class="loading" *ngIf="!livesList"></bd-loading>
