<div class="audience-bottom-bar scrollable">
  <a class="bottom-bar-btn" (click)="popupShare()"><i class="bi bi-share"></i></a>
  <a class="bottom-bar-btn" (click)="gotoPostMessage()"><i class="bi bi-keyboard"></i></a>
  <a class="bottom-bar-btn" (click)="gotoPushComment()"><i class="bi bi-chat1"></i></a>
  <a class="bottom-bar-btn" (click)="popupBottomSelector()"><i class="bi bi-more"></i></a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😄</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😊</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😍</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😜</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😂</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😭</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😅</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😱</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😆</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😎</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😴</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">😏</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">🙌</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">👏</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">🎁</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()">🎉</a>
</div>
