<div class="editor-bottom-bar">
  <a class="share-btn" (click)="popupShare()" (contextmenu)="$event.preventDefault()"><i class="bi bi-share"></i></a>
  <a class="post-btn" (click)="gotoPostMessage()" (contextmenu)="$event.preventDefault()"><i class="bi bi-keyboard"></i></a>
  <div class="record-btn-container"
    [ngClass]="{recording: isRecording}"
    (contextmenu)="startRecord()"
    (touchend)="stopRecord()"
    (panup)="cancelRecord()"
    (contextmenu)="$event.preventDefault()"
  >
    <a class="record-btn">
      <i class="bi bi-mic"></i>
    </a>
  </div>
  <a class="push-comment-btn" (click)="gotoPushComment()" (contextmenu)="$event.preventDefault()"><i class="bi bi-chat1"></i></a>
  <a class="more-op-btn" (click)="popupBottomSelector()" (contextmenu)="$event.preventDefault()"><i class="bi bi-more"></i></a>
</div>

<div class="record-background" *ngIf="isRecording">
  <div class="record-container" *ngIf="isRecording && !isCanceled && !isTooShort">
    <div class="icon-wrapper">
      <i class="bi bi-mic"></i>
    </div>
    <span class="tips">手指上划，取消发送</span>
  </div>
  <div class="record-container" *ngIf="isCanceled">
    <i class="bi bi-cancel"></i>
    <span class="tips">已取消发送</span>
  </div>
  <div class="record-container" *ngIf="isTooShort">
    <i class="bi bi-warning"></i>
    <span class="tips">说话时间太短</span>
  </div>
</div>
