.live-room-audience-bottom-bar {
  box-sizing: border-box;
  border-top: solid 1px rgba(143, 143, 143, .3);
  font-size: 0;
  background-color: rgb(250, 250, 250);
  height: 50px;
  line-height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &::-webkit-scrollbar, &::-webkit-scrollbar-track {
    display: none;
  }

  .bottom-bar-btn {
    display: inline-block;
    text-align: center;
    font-size: medium;
    width: 18.18%;
  }
}
