<div class="live-room-audience-bottom-bar scrollable">
  <a class="bottom-bar-btn" (click)="popupShare()">转</a>
  <a class="bottom-bar-btn face1" (click)="gotoPostComment()">发</a>
  <a class="bottom-bar-btn face1" (click)="gotoPushDanmu()">评</a>
  <a class="bottom-bar-btn face1" (click)="popupBottomSelector()">更多</a>
  <a class="bottom-bar-btn hand" href="">赞</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
</div>
