<div class="live-room-audience-bottom-bar">
  <a class="bottom-bar-btn" href="">转</a>
  <a class="bottom-bar-btn face1" (click)="gotoPostComment()">发</a>
  <a class="bottom-bar-btn face1" href="">评</a>
  <a class="bottom-bar-btn face1" (click)="popupBottomSelector()">更多</a>
  <a class="bottom-bar-btn hand" href="">赞</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
  <a class="bottom-bar-btn face1" href="">脸</a>
</div>
