<div
  class="record-background"
  [ngClass]="{
    'waitting': status === recordStatusEnum.Waitting,
    'preparing': status === recordStatusEnum.Preparing,
    'recording': status === recordStatusEnum.Recording,
    'ready-to-cancel': status === recordStatusEnum.ReadyToCancel,
    'canceled': status === recordStatusEnum.Canceled,
    'too-short': status === recordStatusEnum.TooShort
  }"
>
  <div class="tips preparing-tips">
    <i class="bi bi-mic"></i>
    录音准备中
  </div>
  <div class="tips recording-tips">
    <span class="recording-icon-container" *ngIf="recordCountDown > 10">
      <i class="bi bi-mic white"></i>
      <i class="bi bi-mic brand-color"></i>
    </span>
    <span class="record-count-down" *ngIf="recordCountDown <= 10">{{recordCountDown}}</span>
    手指上划，取消发送
  </div>
  <div class="tips ready-to-cancel-tips">
    <i class="bi bi-cancel"></i>
    手指松开, 取消发送
  </div>
  <div class="tips canceled-tips">
    <i class="bi bi-cancel"></i>
    录音已取消
  </div>
  <div class="tips too-short-tips">
    <i class="bi bi-warning"></i>
    说话时间太短
  </div>
</div>
