.record-background {
  position: relative;
  display: flex;
  height: 213px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  touch-callout: none;
  user-select: none;

  .record-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(33, 150, 243);
    transform: translateX(-50%) translateY(-50%);
    opacity: .5;
    transition: opacity .5s;
  }

  .text, .bi-cancel, .bi-warning, .bi-up-arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(33, 150, 243);
    font-size: 14px;
    transition: opacity .5s;
    pointer-events: none;
  }

  .text {
    opacity: 1;
    white-space: nowrap;
  }

  .bi-cancel, .bi-warning, .bi-up-arrow {
    font-size: 45px;
    opacity: 0;
  }

  .bi-cancel {
    margin-left: -2px;
    margin-top: -2px;
  }

  .border {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 112px;
    width: 112px;
    border-radius: 50%;
    background-color: rgb(17, 75, 122);
    transform: translateX(-50%) translateY(-50%) scale(.803);
    transform-origin: center;
    transition: transform .5s;
  }

  .border-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 86px;
    width: 86px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%) translateY(-50%) scale(1);
    transform-origin: center;
    transition: transform .5s;
  }

  .tips {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity .5s;
    white-space: nowrap;
  }

  &.preparing {
    .border {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }

    .border-inner {
      transform: translateX(-50%) translateY(-50%) scale(0.93);
    }

    .preparing-tips {
      opacity: 1;
    }

    .record-container {
      opacity: 1;
    }

    .text {
      opacity: 0;
    }
  }

  &.recording {
    .border {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }

    .border-inner {
      transform: translateX(-50%) translateY(-50%) scale(0.93);
    }

    .recording-tips {
      opacity: 1;
    }

    .record-container {
      opacity: 1;
    }

    .text {
      opacity: 0;
    }
  }

  &.canceled {
    pointer-events: none;

    .canceled-tips {
      opacity: 1;
    }

    .record-container {
      opacity: 0;
    }

    .bi-cancel {
      opacity: 1;
    }

    .text {
      opacity: 0;
    }
  }

  &.too-short {
    pointer-events: none;

    .too-short-tips {
      opacity: 1;
    }

    .record-container {
      opacity: 0;
    }

    .bi-warning {
      opacity: 1;
    }

    .text {
      opacity: 0;
    }
  }

  &.uploading {
    pointer-events: none;

    .uploading-tips {
      opacity: 1;
    }

    .record-container {
      opacity: 0;
    }

    .bi-up-arrow {
      opacity: 1;
    }

    .text {
      opacity: 0;
    }
  }
}
