.show-page {
  .banner-blur {
    display: flex;
    margin: 12px 12px auto;
    height: 180px;
    background-image: url("../../../assets/img/liveroombanner-blur.jpg");
  }
  .countdown-container {
    margin: auto;
    .countdown-day {
      display: flex;
      justify-content: space-between;
      width: 282px;
      color: rgb(255,255,255);
      letter-spacing: 0px;
      .countdown-day-item {
        //flex-grow: 1;
        .countdown-day-item-day {
          font-size: 40px;
        }
        .countdown-day-item-day-cn {
          font-size: 20px
        }
      }
    }
    .countdown-date {
      display: flex;

      width: 282px;
      font-size: 12px;
      color: rgb(255,255,255);
      letter-spacing: 0px;
      .countdown-date-time {
        flex-grow: 0;
      }
      .countdown-date-splitleft,.countdown-date-splitright {
        flex-grow: 1;
        margin-right: 5px;
        margin-top: 9px;
        border: 1px solid rgb(151,151,151);
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
      }
    }
  }

  .article {
    margin-top: 33px;
    position: relative;
    padding-bottom: 60px;
    &:after {

      position: absolute;
      margin-top: 40px;
      left: 50%;
      content: "";
      margin-left: -17px;
      width: 33.5px;
      border: 2px solid rgb(158,161,165);
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    .talent {
      display: inline-flex;
      margin: 13px;
      height: 24px;
      font-size: 14px;
      color: rgb(158,161,165);
      letter-spacing: 0px;
        .talent-avatar{
          height: 100%;
          border-radius: 24px;
        }
        .talent-info{
          margin-left: 10px;
          padding-top:3px;
          font-size: 14px;
          color: rgb(158,161,165);
          letter-spacing: 0px;}
    }
    .title {
      margin: 23px 12px 20px;
      text-align: justify;
      font-size: 20px;
      color: rgb(75,75,75);
      letter-spacing: 0.58px;
      line-height: 28px;
    }
    .words {
      margin: 5px auto 5px;
      width: 234px;
      word-break: break-all;
      font-size: 16px;
      color: rgb(158,161,165);
      letter-spacing: 0px;
      line-height: 24px;

    }
  }
}

.live-ended {
  margin-top: 40px;
  bottom: 50px;
  text-align: center;

  .split-line {
    opacity: 0.5;
    border: 0.5px solid rgb(143,143,143) ;
    width: 100vw;
  }
  .ended-title-container {
    height: 112px;
    border-top: solid 1px rgba(143, 143, 143, 0.5);
    border-bottom: solid 1px rgba(143, 143, 143, 0.5);

    .ended-title {
      padding-top: 30px;
      font-size: 24px;
      color: #4B4B4B;
      letter-spacing: 0px;
      line-height: 20px;
    }
    .ended-date {
      margin-top: 9px;
      font-size: 12px;
      color: #4B4B4B;
      letter-spacing: 0px;
      line-height: 20px;
    }

  }
  .ended-review {
    margin: 40px auto 50px;

    .baiding-icon-paper {
      font-size: 59px;
    }
    .published {
      margin-top: 8px;
      font-size: 14px;
      color: #4B4B4B;
      letter-spacing: 0px;
      line-height: 20px;
    }
    .read {
      margin-top: 30px;
      font-size: 16px;
      color: rgb(33,150,243);
      letter-spacing: -0.39px;
    }
  }

}
