.live-room-timeline-container {
  .operation-row {
    .comment, .comment-reply {
      display: flex;

      .avatar-container {
        flex-shrink: 0;
        flex-basis: 68px;
        width: 68px;
      }

      .content-container {
        .content-info {
          display: flex;

          .name {
            flex-grow: 1;
          }

          time {
            flex-shrink: 0;
          }
        }

        flex-grow: 1;
      }
    }

    .thumbs-up {
      flex-shrink: 0;
      flex-basis: 54px;
      width: 54px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .thumbs-up-btn, .thumbs-up-count {
        flex-shrink: 0;
      }
    }
  }
}

.operation-row {
  margin-bottom: 20px;

  .comment, .comment-reply {
    .avatar-container {
      .avatar {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 auto 2px;
      }

      .role {
        display: block;
        width: 40px;
        margin: 0 auto;
        background-color: rgb(224, 229, 234);
        padding: 4px 6px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 1em;
        text-align: center;
        color: rgb(75, 75, 75);
        transform: scale(0.833333333);/*10/12=0.833, font-size:10px*/
      }
    }

    .content-container .content {
      padding: 12px;
      background-color: rgb(237, 242, 247);
      color: rgb(75, 75, 75);
      border-radius: 10px;
      font-size: 14px;
      font-weight: lighter;
    }

    // 我的内容，用蓝色背景
    &.mime {
      .content-container .content {
        background-color: rgb(33, 150, 243);
        color: rgb(242, 242, 242);
      }
    }
  }

  .comment {
    &.has-reply {
      .content-container .content {
        position: relative;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        &:after {
          position: absolute;
          bottom: -13px;
          left: 0;
          content: "";
          width: 0px;
          height: 0px;
          border: solid 7px rgb(224, 229, 234);
          border-left-color: transparent;
          border-bottom-color: transparent;
          border-right-color: transparent;
        }
      }
    }

    &.mime {
      // 我的内容，并且有回复，设置下方的三角为蓝色
      &.has-reply {
        .content-container .content {
          &:after {
            border: solid 7px rgb(33, 150, 243);
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }

    .content-container {
      .content-info {
        line-height: 1em;
        margin-bottom: 4px;

        .name {
          margin: 0;
          color: rgb(75, 75, 75);
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        time {
          float: right;
          color: rgb(158, 161, 165);
          font-size: 12px;
        }
      }

      .content {
        background-color: rgb(224, 229, 234);
      }
    }

    .thumbs-up {
      text-align: center;
    }
  }

  .comment-reply {
    .content-container .content {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }

    &:after {
      content: "";
      flex-shrink: 0;
      flex-basis: 54px;
      width: 54px;
    }
  }

  .operation-bar {
    padding-left: 64px;
    padding-top: 7px;

    .share-btn, .comment-btn {
      display: inline-block;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
    }

    .thumbs-up-users {
      float: right;
      font-size: 0;

      .avatar {
        &:last-child {
          margin-right: 14px;
        }

        width: 23px;
        height: 23px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 12px;
        margin-right: -7px;
      }
    }
  }
}
