<div class="live-room-timeline-container">
  <div class="operation-row">
    <div class="comment mime">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">主持人</span>
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">吧吧吧吧吧吧吧</p>
          <time>29分钟前</time>
        </div>

        <div class="content">测试测试实测</div>
      </div>
      <div class="thumbs-up">
        <a class="thumbs-up-btn hand" href="">赞</a>
        <span class="thumbs-up-count">999+</span>
      </div>
    </div>

    <div class="operation-bar">
      <a class="share-btn" href="">享</a>
      <a class="comment-btn" href="">评</a>
      <div class="thumbs-up-users">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
      </div>
    </div>
  </div>

  <div class="operation-row">
    <div class="comment mime">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">主持人</span>
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">吧吧吧吧吧吧吧</p>
          <time>29分钟前</time>
        </div>

        <div class="content">测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测测试测试实测</div>
      </div>
      <div class="thumbs-up">
        <a class="thumbs-up-btn hand" href="">赞</a>
        <span class="thumbs-up-count">999+</span>
      </div>
    </div>

    <div class="operation-bar">
      <a class="share-btn" href="">享</a>
      <a class="comment-btn" href="">评</a>
      <div class="thumbs-up-users">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
      </div>
    </div>
  </div>

  <div class="operation-row">
    <div class="comment has-reply">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">主持人</span>
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">吧吧吧吧吧吧吧</p>
          <time>29分钟前</time>
        </div>

        <div class="content">测试测试实测</div>
      </div>
      <div class="thumbs-up">
        <a class="thumbs-up-btn hand" href="">赞</a>
        <span class="thumbs-up-count">999+</span>
      </div>
    </div>
    <div class="comment-reply mime">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">嘉宾</span>
      </div>
      <div class="content-container">
        <div class="content">杜晓峰 @吧吧吧吧吧吧吧<br/>测试测试实测</div>
      </div>
    </div>

    <div class="operation-bar">
      <a class="share-btn" href="">享</a>
      <a class="comment-btn" href="">评</a>
      <div class="thumbs-up-users">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
      </div>
    </div>
  </div>

  <div class="operation-row">
    <div class="comment has-reply mime">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">主持人</span>
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">吧吧吧吧吧吧吧</p>
          <time>29分钟前</time>
        </div>

        <div class="content">测试测试实测</div>
      </div>
      <div class="thumbs-up">
        <a class="thumbs-up-btn hand" href="">赞</a>
        <span class="thumbs-up-count">999+</span>
      </div>
    </div>
    <div class="comment-reply">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">嘉宾</span>
      </div>
      <div class="content-container">
        <div class="content">杜晓峰 @吧吧吧吧吧吧吧<br/>测试测试实测</div>
      </div>
    </div>

    <div class="operation-bar">
      <a class="share-btn" href="">享</a>
      <a class="comment-btn" href="">评</a>
      <div class="thumbs-up-users">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
      </div>
    </div>
  </div>

  <div class="operation-row">
    <div class="comment has-reply">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">主持人</span>
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">吧吧吧吧吧吧吧</p>
          <time>29分钟前</time>
        </div>

        <div class="content">测试测试实测</div>
      </div>
      <div class="thumbs-up">
        <a class="thumbs-up-btn hand" href="">赞</a>
        <span class="thumbs-up-count">999+</span>
      </div>
    </div>
    <div class="comment-reply">
      <div class="avatar-container">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <span class="role">嘉宾</span>
      </div>
      <div class="content-container">
        <div class="content">杜晓峰 @吧吧吧吧吧吧吧<br/>测试测试实测</div>
      </div>
    </div>

    <div class="operation-bar">
      <a class="share-btn" href="">享</a>
      <a class="comment-btn" href="">评</a>
      <div class="thumbs-up-users">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
        <img class="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
      </div>
    </div>
  </div>
</div>
