.comment-container {
  position: fixed;
  top: 58px;
  right: 14px;
  z-index: 2;
  max-width: 80%;

  .comment-wrapper {
    text-align: right;

    .comment {
      background-color: rgba(45, 45, 45, .7);
      border-radius: 16px;
      height: 31px;
      padding: 4px;
      padding-left: 12px;
      margin-bottom: 10px;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      color: rgb(242, 242, 242);
      font-size: 14px;
      max-width: 100%;

      .comment-content {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px;
      }

      .comment-avatar {
        flex-basis: 23px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        box-sizing: border-box;
        border: solid 1px rgb(255, 255, 255);
        margin-left: 5px;
      }
    }
  }
}
