.comments {
  position: absolute;
  top: 62px;
  right: 12px;
  max-width: 80%;
  z-index: 2;

  .tips-bar {
    margin: 6px 0 0 auto;
    width: 172px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgba(80, 80, 80, .7);
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
  }

  .comment-container {
    max-height: 152px;

    .loading-head, .loading-foot {
      display: flex;
      justify-content: flex-end;
      margin: 10px auto;

      /deep/ {
        .sk-three-bounce {
          transform: scale(.5);
          margin: 0;
        }
      }
    }

    .comment-container-inner {
      display: flex;
      flex-direction: column;
    }

    &::-webkit-scrollbar, &::-webkit-scrollbar-track {
      display: none;
    }

    .comment-wrapper {
      text-align: right;

      &:last-child {
        .comment {
          margin-bottom: 0;
        }
      }

      .comment {
        background-color: rgba(45, 45, 45, .7);
        border-radius: 16px;
        height: 28px;
        padding: 2px;
        padding-left: 12px;
        margin-bottom: 3px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        color: rgb(242, 242, 242);
        font-size: 12px;
        max-width: 100%;

        .comment-content {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0px;

          /deep/ {
            .highlight {
              color: rgb(24, 255, 255);
            }
          }
        }

        .comment-avatar {
          flex-basis: 24px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          box-sizing: border-box;
          border: solid 1px rgb(255, 255, 255);
          margin-left: 5px;
          flex-shrink: 0;
        }
      }
    }
  }
}
