<div class="comments">
  <div class="comment-container scroller scrollable" (scroller)="onScroll($event)" [data]="comments">
    <div class="comment-wrapper" *ngFor="let comment of comments">
      <div class="comment" *ngIf="comment.type === commentType.Text" (click)="gotoCommentList(comment)">
        <p class="comment-content" [innerHtml]="parseContent(comment)"></p>
        <img class="comment-avatar" [src]="comment.user.avatar">
      </div>
      <div class="comment" *ngIf="comment.type === commentType.AudienceJoined">
        <p class="comment-content" [innerHtml]="parseContent(comment)"></p>
        <img class="comment-avatar" [src]="comment.eventData.user.avatar">
      </div>
      <div class="comment" *ngIf="comment.type === commentType.CommentPushed">
        <p class="comment-content" [innerHtml]="parseContent(comment)"></p>
        <img class="comment-avatar" [src]="comment.eventData.comment_user.avatar">
      </div>
    </div>
  </div>

  <div class="tips-bar" (click)="triggerGotoLatest()" *ngIf="unreadCount !== 0 && !commentAtMe && !commentPushed">有{{unreadCount}}条新弹幕~</div>
  <div class="tips-bar" (click)="gotoCommentList(commentAtMe); commentAtMe = null;" *ngIf="commentAtMe && !commentPushed">{{commentAtMe.user.nick}}@了我</div>
  <div class="tips-bar" (click)="gotoCommentList(commentPushed); commentPushed = null;" *ngIf="commentPushed">我的评论被推送了</div>
</div>
