.record-background {
  position: absolute;
  height: 180px;
  width: 270px;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -135px;
  background-color: rgba(80, 80, 80, .7);
  transition: opacity .2s;
  border-radius: 12px;
  pointer-events: none;

  .tips {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 16px;
    color: $color-w;
    white-space: nowrap;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s;

    &.recording-tips {
      .record-count-down {
        font-size: 60px;
      }

      .recording-icon-container {
        position: relative;
        margin-bottom: 15px;

        .bi {
          margin-bottom: 0;
        }

        .brand-color {
          position: absolute;
          height: 0;
          width: 100%;
          bottom: 0;
          left: 0;
          color: $color-brand;
          overflow: hidden;
          animation: recordPercentage 60s ease forwards;

          &:before {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }

    .bi {
      font-size: 60px;
      margin-bottom: 15px;
    }
  }

  &.waitting {
    display: none;
  }

  &.preparing {
    .preparing-tips {
      opacity: 1;
    }
  }

  &.recording {
    .recording-tips {
      opacity: 1;
    }
  }

  &.ready-to-cancel {
    .ready-to-cancel-tips {
      opacity: 1;
    }
  }

  &.canceled {
    .canceled-tips {
      opacity: 1;
    }
  }

  &.too-short {
    .too-short-tips {
      opacity: 1;
    }
  }
}

@keyframes recordPercentage {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
  }
}
