<div [autoblur]="mode === modeEnums.None" (blurred)="mode = modeEnums.None" (click)="$event.stopPropagation();">
  <div class="audience-tool-bar">
    <a class="bottom-bar-btn"
       [ngClass]="{'activate': mode === modeEnums.None}"
       (click)="mode = modeEnums.None; goSettings();"
       (contextmenu)="$event.preventDefault()"
    >
      <i class="bi bi-gear"></i>
    </a>

    <comment-input
      class="comment-input"
      [ngClass]="{'activate':  mode === modeEnums.Text || mode === modeEnums.At}"
      [liveId]="liveId"
      [liveInfo]="liveInfo"
      [(mode)]="mode"
      [(commentContent)]="commentContent"
      (postSuccessful)="postSuccessful()"
    ></comment-input>

    <a
      class="bottom-bar-btn"
      [ngClass]="{'activate':  mode === modeEnums.None}"
      (click)="confirmPraise('👍')"
      (contextmenu)="$event.preventDefault()"
    ><i class="bi bi-thumbsup"></i></a>

    <a
      class="bottom-bar-btn"
      [ngClass]="{'activate': mode === modeEnums.None}"
      (click)="confirmPraise('💛')"
      (contextmenu)="$event.preventDefault()"
    ><i class="bi bi-heart"></i></a>

    <a
      class="bottom-bar-btn"
      [ngClass]="{'activate': mode === modeEnums.None}"
      (click)="confirmPraise('😄')"
      (contextmenu)="$event.preventDefault()"
    ><i class="bi bi-face"></i></a>
  </div>

  <at-keyboard
    class="at-keyboard"
    [ngClass]="{activate: mode === modeEnums.At}"
    [liveInfo]="liveInfo"
    [(inputContent)]="commentContent"
  ></at-keyboard>

</div>
