.at-people-keyboard {
  position: relative;
  height: 100%;
  overflow: auto;
  transition: height .5s;
  background: rgba(228, 228, 228, 1.0);

  &::-webkit-scrollbar, &::-webkit-scrollbar-track {
    display: none;
  }

  .user-row {
    display: flex;
    height: 84px;
    border-bottom: solid 1px rgb(198, 198, 198);
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .name {
      color: $color-dark-gray;
      font-size: 16px;
      margin-left: 10px;
      flex-grow: 1;
    }

    .tick {
      display: flex;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: solid 2px $color-brand;
      background-color: transparent;
      transition: background-color .5s;

      .bi {
        opacity: 0;
        font-size: 12px;
        color: $color-w;
        transition: all .5s;
        transform: scale(.666) translateX(-1px) translateY(1px);
        transform-origin: center center;
      }

      &.selected {
        background-color: $color-brand;

        .bi {
          opacity: 1;
        }
      }
    }
  }
}
