<div class="history-container">
  <div class="top-bar">
    <div *ngIf="liveInfo">
      <div class="history-title">
        <h1>{{liveInfo.title}}</h1>
        <a (click)="backToMainScreen()">进入</a>
      </div>
      <div class="history-info">
        <img class="avatar" [src]="liveInfo.host.avatar">
        <span class="name">{{liveInfo.host.nick}}</span>
        <time>{{liveInfo.closedAt}}</time>
      </div>
    </div>
  </div>

  <div class="messages-container scrollable">
    <div class="message" *ngFor="let message of messages">
      <span class="name">{{message.nick}}：</span>{{message.content}}
    </div>
  </div>

  <div class="bottom-bar">
    <div class="live-info">
      <i>评</i>
      999+
    </div>
    <div class="push-info">
      <i>推</i>
      12
    </div>
    <a class="filter-btn" href="">筛选</a>
  </div>
</div>

