.invite-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(75, 75, 75);
  z-index: 3;

  .invitation {
    position: relative;
    writing-mode: vertical-lr;
    padding: 40px 30px;
    font-size: 18px;
    height: 325px;
    width: 100%;
    border-bottom: solid 1px rgba(143, 143, 143, .5);

    .title {
      font-size: 20px;
      margin: 0;
      margin-right: 30px;
    }

    .live-title {
      overflow: hidden;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 100%;
    }

    p {
      line-height: 1em;
      margin: 0;
      margin-right: 15px;
    }

    .sign {
      position: absolute;
      bottom: 30px;
      right: 30px;

      .avatar {
        width: 24px;
        height: 24px;
        margin-bottom: 8px;
        border-radius: 50%;
        vertical-align: top;
      }

      .name {
        display: inline-block;
        line-height: 25px;
        font-size: 14px;
      }
    }
  }

  .operation-area {
    padding: 30px;
    font-size: 14px;

    .baiding-icon-more2 {
      display: inline-block;
      font-size: 12px;
      transform: scale(0.333);
      transform-origin: left;
      width: 20px;
      height: 4px;
      margin: 0 5px;
    }

    .baiding-icon-share2 {
      font-size: 16px;
      margin: 0 5px;
    }

    .btn-accept-invitation, .btn-goto-live {
      display: block;
      margin: 35px auto 0;
      width: 140px;
      height: 50px;
      line-height: 50px;
      background-color: rgb(33, 150, 243);
      border-radius: 25px;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 17px;
    }
  }
}
