<video
  *ngIf="hasVideo()"
  #videoPlayer
  class="video-js vjs-default-skin video-player"
  controls="controls"
  preload="none"
  webkit-playsinline
  playsinline
>
  <source *ngFor="let item of streamInfo.streamSrc" [src]="item.src" [type]="item.type">
  <source *ngFor="let item of streamInfo.playbackSrc" [src]="item.src" [type]="item.type">
</video>

<div class="live-cover" *ngIf="!isPlayed" (click)="play()">
  <img [src]="liveInfo.coverSmallUrl" alt="话题间封面">

  <h1>{{}}</h1>

  <i class="bi bi-play-fill" *ngIf="hasVideo()"></i>
</div>
