<div class="live-room-info-upper">
  <div class="live-cover">
    <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt" [countDownStatus]="liveInfo.isCreated()"></count-down>
    <img [src]="coverUrl" alt="">
  </div>

  <div class="info-status-wrapper">
    <div class="indicator living" *ngIf="liveInfo.isStarted()">进行中</div>
    <div class="indicator notstarted" *ngIf="liveInfo.isClosed()">已结束</div>
  </div>

  <div class="article">

    <div class="talent">
      <img class="talent-avatar" [src]="liveInfo.admin.avatar" alt="">
      <div class="talent-info">{{liveInfo.admin.nick}} / {{liveInfo.admin | role : liveInfo}}</div>
    </div>

    <div class="title">{{liveInfo.subject}}</div>

    <div class="words">{{liveInfo.desc}}</div>
  </div>

</div>
