<div class="live-room-info-upper">
  <div class="live-cover">
    <img [src]="coverUrl" alt="">
  </div>

  <count-down class="upper-countdown" [liveInfo]="liveInfo"></count-down>

  <div class="article">

    <div class="talent">
      <img class="talent-avatar" [src]="liveInfo.admin.avatar" alt="">
      <div class="talent-info">{{liveInfo.admin.nick}} / {{liveInfo.admin | role : liveInfo}}</div>
    </div>

    <div class="title">{{liveInfo.subject}}</div>

    <div class="words">{{liveInfo.desc}}</div>
  </div>

</div>
