.live-room-info-upper {
  position: relative;
  overflow: hidden;

  .article {
    margin: 20px;
    position: relative;
    overflow: hidden;

    .talent {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      .avatar {
        flex-shrink: 0;
      }

      .info {
        flex-grow: 1;
        margin-left: 10px;
        font-size: $font-size-sm;
        color: $color-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .title {
      margin-bottom: 12px;
      text-align: justify;
      font-size: $font-size-xxlg;
      color: $color-dark-gray2;
      line-height: 1.36em;
      word-break: break-all;
    }

    .words {
      font-size: $font-size-md;
      color: $color-dark-gray3;
      line-height: 1.68em;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}
