.live-room-info-upper {
  position: relative;
  overflow: hidden;

  .live-room-info-header {
    display: flex;
    margin-top: 20px;
    font-size: 16px;

    .online-people {
      margin-left: 23px;
      flex-grow: 1;
      flex-shrink: 1;

      .bi {
        font-size: 22px
      }
    }

    .close-button {
      text-align: end;
      margin-right: 23px;
      flex-grow: 1;
      flex-shrink: 1;
      color: rgba(75, 75, 75, 1);
    }
  }

  .info-status-wrapper {
    display: flex;
    position: absolute;
    top: 22px;
    left: 22px;

    .indicator {
      width: 59px;
      height: 20px;
      border-radius: 4px;
      line-height: 20px;
      text-align: center;
      flex-shrink: 0;

      &.notstarted {
        background-color: rgb(216, 216, 216);
        font-size: 12px;
        color: rgb(75, 75, 75);
      }

      &.living {
        display: flex;
        background-color: rgb(243, 33, 33);
        font-size: 12px;
        color: rgb(255, 255, 255);

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: rgb(255, 255, 255);
          margin-left: 8px;
          margin-right: 4px;
          margin-top: 7px;
        }
      }
    }
  }

  .live-cover {
    position: relative;
    display: flex;
    margin: 12px;
    margin-bottom: 7px;

    img {
      object-fit: cover;
      height: calc((100vw - 24px) * 0.51);
      width: calc(100vw - 24px);
    }

    .count-down {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .article {
    margin: 20px 12px 20px 12px;
    position: relative;
    overflow: hidden;

    .talent {
      display: flex;
      height: 24px;
      font-size: 14px;
      color: rgb(158, 161, 165);
      letter-spacing: 0px;
      overflow: hidden;

      .talent-avatar {
        height: 100%;
        border-radius: 24px;
      }

      .talent-info {
        margin-left: 10px;
        padding-top: 3px;
        font-size: 14px;
        color: rgb(158, 161, 165);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .title {
      margin: 10px auto 10px;
      text-align: justify;
      font-size: 20px;
      color: rgba(75, 75, 75, 1);
      letter-spacing: 0.58px;
      line-height: 28px;
      word-break: break-all;
    }

    .words {
      font-size: 16px;
      color: rgba(75, 75, 75, 1);
      letter-spacing: 0px;
      line-height: 24px;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}
