<div class="live-room-loading" *ngIf="!liveInfo">加载中...</div>

<div class="live-room-container" *ngIf="liveInfo">
  <div class="top-bar">
    <span class="online-count">观看人数</span>
    <a class="danmu-btn" (click)="isDanmuOpened = !isDanmuOpened">
      <i class="baiding-icon baiding-icon-chat2" *ngIf="!isDanmuOpened"></i>
      <i class="baiding-icon baiding-icon-chat2-disabled" *ngIf="isDanmuOpened"></i>
    </a>
  </div>

  <live-room-danmu *ngIf="isDanmuOpened" [streamId]="id"></live-room-danmu>

  <live-room-timeline class="live-room-timeline-component scrollable" timelineScroller #timeline></live-room-timeline>

  <live-room-audience-bottom-bar
    *ngIf="!isChildrenActived && isAudience()"
    class="live-room-audience-bottom-bar-component"
    [isOnLatest]="timeline.isOnLatest"
    [isOnNewest]="timeline.isOnNewest"
  ></live-room-audience-bottom-bar>

  <live-room-editor-bottom-bar
    *ngIf="!isChildrenActived && isEditor()"
    class="live-room-editor-bottom-bar-component"
    [liveId]="id"
    [isOnLatest]="timeline.isOnLatest"
    [isOnNewest]="timeline.isOnNewest"
  ></live-room-editor-bottom-bar>
</div>

<router-outlet></router-outlet>

