.live-room-loading{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.live-room-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.blured{
    filter: blur(5px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
  }

  .top-bar, .editor-bottom-bar, .audience-bottom-bar {
    flex-shrink: 0;
  }

  .timeline {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .praised-animations {
    position: absolute;
    width: 70px;
    height: 200px;
    bottom: 51px;
    right: 0;
    overflow: hidden;
  }
}

.top-bar {
  text-align: right;

  .comment-btn, .online-count {
    font-size: 20px;
    color: rgb(75, 75, 75);
    padding: 15px;
  }

  .comment-btn {
    display: inline-block;
  }

  .online-count {
    font-size: 14px;
    color: rgb(158, 161, 165);
    padding-right: 5px;
  }
}
