.live-room-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .top-bar, .live-room-editor-bottom-bar-component, .live-room-audience-bottom-bar-component {
    flex-shrink: 0;
  }

  .live-room-timeline-component {
    flex-grow: 1;
  }

  .live-room-praised-animations {
    position: absolute;
    width: 70px;
    height: 200px;
    bottom: 51px;
    right: 0;
    overflow: hidden;
  }
}

.top-bar {
  text-align: right;

  .danmu-btn, .online-count {
    font-size: 20px;
    color: rgb(75, 75, 75);
    padding: 15px;
  }

  .danmu-btn {
    display: inline-block;
  }

  .online-count {
    font-size: 14px;
    color: rgb(158, 161, 165);
    padding-right: 5px;
  }
}
