<bd-loading class="live-room-loading" *ngIf="!liveInfo"></bd-loading>

<live-room-info [liveInfo]="liveInfo"  *ngIf="liveInfo && showInfo" [(isShow)]="showInfo" (showBeginnerGuide)="toShowBeginnerGuide($event)"> </live-room-info>
<beginner-guide [showAdminGuide]="true" *ngIf="isEditor() && !showInfo"></beginner-guide>
<beginner-guide [showUserGuide]="true" *ngIf="isAudience() && !showInfo"></beginner-guide>

<div class="live-room-container" *ngIf="liveInfo" [ngClass]="{'blured': showInfo}">
  <top-bar
    class="top-bar"
    [onlineCount]="liveInfo.onlines"
    [(isCommentOpened)]="isCommentOpened"
    [isTimelineOnOldest]="timeline.isOnOldest"
    [isTimelineOnLatest]="timeline.isOnLatest"
  ></top-bar>

  <comments
    [ngClass]="{'hidden': !isCommentOpened}"
    [streamId]="id"
    [userInfo]="userInfo"
  ></comments>

  <timeline class="timeline" [liveInfo]="liveInfo" [userInfo]="userInfo" #timeline></timeline>

  <div class="praised-animations" praisedAnimation>
    <praised-animation *ngFor="let userAnim of liveInfo.praisedAnimations" [userAnim]="userAnim"></praised-animation>
  </div>

  <audience-bottom-bar
    *ngIf="!isChildrenActived && isAudience()"
    class="audience-bottom-bar"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
    [liveId]="id"
  ></audience-bottom-bar>

  <editor-tool-bar
    *ngIf="!isChildrenActived && isEditor()"
    class="editor-tool-bar"
    [liveId]="id"
    [liveInfo]="liveInfo"
  ></editor-tool-bar>

</div>

<router-outlet></router-outlet>
