<div class="live-room-container">
  <div class="top-bar">
    <a class="danmu-btn" href="">弹幕</a>
    <a class="room-thumbs-up-btn" href="">点赞</a>
  </div>

  <live-room-danmu></live-room-danmu>

  <live-room-timeline class="live-room-timeline-component"></live-room-timeline>

  <!-- <live-room-audience-bottom-bar class="live-room-audience-bottom-bar-component"></live-room-audience-bottom-bar> -->
  <live-room-editor-bottom-bar class="live-room-editor-bottom-bar-component"></live-room-editor-bottom-bar>

  <router-outlet></router-outlet>
</div>

