.notfound-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .notfound-container {
    margin: auto;
    display: flex;
    flex-direction: column;

    .bi {
      font-size: 115px;
    }

    .dogslogan {
      text-align: center;
      margin-top: 15px;
      font-size: 17px;
      color: rgb(75, 75, 75);
      line-height: 34px;
    }
  }
}

