.notfound-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .notfound-container {
    margin: auto;
    display: flex;
    flex-direction: column;

    .bi {
      font-size: 115px;
    }

    .dogslogan {
      text-align: center;
      margin-top: 15px;
      font-size: 17px;
      color: rgb(75, 75, 75);
      line-height: 34px;
    }

    .end-btn {
      margin-top: 40px;
      width: 200px;
      text-align: center;
      line-height: 50px;
      color: rgb(255, 255, 255);
      font-size: 17px;
      background-color: rgb(33, 150, 243);
      border-radius: 25px;
    }
  }
}

