.editor-tool-bar {
  position: relative;
  height: 55px;
  box-sizing: border-box;
  border-top: solid 1px rgb(227, 227, 227);
  font-size: 0;
  background-color: rgb(240, 240, 241);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;

  .border, .border-background {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    fill: rgb(240, 240, 241);
  }

  .border-background {
    top: -19px;
    fill: rgb(227, 227, 227);
  }

  .post-message, .settings {
    width: calc((100% - 70px) / 2);
    color: $color-dark-gray;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    .bi {
      font-size: 26px;
      margin-right: 6px;
    }

    &.activate {
      color: $color-brand;
    }
  }

  .record-btn-container {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 6px;
    left: 50%;
    margin-left: -30px;

    &.disabled {
      .record-btn .bi-mic {
        opacity: .3;
      }
    }

    &.activate {
      width: 180px;
      height: 180px;
      margin-left: -90px;

      .record-btn {
        color: $color-brand;
        border: solid 1px $color-brand;
      }
    }

    .record-btn {
      position: absolute;
      width: 60px;
      height: 60px;
      bottom: 0;
      left: 50%;
      margin-left: -30px;
      background-color: $color-w;
      border: solid 1px rgb(227, 227, 227);
      border-radius: 50%;
      color: $color-dark-gray;

      .bi-mic {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: opacity .5s;
        font-size: 28px;
      }
    }
  }
}

.recorder {
  display: block;
  height: 0;
  overflow: hidden;
  transition: height .5s;
  -webkit-user-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  user-select: none;

  &.activate {
    height: 213px;
  }
}

.post-message-container-hidden-wrapper {
  //for input-focus issue
  position: absolute;
  overflow: hidden;
  left: -1000px;

  &.activate {
    position: relative;
    left: 0;
  }

  .post-message-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(240, 240, 241);
    border-top: solid 1px rgb(212, 212, 212);
    transform-origin: top center;

    &.activate {
      display: flex;

      .switcher {
        display: inline-block;
      }
    }

    .post-image {
      position: relative;
      overflow: hidden;
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      width: 46px;
      font-size: 24px;

      .add-image {
        position: absolute;
        height: 100%;
        width: 100%;

        .file-selector {
          position: absolute;
          opacity: 0;
        }
      }
    }

    .input-container {
      position: relative;
      margin: 10px 0;
      background-color: rgb(255, 255, 255);
      border-radius: 16px;
      border: solid 1px rgb(219, 219, 219);
      flex-grow: 1;
      padding-right: 32px;

      &:first-child {
        margin-left: 10px;
      }

      .input-wrapper {
        margin: 9px 0 7px 8px;
      }

      .message-input {
        display: block;
        width: 100%;
        max-height: 49px;
        line-height: 1.2em;
        resize: none;
        background-color: transparent;
        color: $color-dark-gray;
        font-size: 14px;
        word-break: break-all;
      }

      .sender {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 3px;

        .bi {
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-brand;
          color: $color-w;
          border-radius: 50%;
          font-size: 12px;
        }
      }
    }

    .switcher {
      height: 55px;
      width: 46px;
      color: $color-dark-gray;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .bi {
        font-size: 24px;
      }
    }
  }
}

.setting-keyboard {
  height: 0;
  overflow: hidden;
  transition: height .5s;
  background: rgb(240, 240, 241);
  display: flex;
  flex-wrap: wrap;

  .btn {
    width: 25%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 12px;
    color: $color-dark-gray;

    &.disabled {
      opacity: .3;
    }

    .bi {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .switch-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      margin-bottom: 10px;
    }
  }

  &.activate {
    height: 181px;
  }
}

.at-keyboard {
  display: block;
  height: 0;
  overflow: hidden;

  &.activate {
    height: 252px;
  }
}
