<div class="live-room-info">
  <live-room-info-upper class="live-room-info-component" [liveInfo]="liveInfo"></live-room-info-upper>
  <div class="people-container">
    <div class="title">
      <i class="bi bi-people"></i>
      {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
    </div>
    <div class="people-count">
      <img class="avatar" alt="" *ngFor="let audience of liveInfo.editors" [src]="audience.avatar">
      <img class="avatar" alt="" *ngFor="let audience of liveInfo.audienceList" [src]="audience.avatar">
    </div>
  </div>
</div>

<button class="enter-room" (click)="toBeginnerGuide()">进入房间</button>
