.live-room-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;

  .live-room-info-component {
    display: block;
    position: relative;
  }

  .people-container {
    margin: auto 12px;
    .title {
      color: rgb(158, 161, 165);
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1em;

      .bi {
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    .people-count {
      display: flex;
      flex-wrap: wrap;
      .avatar {
        margin-top: 10px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
  }
}

.enter-room {
  position: absolute;
  z-index: 5;
  bottom: 0;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  background: rgba(3, 228, 210, 1);
  letter-spacing: 0px;
  line-height: 17px;
  height: 50px;
  width: 100%;
}
