.live-room-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;

  .live-room-info-header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 16px;

    .online-people {
      margin-left: 23px;
      flex-grow: 1;
      flex-shrink: 1;

      .bi {
        font-size: 22px
      }
    }

    .close-button {
      text-align: end;
      margin-right: 23px;
      flex-grow: 1;
      flex-shrink: 1;
      color: rgba(75, 75, 75, 1);
    }
  }

  .live-room-info-component {
    display: block;
    position: relative;
  }

  .button-wrapper {
    display: flex;

    .enter-room {
      background: rgba(33, 150, 243, 1);
      border-radius: 100px;
      font-size: 17px;
      color: rgba(255, 255, 255, 1);
      letter-spacing: 0px;
      line-height: 17px;
      height: 50px;
      width: 200px;
      margin: 20px auto;
    }
  }
}
