<div class="live-room-info">
  <div class="content">
    <live-room-info-upper class="live-room-info-component" [liveInfo]="liveInfo"></live-room-info-upper>

    <div class="people-container">
      <div class="title">
        <i class="bi bi-people"></i>
        {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
      </div>

      <div class="people-count">
        <img class="avatar" alt="" *ngFor="let audience of liveInfo.editors" [src]="audience.avatar">
        <img class="avatar" alt="" *ngFor="let audience of liveInfo.latestUsers" [src]="audience.avatar">
      </div>
    </div>
  </div>

  <div class="operation-area">
    <a class="btn notification" *ngIf="!liveInfo.booked && liveInfo.isCreated()" (click)="bookLive()"><i
      class="bi bi-clock"></i>开播提醒</a>
    <a class="btn notification turn-on" *ngIf="liveInfo.booked && liveInfo.isCreated()" (click)="unbookLive()"><i
      class="bi bi-clock"></i>已经开通</a>
    <a class="btn enter-room" (click)="gotoLive()">进入房间</a>
  </div>
</div>

<div class="qrcode-background" *ngIf="isQrcodeShown && !inApp" (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">{{liveInfo.subject}}</div>
      <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt"
                  [countDownStatus]="liveInfo.isCreated()"></count-down>
      <p class="tips">直播还未开始</p>
    </div>
    <div class="qrcode">
      <img class="qrcode-image" [src]="qrcode" alt="二维码">
      <p>长按二维码关注服务号</p>
      <p>开播会通知你</p>
    </div>
  </div>
</div>


<div class="qrcode-background" *ngIf="isQrcodeShown && inApp" (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">{{liveInfo.subject}}</div>
      <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt"
                  [countDownStatus]="liveInfo.isCreated()"></count-down>
      <p class="tips">直播还未开始</p>
    </div>
    <div class="noqrcode">
      <p>到微信公众号页搜索</p>
      <p>点击复制按钮或手动输入'xingshu100'</p>
      <div class="copyzaojiu" (click)="copyToClipboard('xingshu100')">复制微信公众号</div>
    </div>
  </div>
</div>
