<form [formGroup]="form" class="vip-info-container" (ngSubmit)="submit()" autofocus-first-invalid-input>
  <live-room-top-bar class="top-bar" [liveId]="liveId"></live-room-top-bar>

  <div class="vips-container block">
    <div class="title">
      已邀请嘉宾
    </div>
    <div class="content">
      <div class="avatar-container">
        <div class="accepted">
          <div class="accepted-wrapper">
            <img class="avatar" [src]="liveInfo.admin.avatar" alt="嘉宾头像">
            <div class="tick"><i class="bi bi-tick"></i></div>
          </div>
          <p class="nick">{{liveInfo.admin.nick}}</p>
        </div>
      </div>

      <div class="avatar-container" *ngFor="let vip of invitations">
        <div class="accepted" *ngIf="vip.userInfo">
          <div class="accepted-wrapper">
            <img class="avatar" [src]="vip.userInfo.avatar" alt="嘉宾头像">
            <div class="tick"><i class="bi bi-tick"></i></div>
          </div>
          <p class="nick">{{vip.userInfo.nick}}</p>
        </div>

        <div class="invited" *ngIf="!vip.userInfo" (click)="gotoInvitation(vip.token)">
          <div class="invited-wrapper">
            <div class="invite-people-bg">
              <i class="bi bi-people2"></i>
            </div>
          </div>
          <p class="nick">{{vip.name || '无名'}}</p>
        </div>
      </div>

      <div class="invite" (click)="gotoInvitationInfo()"></div>
    </div>
  </div>

  <div class="main-form">
    <div class="form-group" [ngClass]="{'has-error': form.controls['nick'].dirty && form.controls['nick'].invalid}">
      <div class="input-group">
        <input
          id="nick"
          class="nick"
          name="nick"
          type="text"
          formControlName="nick"
          [(ngModel)]="nick"
        >
        <label class="required">嘉宾名字</label>
      </div>
      <div *ngIf="form.controls['nick'].errors">
        <p class="helper error" *ngIf="form.controls['nick'].errors.required">请填写嘉宾名字</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['intro'].dirty && form.controls['intro'].invalid}">
      <div class="input-group">
        <textarea
          id="intro"
          class="intro"
          name="intro"
          formControlName="intro"
          [(ngModel)]="intro"
          rows="1"
          autoresize
        ></textarea>
        <label>嘉宾介绍</label>
      </div>
      <p class="helper" *ngIf="form.controls['intro'].valid || !form.controls['intro'].dirty">嘉宾介绍字数100字以内，可不填写</p>
      <div *ngIf="form.controls['intro'].errors">
        <p class="helper error" *ngIf="form.controls['intro'].errors.maxlength">请确认嘉宾介绍字数小于100字</p>
      </div>
    </div>
  </div>

  <div class="operation-area">
    <button class="btn" *ngIf="!isSubmitting">生成邀请函</button>
    <span class="btn disabled" *ngIf="isSubmitting">邀请函生成中...</span>
  </div>
</form>
