<div class="loading" *ngIf="isLoading">

</div>

<form class="vip-info-container" *ngIf="!isLoading" (ngSubmit)="submit()">
  <div class="top-bar">
    <div class="back-to-home" (click)="navigateBack()">返回</div>
    <div class="chat-info" *ngIf="unreadCount">
      <i class="bi bi-chat6"></i>
      {{unreadCount}}条新的消息
    </div>
  </div>

  <div class="vip-name-wrapper ">
    <div class="name">嘉宾名字</div>
    <div class="input-container">
      <input class="input" name="nameContent" [(ngModel)]="nameContent" autofocus></input>
    </div>
  </div>


  <div class="vip-intro-wrapper ">
    <div class="intro">嘉宾介绍</div>
    <span class="intro-word">简介字数100字以内，可不填写</span>
    <div class="input-container">
    <textarea class="input" name="introContent" [(ngModel)]="introContent"
              autofocus></textarea>
    </div>

  </div>

  <div class="button-wrapper">
    <button class="generate-invitation">生成邀请函</button>
  </div>
</form>
