<div class="top-bar">
  <div class="online-count">
    <i class="bi bi-info-center" *ngIf="!isInApp" (click)="gotoInfoCenter()"></i>

    <a class="oldest-btn" fade (click)="gotoOldest()">
      <i class="bi bi-up-arrow-round"></i>
      <span class="btn-text">回到开始</span>
    </a>
    <a class="latest-btn" fade (click)="gotoLatest()">
      <i class="bi bi-down-arrow-round"></i>
      <span class="btn-text">查看最新</span>
    </a>
  </div>

  <topbar-switch-btn class="switch-btn" [isCommentOpened]="isCommentOpened" [onlineCount]="onlineCount"
                     [isOpened]="isCommentOpened" [btnText]="btnText"
                     (toggling)="toggleComment($event)"></topbar-switch-btn>

  <a class="share-star-btn" (click)="gotoShareStar()" *ngIf="!isInApp&&!hiddenShare"><i
    class="bi bi-share-star"></i></a>
</div>
