.top-bar {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);

  .online-count {
    flex-grow: 1;
    font-size: 22px;
    margin-left: 14px;
    display: flex;

    .bi-info-center {
      margin-right: 16px;
    }

    .oldest-btn, .latest-btn {
      display: none;
      font-size: 0;
      color: $color-dark-gray;

      .btn-text {
        font-size: 16px;
        margin-left: 6px;
      }

      .bi {
        font-size: 22px;
        margin-left: 2px;
      }
    }

    .at-people {
      margin-left: 18px;
    }
  }

  .switch-btn, .share-btn {
    margin-right: 14px;
  }

  .share-btn {
    display: inline-flex;
    color: $color-dark-gray;
    font-size: 22px;
  }

}
