<div class="unread-count" *ngIf="!isOnBottom && unreadCount !== 0" (click)="triggerGotoLatest()">有{{unreadCount}}条话题间新消息<i class="bi bi-up-arrow2"></i></div>

<div class="timeline scrollable" (scroller)="onScroll($event)" [data]="messages" [dataContainerSelector]="'.data-container'">
  <bd-loading class="loading-head" *ngIf="scroller.isHeadLoadingShown"></bd-loading>

  <div class="data-container">
    <message #messagesComponents *ngFor="let message of messages"
             [liveId]="id"
             [message]="message"
             [userInfo]="userInfo"
             [liveInfo]="liveInfo"
             (audioPlayEnded)="audioPlayEnded(message)"
    ></message>
  </div>

  <bd-loading class="loading-foot" *ngIf="scroller.isFootLoadingShown"></bd-loading>
</div>

