<div class="timeline scroller scrollable" (scroller)="onScroll($event)">
  <div class="show-page" *ngIf="liveInfo && !isStarted()">

    <div class="banner-blur">

      <div class="countdown-container">
        <div class="countdown-day">
          <div class="countdown-day-item">
            <span class="countdown-day-item-day">{{timeNow | durationFormater:liveInfo.expectStartAt:0}}</span>
            <span class="countdown-day-item-day-cn">天</span>
          </div>
          <div class="countdown-day-item">
            <span class="countdown-day-item-day">{{timeNow | durationFormater:liveInfo.expectStartAt:1}}</span>
            <span class="countdown-day-item-day-cn">时</span>
          </div>
          <div class="countdown-day-item">
            <span class="countdown-day-item-day">{{timeNow | durationFormater:liveInfo.expectStartAt:2}}</span>
            <span class="countdown-day-item-day-cn">分</span>
          </div>
        </div>
        <div class="countdown-date">
          <div class="countdown-date-splitleft"></div>
          <div class="countdown-date-time">{{liveInfo.expectStartAt | timeFormater:'YYYY.MM.DD HH:mm'}} 开始</div>
          <div class="countdown-date-splitright"></div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="talent">
        <img class="talent-avatar" [src]="liveInfo.admin.avatar" alt="">
        <div class="talent-info">{{liveInfo.admin.nick}} / {{liveInfo.admin | role : liveInfo}}</div>
      </div>
      <div class="title">{{liveInfo.subject}}</div>
      <div class="words">{{liveInfo.desc}}</div>
    </div>
  </div>

  <div *ngIf="messages.length !== 0">
    <message #messagesComponents *ngFor="let message of messages"
             [liveId]="id"
             [message]="message"
             [userInfo]="userInfo"
             [liveInfo]="liveInfo"
             (audioPlayEnded)="audioPlayEnded(message)"
    ></message>
  </div>

  <div class="live-ended" *ngIf="liveInfo && isClosed()">
    <div class="ended-title-container">
      <div class="ended-title">直播结束</div>
      <div class="ended-date">{{liveInfo.closedAt | timeFormater:'YYYY.MM.DD HH:mm'}}</div>
    </div>

    <div class="ended-review">
      <i class="bi bi-paper"></i>
      <div class="published">直播记录已经发布</div>
      <div class="read"><a (click)="gotoHistory()">阅读</a></div>
    </div>
  </div>
</div>

