<bd-loading class="loading" *ngIf="isLoading"></bd-loading>

<div class="main" *ngIf="!isLoading && talkInfo" (touchstart)="touchStart($event)" (touchmove)="touchMove($event)">
  <header [ngClass]="{sticky: !isVideoCoverShown && !isOnScreen, 'mobile-landscape': !isOnScreen && isLandscape}">
    <video-player
      class="video-player"
      [videoInfo]="videoInfo"
      [option]="videoOption"
      (onEvents)="onVideoEvent($event)"
    ></video-player>

    <div class="live-cover" *ngIf="isVideoCoverShown">
      <div class="cover-thumbnail-wrapper">
        <div class="cover-thumnail" [style.background-image]="trustBackgroundCover"></div>
      </div>
      <img
        class="cover-image"
        [ngClass]="{fadein: coverLoaded}"
        [src]="talkInfo.coverUrl" alt="话题间封面"
        (load)="coverLoaded = true"
        (error)="resetDefaultBackground()"
      >

      <div class="mask"></div>

      <i class="bi bi-play-fill" *ngIf="videoInfo && videoInfo.hasVideo"></i>

      <div class="talk-info">
        <div class="publisher-info">
          <img class="avatar avatar-round avatar-medium" *ngIf="talkInfo.userInfo" [src]="talkInfo.userInfo.avatar" alt="发布人头像">
          <span class="nick" *ngIf="talkInfo.userInfo">{{talkInfo.userInfo.nick}}</span>
        </div>

        <time>{{talkInfo.publishAt.format('YYYY年MM月DD日')}}</time>
      </div>

      <h1>{{talkInfo.subject}}</h1>
    </div>
  </header>

  <section class="article talk-article" [ngClass]="{hidden: !isOnScreen && isLandscape}" [innerHtml]="talkInfo.safeContent"></section>

  <section class="info" [ngClass]="{hidden: !isOnScreen && isLandscape}">
    <ul *ngFor="let catalogArr of talkInfo.categories">
      <li *ngFor="let catalog of catalogArr">{{catalog.title}}</li>
    </ul>

    <div class="tags">
      <small *ngFor="let tag of talkInfo.tags">{{tag}}</small>
    </div>
  </section>

  <section class="comments" [ngClass]="{hidden: !isOnScreen && isLandscape}">
    <h2>评论</h2>

    <div class="comment" *ngFor="let comment of comments">
      <div class="header">
        <div class="author-info">
          <img class="avatar avatar-round avatar-small" [src]="comment.user.avatar" alt="用户头像">
          <span class="nick">{{comment.user.nick}}</span>
          <time>{{comment.createdAt.format('YYYY年MM月DD日 HH:mm')}}</time>
        </div>
        <span class="reply" (click)="gotoComment(comment.id, comment.user.nick, comment.content)">回复</span>
      </div>
      <div class="content"><div class="quote" *ngIf="comment.parent"><span class="nick">{{comment.parent.user.nick}}:</span>{{comment.parent.content}}</div>{{comment.content}}</div>
    </div>

    <bd-loading class="comment-loading" *ngIf="isCommentLoading"></bd-loading>

    <div class="no-comments" *ngIf="!isCommentLoading && !comments.length">暂无评论</div>
    <div class="more-comments" *ngIf="!isCommentLoading && hasMoreComments" (click)="listComments(comments[comments.length-1].originCreatedAt)">加载更多评论</div>
    <div class="no-more-comments" *ngIf="!isCommentLoading && comments.length && !hasMoreComments">到底咯~</div>
  </section>

  <footer *ngIf="talkInfo" [ngClass]="{hidden: !isOnScreen && isLandscape}" #toolBar>
    <div class="icon view"><i class="bi bi-eye"></i>{{talkInfo.totalUsers}}</div>
    <div class="icon" (click)="talkInfo.isPraised ? unpraise() : praise()"><i class="bi" [ngClass]="{'bi-thumbsup': !talkInfo.isPraised, 'bi-thumbsup-fill': talkInfo.isPraised}"></i>{{talkInfo.praiseTotal}}</div>
    <div class="icon" (click)="talkInfo.isFavorited ? unfavorite() : favorite()"><i class="bi" [ngClass]="{'bi-heart': !talkInfo.isFavorited, 'bi-heart-fill': talkInfo.isFavorited}"></i></div>
    <div class="icon" (click)="gotoComment()"><i class="bi bi-comment"></i>{{talkInfo.commentTotal}}</div>
  </footer>
</div>

<div class="no-content" *ngIf="!isLoading && !talkInfo">无效内容</div>

<router-outlet></router-outlet>
