<div class="main" #main *ngIf="talkInfo" (touchstart)="touchStart($event)" (touchmove)="touchMove($event)" #container>
  <header *ngIf="!isNewApp" [ngClass]="{sticky: !isVideoCoverShown && !isOnScreen, 'mobile-landscape': !isOnScreen && isLandscape}">
    <video-player
      class="video-player"
      [videoInfo]="videoInfo"
      [option]="videoOption"
      (onEvents)="onVideoEvent($event)"
      #videoPlayer
    ></video-player>

    <div class="download-tips" *ngIf="isDownloadTipsShow">
      <i class="bi bi-close" (click)="isDownloadTipsShow = false"></i>
      <div class="tips">
        造就iOS版
        <small>_REPL_SLOGAN_</small>
      </div>
      <a class="download-btn" (click)="isiOS ? redirectToYingYongBao() : showDownloadModal()">立即下载</a>
    </div>

    <div class="live-cover" *ngIf="isVideoCoverShown">
      <img
        class="cover-image"
        [src]="talkInfo.coverSmall169Url" alt="文章封面"
        (error)="resetDefaultBackground()"
      >
      <div class="blur-box" *ngIf="videoInfo && videoInfo.hasVideo">
      </div>
    </div>
  </header>

  <div class="talk-info">
    <h1>{{talkInfo.subject}}</h1>
    <time>{{talkInfo.publishAt.format('YYYY年MM月DD日')}}</time>
  </div>

  <single-player
    class="single-player"
    [ngClass]="{sticky: !isVideoCoverShown && !isOnScreen}"
    #audioPlayer
    *ngIf="talkInfo.media && talkInfo.media.mp3"
    [audioCover]="talkInfo.coverSmall11Url"
    [audioUrl]="talkInfo.media.mp3"
    (event)="onAudioEvent($event)"
  ></single-player>

  <div class="speaker" *ngFor="let speaker of talkInfo.speaker">
    <img class="avatar avatar-60 avatar-round" [src]="speaker.avatar" [alt]="speaker.name">
    <strong class="name">{{speaker.name}}</strong>
    <p class="desc">{{speaker.desc}}</p>
  </div>

  <section class="article talk-article" [ngClass]="{hidden: !isOnScreen && isLandscape}" [innerHtml]="talkInfo.safeContent"></section>

  <section class="info" *ngIf="talkInfo.categories.length || talkInfo.tags.length" [ngClass]="{hidden: !isOnScreen && isLandscape}">
    <ul *ngFor="let catalogArr of talkInfo.categories">
      <li *ngFor="let catalog of catalogArr">{{catalog.title}}</li>
    </ul>

    <div class="tags">
      <small *ngFor="let tag of talkInfo.tags">{{tag}}</small>
    </div>
  </section>

  <section class="relatives" *ngIf="liveObject" [ngClass]="{hidden: !isOnScreen && isLandscape}">
    <h2>查看完整内容</h2>
    <div class="card" (click)="gotoLive(liveObject.id)">
      <img class="cover" [src]="liveObject.coverSmallUrl" alt="直播封面" (error)="coverLoadError(liveObject)">
      <div class="content">
        <h3>{{liveObject.subject}}</h3>
        <p>{{liveObject.desc}}</p>
      </div>
    </div>
  </section>

  <section class="comments" [ngClass]="{hidden: !isOnScreen && isLandscape}">
    <h2 #commentTitle>评论</h2>

    <div class="comment" *ngFor="let comment of comments">
      <div class="header">
        <div class="author-info">
          <img class="avatar avatar-round avatar-25" [src]="comment.user.avatar" alt="用户头像">
          <span class="nick">{{comment.user.nick}}</span>
          <time>{{comment.createdAt.format('YYYY年MM月DD日 HH:mm')}}</time>
        </div>
        <span class="reply" (click)="gotoComment(comment.id, comment.user.nick, comment.content)">回复</span>
      </div>
      <div class="content"><div class="quote" *ngIf="comment.parent"><span class="nick">{{comment.parent.user.nick}}:</span>{{comment.parent.content}}</div>{{comment.content}}</div>
    </div>

    <bd-loading class="comment-loading" *ngIf="isCommentLoading"></bd-loading>

    <div class="no-comments" *ngIf="!isCommentLoading && !comments.length">暂无评论</div>
    <div class="more-comments" *ngIf="!isCommentLoading && hasMoreComments" (click)="listComments(comments[comments.length-1].originCreatedAt)">加载更多评论</div>
    <div class="no-more-comments" *ngIf="!isCommentLoading && comments.length && !hasMoreComments">到底咯~</div>
  </section>

  <footer *ngIf="talkInfo && !isNewApp" [ngClass]="{hidden: !isOnScreen && isLandscape}" #toolBar>
    <div class="icon" [ngClass]="{'activate': talkInfo.isPraised}" (click)="talkInfo.isPraised ? unpraise() : praise()">
      <div class="font-content"><i class="bi bi-new-praise"></i></div>
      <div><span>点赞 {{talkInfo.praiseTotal}}</span></div>
    </div>
    <div class="icon" [ngClass]="{'activate': talkInfo.isFavorited}" (click)="talkInfo.isFavorited ? unfavorite() : favorite()">
      <div class="font-content"><i class="bi bi-new-favorite"></i></div>
      <div><span>收藏 {{talkInfo.favoriteTotal}}</span></div>
    </div>
    <div class="icon" (click)="gotoComment()">
      <div class="font-content"><i class="bi bi-new-comment"></i></div>
      <div><span>评论 {{talkInfo.commentTotal}}</span></div>
    </div>
  </footer>
</div>

<div class="no-content" *ngIf="!talkInfo">无效内容</div>

<router-outlet></router-outlet>
