<div class="audience-bottom-bar scrollable">
  <form class="comment-input-container" [ngClass]="{'activate': isOnComment}" (ngSubmit)="postComment()">
    <input class="comment-input" name="commentContent" type="text" placeholder="发表评论" (focus)="switchToComment()" [(ngModel)]="commentContent">
    <button class="sender">发送</button>
    <a class="back" (click)="switchToNormal()"><i class="bi bi-right-arrow-round"></i></a>
  </form>
  <a class="bottom-bar-btn face" (click)="confirmPraise()" (contextmenu)="$event.preventDefault()">😄</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()" (contextmenu)="$event.preventDefault()">😊</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()" (contextmenu)="$event.preventDefault()">😍</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()" (contextmenu)="$event.preventDefault()">😜</a>
  <a class="bottom-bar-btn face" (click)="confirmPraise()" (contextmenu)="$event.preventDefault()">😂</a>
</div>
