<div class="audience-bottom-bar scrollable">
  <form class="comment-input-container" [ngClass]="{'activate': isOnComment}" (ngSubmit)="postComment()">
    <input class="comment-input" name="commentContent" type="text" placeholder="发表评论" (focus)="switchToComment()" (blur)="switchToNormal()" [(ngModel)]="commentContent">
    <button class="sender">发送</button>
    <a class="back" (click)="switchToNormal()"><i class="bi bi-right-arrow-round"></i></a>
  </form>
  <a class="bottom-bar-btn face" [ngClass]="{'hidden': isOnComment}" (click)="confirmPraise('👍')" (contextmenu)="$event.preventDefault()"><i class="bi bi-thumbsup"></i></a>
  <a class="bottom-bar-btn face" [ngClass]="{'hidden': isOnComment}" (click)="confirmPraise('💛')" (contextmenu)="$event.preventDefault()"><i class="bi bi-heart"></i></a>
  <a class="bottom-bar-btn face" [ngClass]="{'hidden': isOnComment}" (click)="confirmPraise('😄')" (contextmenu)="$event.preventDefault()"><i class="bi bi-face"></i></a>
</div>
