<div #listEle class="list" (scroll)="onScroll($event)">
  <div class="item-wrapper" *ngIf="listResult.result.length">
    <div class="item" *ngFor="let item of listResult.result" (click)="item.goto()">
    <img
      [src]="item.cover"
      alt="头图"
      (error)="resetDefaultCover(item)"
    >
    <div class="text">
      <h2 class="subject">{{item.subject}}</h2>
      <div class="desc" style=" overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;">{{item.desc}}</div>
    </div>
  </div>
  </div>
  <bd-loading class="loading" *ngIf="isLoading"></bd-loading>
  <div class="no-more-data" *ngIf="!isLoading && listResult.result.length && !listResult.hasMore">已显示全部内容</div>
</div>

<div class="no-data" *ngIf="!isLoading && !listResult.result.length && loader">
  {{noDataTips ? noDataTips : '暂无内容'}}
</div>
