.share-popup-container {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 20px;

  &.opened {
    display: block;
  }

  .bi-arrow {
    transform: rotate(90deg);
    font-size: 50px;
    margin-left: 10px;
    margin-right: 15px;
    vertical-align: bottom;
  }
}
