.share-popup-container {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  &.opened {
    display: block;
  }

  .wechat-share {
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px;

    .bi-arrow {
      transform: rotate(90deg);
      font-size: 50px;
      margin-left: 10px;
      margin-right: 15px;
      vertical-align: bottom;
    }
  }

  .pc-share {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(255, 255, 255);
    padding: 50px;
    color: rgb(75, 75, 75);
    border-radius: 4px;
    text-align: center;

    .qr-code {
      display: block;
      width: 240px;
      height: 240px;
    }

    .tips {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .bi-zaojiu-logo {
      display: block;
      font-size: 55px;
      margin-bottom: 15px;
    }

    .bi-zaojiu-slogan {
      display: block;
      font-size: 25px;
      color: rgb(158, 161, 165);
    }
  }
}
