<div class="ticket">
  <h1>我的票券</h1>
  <div class="block">
    <div class="ticket-info">
      <img class="cover" [src]="" alt="头图">
      <div class="content">
        <strong class="subject">造就TALK上海《跃迁》——终身学习时代的能力清单</strong>
        <div class="row">
          <span class="type">门票</span>
          <small class="time">2016/5/5 18:00:00</small>
        </div>
        <span class="amount">199.00元</span>
      </div>
    </div>
    <div class="detail">
      <div class="row">
        <span class="status unused">未使用</span>
        <span class="tips">检票时，请出示票号或手机号</span>
      </div>
      <ul>
        <li>票号：<span class="text">132132132139</span></li>
        <li>手机号：<span class="text">13127780269</span></li>
        <li>时间：<span class="text">2016年5月5日 18:00:00</span></li>
        <li>地点：<span class="text">2016年5月5日 18:00:00</span></li>
      </ul>
    </div>
  </div>

  <div class="block">
    <div class="ticket-info">
      <img class="cover" [src]="" alt="头图">
      <div class="content">
        <strong class="subject">造就TALK上海《跃迁》——终身学习时代的能力清单</strong>
        <div class="row">
          <span class="type">门票</span>
          <small class="time">2016/5/5 18:00:00</small>
        </div>
        <span class="amount">199.00元</span>
      </div>
    </div>
    <div class="detail">
      <div class="row">
        <span class="status unused">未使用</span>
        <span class="tips">检票时，请出示票号或手机号</span>
      </div>
      <ul>
        <li>票号：<span class="text">132132132139</span></li>
        <li>手机号：<span class="text">13127780269</span></li>
        <li>时间：<span class="text">2016年5月5日 18:00:00</span></li>
        <li>地点：<span class="text">2016年5月5日 18:00:00</span></li>
      </ul>
    </div>
  </div>
</div>

