<div class="ticket">
  <h1>我的票券</h1>
  <bd-loading class="loading" *ngIf="isLoading"></bd-loading>
  <div class="error error-screen" *ngIf="!isLoading && !tickets">
    数据加载错误，请<a href="" (click)="initData()">重试</a>
  </div>
  <div *ngIf="!isLoading && tickets">
    <div class="block" *ngFor="let ticket of tickets">
      <div class="ticket-info">
        <img class="cover" [src]="ticket.event.coverUrl" alt="头图">
        <div class="content">
          <strong class="subject">{{ticket.event.subject}}</strong>
          <div class="row">
            <span class="type">门票</span>
            <small class="time">{{ticket.applyAtParsed.format('MM/DD HH:mm:ss')}}</small>
          </div>
        </div>
      </div>
      <div class="detail">
        <div class="row">
          <span class="status unused" *ngIf="!ticket.signedInAtParsed.isAfter(now)">未使用</span>
          <span class="status used" *ngIf="ticket.signedInAtParsed.isAfter(now)">已使用</span>
          <span class="tips">检票时，请出示票号或手机号</span>
        </div>
        <ul>
          <li>票号：<span class="text">{{ticket.ticketNo}}</span></li>
          <li>手机号：<span class="text">{{ticket.mobile}}</span></li>
          <li *ngIf="event.meta.startAt">时间：<span class="text">{{event.meta.startAtParsed.format('YYYY-MM-DD HH:mm:ss')}}<span *ngIf="event.meta.endAt"> - {{event.meta.endAtParsed.format('YYYY-MM-DD HH:mm:ss').replace(event.meta.startAtParsed.format('YYYY-MM-DD'), '')}}</span></span></li>
          <li *ngIf="event.meta.address">地点：<span class="text"><span *ngIf="event.meta.city">{{event.meta.city}} </span>{{event.meta.address}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

