.live-room-danmu-container {
  position: fixed;
  top: 58px;
  right: 14px;
  z-index: 2;

  .live-room-danmu {
    background-color: rgba(45, 45, 45, .7);
    border-radius: 16px;
    height: 31px;
    padding: 4px;
    padding-left: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: rgb(242, 242, 242);
    font-size: 14px;

    .live-room-danmu-content {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px;
    }

    .live-room-danmu-avatar {
      flex-basis: 23px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      box-sizing: border-box;
      border: solid 1px rgb(255, 255, 255);
      margin-left: 5px;
    }
  }
}
