.mobile-bind-container {
  section {
    padding: 30px 15px;
    border-bottom: solid 10px #f8f8f8;

    h2 {
      font-size: $font-size-lg;
      color: $color-dark-gray;
      text-align: center;
      line-height: 1em;
      font-weight: bold;
    }
  }

  .user-section {
    padding: 30px;
    text-align: center;
  }

  .footer-section {
    padding: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;

    .form-group {
      margin: 0;
      width: 100%;
    }
  }

  .nick {
    margin-top: 10px;
    font-size: $font-size-xlg;
    color: $color-dark-gray;
  }

  .sms-code-group {
    position: relative;

    .sms-sender {
      position: absolute;
      right: 0;
      top: 24px;
      color: $color-brand;
      text-decoration: none;
      font-size: $font-size-sm;

      &.disabled {
        opacity: .5;
      }
    }
  }


  .tips {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: $color-gray;
  }
}
