<form class="post-container" (ngSubmit)="submit()">
  <div class="top-bar">
    <a class="close-btn" (click)="commentId ? backToPushComment() : backToMainScreen()"><i class="bi bi-close"></i></a>
  </div>

  <div class="additional-content" *ngIf="additionalContent">
    <img class="avatar" [src]="additionalContent.user.avatar">
    <div class="main">
      <div class="name">{{additionalContent.user.nick}}</div>
      <div class="content">{{additionalContent.content}}</div>
    </div>
  </div>

  <div class="input-container">
    <textarea class="input" placeholder="发表你此刻的看法" name="content" [(ngModel)]="content" autofocus></textarea>
  </div>

  <image-viewer [imageFiles]="images"></image-viewer>

  <div class="bottom-bar scrollable">
    <label class="add-image" for="image-selector"  *ngIf="!messageId && !commentId">
      <input class="fileSelector" id="image-selector" type="file"  [(fileSelector)]="images">
      <i class="bi bi-image"></i>
    </label>
    <a class="face" (click)="content = content + '😄'">😄</a>
    <a class="face" (click)="content = content + '😊'">😊</a>
    <a class="face" (click)="content = content + '😍'">😍</a>
    <a class="face" (click)="content = content + '😜'">😜</a>
    <a class="face" (click)="content = content + '😂'">😂</a>
    <a class="face" (click)="content = content + '😭'">😭</a>
    <a class="face" (click)="content = content + '😅'">😅</a>
    <a class="face" (click)="content = content + '😱'">😱</a>
    <a class="face" (click)="content = content + '😆'">😆</a>
    <a class="face" (click)="content = content + '😎'">😎</a>
    <a class="face" (click)="content = content + '😴'">😴</a>
    <a class="face" (click)="content = content + '😏'">😏</a>
    <a class="face" (click)="content = content + '🙌'">🙌</a>
    <a class="face" (click)="content = content + '👏'">👏</a>
    <a class="face" (click)="content = content + '🎁'">🎁</a>
    <a class="face" (click)="content = content + '🎉'">🎉</a>
  </div>

  <button class="post-btn" [disabled]="!images && !content" >发送</button>

</form>
