.live-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-gray4;
  overflow: auto;

  .live-info-block {
    margin-bottom: 10px;
    background-color: $color-w;

    .info {
      padding: 20px;

      .title {
        color: $color-dark-gray2;
        font-size: $font-size-xlg;
        line-height: 1.3em;
        word-break: break-all;
      }

      .time {
        font-size: $font-size-xsm;
        color: $color-gray;
        margin-top: 6px;
      }

      .desc {
        width: 100%;
        margin-top: 8px;
        font-size: 14px;
        color: #7c7c7c;
        line-height: 1.42em;
      }
    }
  }

  .loading-foot {
    display: block;
    padding: 10px 0;
    text-align: center;

    &.show {
      opacity: 1;
    }

    &.hide {
      transition: 1s ease all;
      opacity: 0;
    }
  }

  .bottom {
    display: flex;
    height: 62px;

    .word {
      margin: auto;
      font-size: 16px;
      color: $color-gray;
    }
  }
}

.loading, .no-record-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: $color-gray;
  transform: translateX(-50%) translateY(-50%);
}
