.create-room {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .top-bar {
    flex-shrink: 0;
  }

  .main-form {
    flex-grow: 1;
    overflow: auto;
  }

  .operation-area {
    flex-shrink: 0;
  }
}

.cover-container {
  position: relative;

  .cover-wrapper {
    position: relative;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(205, 205, 205);
    border-radius: 4px;
    background-size: cover;

    &:before {
      display: block;
      content: "";
      padding-top: 51.4%;
    }

    .cover-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-indent: -10000px
    }

    .no-cover-tips {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: rgb(158, 161, 165);
    }
  }

  .upload-btn {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: rgb(75, 75, 75);
    margin-top: 15px;

    .bi-upload-round {
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .file-selector {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

.desc {
  display: block;
  min-height: 229px;
}

.operation-area {
  padding: 60px 0;
  text-align: center;

  .btn {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    font-size: 17px;

    &.disabled {
      background-color: rgb(141, 199, 246);
    }
  }

  small {
    display: block;
    margin-top: 20px;
    color: rgb(158, 161, 165);
    font-size: 12px;
  }
}



