<div class="live-room-info">
  <div class="content">
    <live-room-info-upper class="live-room-info-component" [liveInfo]="liveInfo"></live-room-info-upper>

    <div class="editors-container" *ngIf="audienceListInvitations && audienceListInvitations.length!==0">
      <div class="introduce">嘉宾介绍</div>
      <div class="editors-wrapper invisible-scrollbar">
        <div class="editors" *ngFor="let speaker of audienceListInvitations">
          <div class="avatar-wrapper">
            <img class="editor-avatar" *ngIf="speaker.avatar_url" [src]="speaker.avatar_url">
            <i class="bi bi-people2" *ngIf="!speaker.avatar_url"></i>
          </div>
          <div class="words-wrapper">
            <div class="words-align-center">
              <span class="editor-name">{{speaker.name}}</span>
              <div class="editor-intro">{{speaker.title}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="people-container">
      <div class="people-count">
        <div class="title">
          <i class="bi bi-people"></i>
          {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
        </div>
        <img class="avatar" alt="" *ngFor="let audience of liveInfo.editors" [src]="audience.avatar">
        <img class="avatar" alt="" *ngFor="let audience of liveInfo.latestUsers" [src]="audience.avatar">
      </div>
    </div>
  </div>

  <div class="operation-area">
    <a class="btn notification" *ngIf="!liveInfo.booked && !liveInfo.isClosed()" (click)="bookLive()"><i
      class="bi bi-clock"></i>开播提醒</a>
    <a class="btn notification turn-on" *ngIf="liveInfo.booked && !liveInfo.isClosed()" (click)="unbookLive()"><i
      class="bi bi-clock"></i>已经开通</a>
    <a class="btn enter-room"
       *ngIf="!lockPayClick && liveInfo.isNeedPay && paidStatus!==paidEnums.Completed && liveInfo.isAudience(userInfo.uid)"
       (click)="payLive()">支付:￥{{liveInfo.totalFee/100}}</a>
    <a class="btn enter-room"
       *ngIf="lockPayClick && liveInfo.isNeedPay && paidStatus!==paidEnums.Completed && liveInfo.isAudience(userInfo.uid)"
       (click)="payLive()">支付中..</a>
    <a class="btn enter-room"
       *ngIf="!liveInfo.isNeedPay || paidStatus===paidEnums.Completed || !liveInfo.isAudience(userInfo.uid)"
       (click)="gotoLive()">进入房间</a>
  </div>
</div>

<div class="qrcode-background" [ngClass]="{'show': isQrcodeShown}" *ngIf="!inApp && isQrcodeShown" (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">{{liveInfo.subject}}</div>
      <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt"
                  [countDownStatus]="liveInfo.isCreated()"></count-down>
      <p class="tips">直播还未开始</p>
    </div>
    <div class="qrcode">
      <img class="qrcode-image" [src]="qrcode" alt="二维码">
      <p>长按二维码关注服务号</p>
      <p>开播会通知你</p>
    </div>
  </div>
</div>


<div class="qrcode-background" [ngClass]="{'show': isQrcodeShown}" *ngIf="inApp && isQrcodeShown" (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">{{liveInfo.subject}}</div>
      <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt"
                  [countDownStatus]="liveInfo.isCreated()"></count-down>
      <p class="tips">直播还未开始</p>
    </div>
    <div class="noqrcode">
      <p>复制微信公众号到微信中</p>
      <p>直接粘贴搜索或手动输入ZaojiuTV</p>
      <div class="copyzaojiu" (click)="copyToClipboard('ZaojiuTV')">复制微信公众号</div>
    </div>
  </div>
</div>

<div class="qrcode-background" [ngClass]="{'show': paidShown}" *ngIf="paidStatus===paidEnums.Failure && paidShown"
     (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">
        <div class="paid-tick">
          <i class="bi bi-unpaid"></i>
        </div>
        支付失败
      </div>
    </div>
    <div class="failure-reason-wrapper">
      <p>失败原因</p>
      <div class="failure-reason">
        <i class="bi bi-failure-face"></i>
      </div>
      <p>可能存在银行卡余额不足的情况</p>
      <p>也可能是网络拥堵，建议稍后尝试</p>
    </div>
  </div>
</div>


<div class="qrcode-background" [ngClass]="{'show': paidShown}"
     *ngIf="!inApp && liveInfo.isCreated()&& paidStatus===paidEnums.Completed && paidShown"
     (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title" *ngIf="paidStatus!==paidEnums.Completed">{{liveInfo.subject}}</div>
      <div class="live-title" *ngIf="paidStatus===paidEnums.Completed">
        <div class="paid-tick">
          <i class="bi bi-paid"></i>
        </div>
        支付成功
      </div>
    </div>
    <div class="success-wrapper" *ngIf="!inApp && !userInfo.isSubscribed">
      <p>请点击底部开播提醒按钮</p>
      <div class="failure-reason">
        <i class="bi bi-paid-bell"></i>
      </div>
    </div>
    <div class="success-wrapper" *ngIf="!inApp && userInfo.isSubscribed">
      <p>开播提醒已开通</p>
      <i class="bi bi-paid-bell"></i>
      <p>开播提醒已经默认开通</p>
      <p>点击底部开播按钮，即可取消</p>
    </div>
    <div class="noqrcode" *ngIf="inApp">
      <p>复制微信公众号到微信中</p>
      <p>直接粘贴搜索或手动输入ZaojiuTV</p>
      <div class="copyzaojiu" (click)="copyToClipboard('ZaojiuTV')">复制微信公众号</div>
    </div>
  </div>
</div>


<div class="qrcode-background" [ngClass]="{'show': paidShown }"
     *ngIf="!liveInfo.isCreated() && paidStatus===paidEnums.Completed && paidShown"
     (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">
        <div class="paid-tick">
          <i class="bi bi-paid"></i>
        </div>
        支付成功
      </div>
    </div>
    <div class="paid-review" (click)="gotoLive()">
      <p>进入话题间 观看视频</p>
      <i class="bi bi-paid-review"></i>
    </div>
  </div>
</div>

<pay-popup></pay-popup>
