.live-room-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-w;
  z-index: 3;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    overflow: auto;

    .live-room-info-component {
      display: block;
      position: relative;
    }

    .people-container {
      margin: 20px 12px;

      .title {
        margin-right: 10px;
        color: $color-gray;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1em;

        .bi {
          margin-right: 5px;
          margin-left: 5px;
        }
      }

      .people-count {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 12px;

        .avatar {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          margin-left: 5px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .editors-container {
      padding: 20px 0px 20px 12px;
      background: rgb(247, 247, 247);

      .introduce {
        font-size: 18px;
        color: $color-dark-gray;
        line-height: 18px;
      }

      .editors-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        .editors {
          display: flex;
          padding: 20px 10px 0 10px;
          flex-shrink: 0;

          .avatar-wrapper {
            display: flex;

            .editor-avatar {
              margin: auto;
              height: 80px;
              width: 80px;
              border-radius: 80px;
              object-fit: cover;
            }

            .bi-people2 {
              height: 80px;
              width: 80px;
              font-size: 60px;
            }
          }

          .words-wrapper {
            display: flex;
            flex-shrink: 0;

            .words-align-center {
              margin: auto;
              margin-left: 10px;
              word-wrap: break-word;
              max-width: 150px;

              .editor-name {
                font-size: 16px;
                color: $color-dark-gray;
                line-height: 14px;
              }

              .editor-intro {
                margin-top: 5px;
                font-size: 14px;
                color: $color-gray;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

  }

  .operation-area {
    flex-shrink: 0;
    display: flex;

    .btn {
      text-align: center;
      height: 49px;
      line-height: 49px;
      font-size: 17px;
      color: $color-w;
      background-color: rgb(37, 37, 37);

      &.enter-room {
        flex-grow: 1;
        background-color: $color-brand;
      }

      &.turn-on {
        color: $color-brand;
      }

      &.notification {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 40%;
        width: 40%;

        .bi-clock {
          margin-right: 5px;
          font-size: 20px;
        }

        &.disabled {
          color: rgba(255, 255, 255, .3);
        }
      }
    }
  }
}

.qrcode-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .content {
    border-radius: 4px;
    width: 260px;
    overflow: hidden;
    background-color: $color-w;
    padding-bottom: 10px;

    .header {
      position: relative;
      overflow: hidden;
      background-color: $color-brand;
      text-align: center;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .close {
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
        width: 78px;
        height: 78px;
        border-radius: 50%;
        right: -39px;
        top: -39px;

        &:before, &:after {
          content: "";
          position: absolute;
          height: 22px;
          width: 1px;
          background-color: rgb(255, 255, 255);
          top: 44px;
          left: 24px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .live-title {
        margin: 40px 20px 20px;
        color: $color-w;
        word-break: break-all;
        font-size: 18px;

        .paid-tick {
          display: flex;
          height: 40px;
          width: 40px;
          margin: auto;
          margin-bottom: 10px;
          background-color: rgb(255, 255, 255);
          border-radius: 50%;
        }

        .bi-paid {
          margin: auto;
          color: rgb(49, 181, 165);
        }

        .bi-unpaid {
          margin: auto;
          color: rgb(49, 181, 165);
        }
      }

      .count-down {
        /deep/ {
          .info-status-wrapper-countdown {
            background-color: transparent;
          }
        }
      }

      .tips {
        color: $color-w;
        margin: 10px auto 20px;
        font-size: 14px;
      }
    }
  }

  .success-wrapper, .failure-reason-wrapper {
    text-align: center;

    .failure-reason {
      padding: 20px;
      color: $color-gray;
      font-size: 40px;
    }

    .bi-paid-bell {
      padding: 20px;
      color: $color-gray;
      font-size: 60px;
    }

    p {
      color: $color-gray;
      font-size: 16px;
      line-height: 1.5em;

      &:first-child {
        margin-top: 30px;
      }
      &:nth-child(3) {
        font-size: 12px;
        color: #9EA1A5;
        letter-spacing: 0px;
        line-height: 16px;
      }
      &:nth-child(4) {
        font-size: 12px;
        color: #9EA1A5;
        letter-spacing: 0px;
        line-height: 16px;
      }
      &:last-child {
        margin-bottom: 40px;
      }
    }

  }

  .paid-review {
    text-align: center;

    p {
      color: $color-gray;
      line-height: 1.5em;

      &:first-child {
        padding-top: 30px;
      }
      &:last-child {
        margin-bottom: 40px;
      }
    }

    .bi-paid-review {
      padding: 20px;
      color: $color-gray;
      font-size: 80px;
    }
  }

  .qrcode {
    text-align: center;

    .qrcode-block {
      margin-top: 10px;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;

      .retry-link {
        color: $color-brand;
        text-decoration: none;
      }

      .qrcode-image {
        width: 130px;
        height: 130px;
      }
    }

    p {
      color: $color-gray;
      line-height: 1.5em;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  .noqrcode {
    text-align: center;
    padding: 40px 40px 80px;

    p {
      color: $color-gray;
      font-size: 12px;
      line-height: 16px;

      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }

    .copyzaojiu {
      position: absolute;
      text-align: center;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      margin: auto;
      background-color: rgb(49, 181, 165);
      color: $color-w;
      font-size: 17px;
      line-height: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
