<div class="live-room-info">

  <download-app-tips class="download-tips"></download-app-tips>

  <div class="content">
    <live-room-info-upper class="live-room-info-component" [liveInfo]="liveInfo"></live-room-info-upper>

    <div class="editors-container" *ngIf="liveInfo.invitees.length">
      <div class="introduce">嘉宾介绍</div>
      <div class="editors-wrapper invisible-scrollbar">
        <div class="editors" *ngFor="let invitee of liveInfo.invitees">
          <div class="avatar-wrapper">
            <img class="editor-avatar" *ngIf="invitee.avatar" [src]="invitee.avatar">
            <i class="bi bi-people2" *ngIf="!invitee.avatar"></i>
          </div>
          <div class="words-wrapper">
            <div class="words-align-center">
              <span class="editor-name">{{invitee.name}}</span>
              <div class="editor-intro">{{invitee.title}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="people-container">
      <div class="people-count">
        <div class="title">
          <i class="bi bi-people"></i>
          {{liveInfo.totalUsers > 999 ? '999+' : liveInfo.totalUsers}}人观看
        </div>
        <img class="avatar" alt="" *ngFor="let audience of liveInfo.latestUsers" [src]="audience.avatar">
      </div>
    </div>

    <div class="share-star-entry" (click)="gotoShareStar()" *ngIf="!inApp&&!hiddenZj"><span class="share-star-title"><i
      class="bi bi-share-star"></i>分享榜</span><span class="share-star-content">快来分享吧<i
      class="bi bi-right-arrow"></i></span></div>
  </div>

  <div class="operation-area">
    <span *ngIf="!hiddenZj">
      <a class="btn notification" *ngIf="!liveInfo.booked && liveInfo.isCreated() && !booking && isInWechat"
         (click)="bookLive()"><i
        class="bi bi-clock"></i><span *ngIf="!hasPresent">开播提醒</span></a>
    <a class="btn notification disabled" *ngIf="booking && isInWechat"><i
      class="bi bi-clock"></i><span *ngIf="!hasPresent">{{liveInfo.booked ? '取消中...' : '订阅中...'}}</span></a>
    <a class="btn notification turn-on" *ngIf="liveInfo.booked && liveInfo.isCreated() && !booking && isInWechat"
       (click)="unbookLive()"><i
      class="bi bi-clock"></i><span *ngIf="!hasPresent">已经开通</span></a>
    </span>

    <button
      class="btn present"
      *ngIf="hasPresent"
      (click)="gotoPresent()"
    ><i class="bi bi-present"></i>请朋友看
    </button>

    <button
      class="button button-primary button-square enter-room"
      [disabled]="paidStatus === paidEnums.Paying"
      (click)="go()"
    ><span class="origin-fee" *ngIf="originFee">{{originFee}}</span>{{btnText}}
    </button>
  </div>
</div>

<div class="qrcode-background" *ngIf="isQrcodeShown&&!hiddenZj" (click)="closeQrcode()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closeQrcode()"></div>
      <div class="live-title">{{liveInfo.subject}}</div>
      <count-down class="count-down" [expectStartAt]="liveInfo.expectStartAt"
                  [countDownStatus]="liveInfo.isCreated()"></count-down>
    </div>
    <div class="qrcode">
      <div class="qrcode-block">
        <img *ngIf="!isSubscribeLinkLoading && !isSubscribeLinkError" class="qrcode-image" [src]="qrcode" alt="订阅二维码">
        <div *ngIf="isSubscribeLinkLoading">二维码加载中...</div>
        <div *ngIf="isSubscribeLinkError">二维码加载失败，请<a class="retry-link" href=""
                                                      (click)="getSubscribeLink(); $event.preventDefault();">重试</a>
        </div>
      </div>
      <p *ngIf="isInWechat">长按二维码订阅话题间</p>
      <p *ngIf="!isInWechat">使用微信扫描二维码订阅话题间</p>
      <p>开播会通知你</p>
    </div>
  </div>
</div>

<div
  class="qrcode-background"
  *ngIf="paidStatus===paidEnums.Failure"
  (click)="closePayment()"
>
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closePayment()"></div>
      <div class="live-title">
        <div class="paid-tick">
          <i class="bi bi-unpaid"></i>
        </div>
        支付失败
      </div>
    </div>
    <div class="failure-reason-wrapper">
      <p>失败原因</p>
      <div class="failure-reason">
        <i class="bi bi-failure-face"></i>
      </div>
      <p>{{paidResult}}</p>
    </div>
  </div>
</div>

<div
  class="qrcode-background"
  *ngIf="paidStatus===paidEnums.Success"
  (click)="closePayment()"
>
  <div class="content" (click)="$event.stopPropagation()">
    <div class="header">
      <div class="close" (click)="closePayment()"></div>
      <div class="live-title">
        <div class="paid-tick">
          <i class="bi bi-paid"></i>
        </div>
        支付成功
      </div>
    </div>
    <div class="paid-review" *ngIf="!liveInfo.isCreated() || !isInWechat" (click)="gotoLive()">
      <p>进入话题间 观看视频</p>
      <i class="bi bi-paid-review"></i>
    </div>
    <div class="success-wrapper" *ngIf="liveInfo.isCreated() && isInWechat && !liveInfo.booked">
      <p>请点击底部开播提醒按钮</p>
      <div class="failure-reason">
        <i class="bi bi-paid-bell"></i>
      </div>
    </div>
    <div class="success-wrapper" *ngIf="liveInfo.isCreated() && isInWechat && liveInfo.booked">
      <p>开播提醒已开通</p>
      <i class="bi bi-paid-bell"></i>
      <p>开播提醒已经开通</p>
      <p>点击底部开播按钮，即可取消</p>
    </div>
  </div>
</div>
