.image-viewer-popup {
  display: none;
  position: absolute;
  background-color: $color-b;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  color: $color-w;
  font-size: 20px;
  overflow: hidden;

  &.opened {
    display: block;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .delete-btn-wrapper {
    display: flex;
    position: absolute;
    top: 16px;
    right: 63px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(45, 45, 45, 0.5);

    .delete-btn {
      margin: auto;
      color: $color-w;
    }
  }

  .popup-pinch-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
