<div class="image-viewer-popup" [ngClass]="{opened: isPopup}" (pinch)="pinch($event)" (pinchend)="pinchEnd($event)"
     (pan)="pan($event)"
     (panend)="panEnd($event)" (doubletap)="dbltap()" (tap)="closePopup()">

  <bd-loading class="loading" *ngIf="isLoading"></bd-loading>
  <img class="popup-pinch-img" [src]="imageSrc" [style.opacity]="isLoading ? 0 : 1" (load)="imageLoaded()" alt="">

  <div class="delete-btn-wrapper" *ngIf="canDelete">
    <a class="delete-btn" (click)="deleteImageSource()"><i class="bi bi-delete"></i></a>
  </div>
</div>
