<form
  class="comment-input-container"
  [ngClass]="{'activate': mode !== modeEnums.None}"
  (ngSubmit)="postComment(); focusMessageInput();"
>
  <div class="comment-input-wrapper" (click)="checkLogin()">
    <input
      [disabled]="!userInfo"
      class="comment-input"
      #commentInput
      name="commentContent"
      type="text"
      (focus)="changeMode(modeEnums.Text)"
      [placeholder]="userInfo ? '发表评论' : '请登录'"
      [(ngModel)]="commentContent"
      display-when-focus
    >

    <button class="sender"><i class="bi bi-up-arrow3"></i></button>
  </div>

  <a class="switcher" (click)="changeMode(modeEnums.Text)" *ngIf="mode === modeEnums.At || mode === modeEnums.None">
    <i class="bi bi-at-people-keyboard"></i>
  </a>

  <a class="switcher" (click)="changeMode(modeEnums.At)" *ngIf="mode === modeEnums.Text || mode === modeEnums.None">
    <i class="bi bi-at-people"></i>
  </a>
</form>
