<div class="push-comment-container">
  <div class="top-bar">
    <div class="back-to-home" (click)="backToMainScreen()">返回直播间</div>
    <div class="chat-info" *ngIf="unreadCount" >
      <i class="bi bi-chat6"></i>
      {{unreadCount}}条新的消息
    </div>

  </div>

  <div class="no-result" *ngIf="comments && !comments.length">暂无评论</div>

  <bd-loading class="loading" *ngIf="!liveInfo || !userInfo"></bd-loading>

  <div class="comment-container scrollable" pushCommentScroller *ngIf="liveInfo && userInfo">
    <div class="comment-row" *ngFor="let comment of comments">
      <div class="avatar-container">
        <img class="avatar" [src]="comment.user.avatar">
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">{{comment.user.nick}}</p>
          <span class="time">{{comment.createdAt | fromNow}}</span>
        </div>
        <div class="content" [innerHtml]="parseContent(comment.content)"></div>
      </div>
      <div class="operation-container">
        <div *ngIf="userInfo.uid == liveInfo.admin.uid">
          <a class="operation-btn" (click)="pushComment(comment)" *ngIf="!comment.msgId" [ngClass]="{'is-closed': isClosed()}">推送</a>
          <span class="operation-btn pushed" *ngIf="comment.msgId">已推送</span>
        </div>
        <div *ngIf="userInfo.uid && liveInfo && userInfo.uid !== liveInfo.admin.uid">
          <span class="operation-btn pushed-audience" *ngIf="comment.msgId"><i class="bi bi-chat5"></i>已推送</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="live-info" *ngIf="liveInfo" >
      <i class="bi bi-chat4"></i>
      {{liveInfo.commented}}
    </div>
    <div class="push-info" *ngIf="liveInfo" >
      <i class="bi bi-chat5"></i>
      {{liveInfo.niced}}
    </div>
    <div class="people-filter" (click)="popupBottomSelector()">筛选</div>
  </div>
</div>
