.push-comment-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .top-bar {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    box-sizing: border-box;
    border-top: solid 1px rgba(143, 143, 143, .3);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    line-height: 1em;

    .back-to-home {
      font-size: 17px;
      color: rgb(33, 150, 243);
      flex-grow: 1;
    }

    .chat-info {
      font-size: 12px;
      color: rgb(158, 161, 165);

      .bi {
        font-size: 18px;
        color: rgb(224, 229, 234);
        margin-right: 5px;
      }
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .no-result {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comment-container {
    flex-grow: 1;

    .comment-row {
      display: flex;

      .avatar-container {
        flex-basis: 50px;
        width: 50px;
        flex-shrink: 0;
      }

      .content-container {
        flex-grow: 1;
      }

      .operation-container {
        flex-shrink: 0;
      }
    }
  }

  .bottom-bar {
    flex-shrink: 0;
  }
}

.push-comment-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .comment-container {
    .comment-row {
      border-bottom: solid 1px rgb(198, 198, 198);
      padding: 15px 0;

      &:last-child {
        border-bottom: none;
      }

      .avatar-container {
        text-align: center;

        .avatar {
          width: 26px;
          height: 26px;
          border-radius: 50%;
        }
      }

      .content-container {
        .content-info {
          .name {
            display: inline-block;
            color: rgb(75, 75, 75);
            font-size: 14px;
            margin: 0;
          }

          .time {
            padding-left: 5px;
            color: rgb(158, 161, 165);
            font-size: 12px;
          }
        }

        .content {
          color: rgb(75, 75, 75);
          font-size: 14px;
        }
      }

      .operation-container {
        padding: 0 18px;

        .operation-btn {
          font-size: 14px;

          &.is-closed {
            color: rgba(33, 150, 243, .5);
            pointer-events: none;
          }
          &.pushed {
            color: rgba(33, 150, 243, .5);
          }
          &.pushed-audience {
            color: rgb(158, 161, 165);
          }
        }
      }
    }
  }

  .bottom-bar {
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-top: solid 1px rgba(143, 143, 143, .3);
    font-size: 0;
    background-color: rgb(250, 250, 250);

    .live-info, .push-info {
      display: inline-block;
      font-size: 12px;
      margin-left: 20px;
      color: rgb(158, 161, 165);

      .bi {
        font-size: 18px;
        color: rgb(224, 229, 234);
        margin-right: 5px;
      }
    }
    .people-filter {
      /* 筛选: */
      float: right;
      font-size: 14px;
      color: rgb(33, 150, 243);
      line-height: 49px;
      margin-right: 17px;
    }

    .filter-btn {
      float: right;
      padding: 0 20px;
      font-size: 14px;
    }
  }
}
