<div class="push-comment-container">
  <live-room-top-bar class="top-bar" [liveId]="liveId" [userInfo]="userInfo"></live-room-top-bar>

  <div class="no-result" *ngIf="comments && !comments.length && !isLoading">暂无评论</div>

  <bd-loading class="loading" *ngIf="!liveInfo || !userInfo || (!comments.length && isLoading)"></bd-loading>

  <div
    class="comment-container scrollable"
    (scroller)="onScroll($event)"
    [data]="comments"
    [dataContainerSelector]="'.comment-container-inner'"
  >
    <bd-loading class="loading-head"
                [ngClass]="{show: scroller.isHeadLoadingShown,hide:!scroller.isHeadLoadingShown}"></bd-loading>

    <div class="comment-container-inner">
      <div class="comment-row" [ngClass]="{highlight: commentId == comment.id}"   *ngFor="let comment of comments"
           (click)="banComment(comment.user.uid)">
        <div class="avatar-container">
          <img class="avatar" [src]="comment.user.avatar">
        </div>
        <div class="content-container">
          <div class="content-info">
            <p class="name">{{comment.user.nick}}</p>
            <span class="time">{{comment.createdAt | fromNow}}</span>
          </div>
          <div class="content" [innerHtml]="parseContent(comment.content)"></div>
        </div>
        <div class="operation-container" *ngIf="liveInfo && userInfo">
          <div *ngIf="userInfo.uid == liveInfo.admin.uid">
            <a class="operation-btn" (click)="pushComment(comment)" *ngIf="!comment.msgId"
               [ngClass]="{'is-closed': isClosed()}">推送</a>
            <span class="operation-btn pushed" *ngIf="comment.msgId">已推送</span>
          </div>
          <div *ngIf="userInfo.uid && liveInfo && userInfo.uid !== liveInfo.admin.uid">
            <span class="operation-btn pushed-audience" *ngIf="comment.msgId"><i class="bi bi-chat5"></i>已推送</span>
          </div>
        </div>
      </div>
    </div>

    <bd-loading class="loading-foot"
                [ngClass]="{show: scroller.isFootLoadingShown,hide:!scroller.isFootLoadingShown}"></bd-loading>
  </div>

  <div class="bottom-bar">
    <div class="live-info" *ngIf="liveInfo">
      <i class="bi bi-chat4"></i>
      {{liveInfo.commented}}
    </div>
    <div class="push-info" *ngIf="liveInfo">
      <i class="bi bi-chat5"></i>
      {{liveInfo.niced}}
    </div>
    <div class="people-filter" (click)="popupBottomSelector()">筛选</div>
  </div>
</div>
