<div class="settings-container" *ngIf="liveInfo">
  <div class="top-bar">
    <div class="back-to-home" (click)="backToMainScreen()">返回直播间</div>
    <div class="chat-info" *ngIf="unreadCount" >
      <i class="bi bi-chat6"></i>
      {{unreadCount}}条新的消息
    </div>
  </div>

  <div class="live-info-container block">
    <div class="title">
      <i class="bi bi-tv"></i>
      话题间信息
    </div>
    <div class="content">
      <div class="live-title">{{liveInfo.subject}}</div>
      <span class="live-status" *ngIf="liveInfo.status === liveStatusEnums.Created">未开始</span>
      <span class="live-status" *ngIf="liveInfo.status === liveStatusEnums.Started">
        正在直播 {{liveInfo.startedAt | timeTo:timeNow | durationFormater:1}}:{{liveInfo.startedAt | timeTo:timeNow | durationFormater:2}}
      </span>
      <span class="live-status" *ngIf="liveInfo.status === liveStatusEnums.Ended">已结束</span>
    </div>
  </div>

  <div class="vips-container block">
    <div class="title">
      <i class="bi bi-envelop"></i>
      邀请嘉宾
    </div>
    <div class="content">
      <div class="avatar-container" *ngFor="let vip of liveInfo.editors">
        <img class="avatar" [src]="vip.avatar" alt="嘉宾头像">
        <p class="nick">{{vip.nick}}</p>
      </div>
      <div class="invite" (click)="goInvitation()"></div>
    </div>
  </div>

  <div class="auto-play-switch bar">
    <span class="title">语音自动播放</span>
    <switch-btn class="switch-btn" [isOpened]="audioAutoPlay" [btnText]="''" (toggling)="audioAutoPlay = $event"></switch-btn>
  </div>

  <a class="end-btn" *ngIf="liveInfo.status === liveStatusEnums.Started && isAdmin" (click)="closeLive()">结束直播</a>
  <a class="end-btn" *ngIf="(liveInfo.status !== liveStatusEnums.Started && isAdmin) || !isAdmin" (click)="closeWindow()">退出房间</a>
</div>
