.operation-tips {
  position: absolute;
  left: 50%;
  bottom: 80px;
  border-radius: 3px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background: rgba(76, 76, 76, 0.90);
  max-width: 80%;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity .5s;
  line-height: 1em;

  &.is-opened {
    opacity: 1;
  }
}
