.topbar-switch-btn {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 22px;
  border-radius: 19px;
  background-color: $color-dark-gray;

  &.opened {
    background-color: $color-brand;

    .people-count-wrapper {
      .toggler {
        .toggler-inner {
          color: $color-brand;
        }
      }
    }
  }

  .people-count-wrapper {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;

    .people-count {
      margin: auto auto auto -2px;
      pointer-events: none;
      font-size: 12px;
      color: white;
      transform: scale(0.8);

      .bi {
        font-size: 19px;
        margin-right: 3px;
      }
    }
  }

  .toggler {
    display: flex;
    flex-shrink: 0;
    margin: 1px;
    width: 20px;
    background-color: $color-w;
    border-radius: 50%;

    .toggler-inner {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-dark-gray;
      font-size: 12px;
      line-height: 1em;
    }
  }
}
