@import "../../node_modules/bootstrap/scss/_normalize.scss";

* {
  font-family: "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

body {
  -webkit-overflow-scrolling: touch;
}

input, text-area {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
