.tips {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 1);
  font-size: 14px;
  color: rgb(158, 161, 165);
  line-height: 30px;
}

.share-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  background-color: $color-b;
  z-index: 3;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .share-img {
    margin: auto 0;
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease;
    &.is-loading {
      width: 0;
      opacity: 0;
    }
  }
}
