.article-content {
  &.no-margin {
    p {
      margin: 0;
    }

    img {
      max-width: 100%;
    }
  }

  i {
    font-weight:inherit;
  }

  p {
    margin: 1em 0;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.75em;
    text-align: justify;
    font-size: $font-size-16;
    color: $color-dark-gray;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }

  b, strong {
    font-weight: bold;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
