.button {
  display: block;
  height: 41px;
  width: 100%;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 17px;
  line-height: 41px;
  text-align: center;

  &:disabled {
    opacity: .5;
  }

  &.button-primary {
    background-color: $color-brand;
    border: $color-brand;
    color: #fff;
  }

  &.button-outline {
    background-color: transparent;
    border: solid 1px change_color($color-gray3, $alpha: .5);
    color: $color-dark-gray;
  }
}
