.bi {
  /* 避免before之后有一个空行 */
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  &:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
  }
}
