$color-brand: rgb(49, 181, 165);
$color-brand2: rgb(52, 191, 175);
$color-gray: rgb(158, 161, 165);
$color-gray2: rgb(187, 191, 191);
$color-gray3: rgb(144, 144, 144);
$color-gray4: rgb(240, 240, 240);
$color-gray5: rgb(251, 251, 251);
$color-gray6: rgb(124, 124, 124);
$color-dark-gray: rgb(75, 75, 75);
$color-dark-gray2: rgb(33, 33, 33);
$color-dark-gray3: rgb(51, 51, 51);
$color-w: rgb(255, 255, 255);
$color-b: rgb(0, 0, 0);
$color-danger: #e23131;
$color-warning: #f0ad4e;
$color-success: #5cb85c;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;

$z-index-page-lv1: 10;
$z-index-page-lv2: 20;
$z-index-page-lv3: 30;
$z-index-page-lv4: 40;
$z-index-page-lv5: 50;
$z-index-page-lv6: 60;
$z-index-page-lv7: 70;
$z-index-page-lv8: 80;
$z-index-page-lv9: 90;
$z-index-page-lv10: 100;

$z-index-global-lv1: 110;
$z-index-global-lv2: 120;
$z-index-global-lv3: 130;
$z-index-global-lv4: 140;
$z-index-global-lv5: 150;
$z-index-global-lv6: 160;
$z-index-global-lv7: 170;
$z-index-global-lv8: 180;
$z-index-global-lv9: 190;
$z-index-global-lv10: 200;

