.audience-tool-bar {
  position: relative;
  z-index: 2;
  display: flex;
  height: 50px;
  box-sizing: border-box;
  border-top: solid 1px rgba(143, 143, 143, .3);
  font-size: 0;
  background-color: rgb(250, 250, 250);
  line-height: 49px;
  white-space: nowrap;

  .comment-input {
    flex-grow: 1;
    height: 49px;
    transition: all 0.2s;

    &.activate {
      width: 100%;
      margin-left: 8px;
    }
  }

  .bottom-bar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-gray;
    height: 49px;
    width: 0;
    flex-shrink: 0;
    transition: all .5s;
    opacity: 0;
    overflow: hidden;

    &.activate {
      width: 55px;
      opacity: 1;
    }

    .bi {
      font-size: 24px;
    }
  }
}

.at-keyboard {
  display: block;
  height: 0;
  overflow: hidden;

  &.activate {
    height: 252px;
  }
}
