<div class="unread-count" *ngIf="!isOnBottom && unreadCount !== 0" (click)="triggerGotoLatest()">有{{unreadCount}}条话题间新消息<i
  class="bi bi-up-arrow2"></i></div>

<div class="timeline scrollable" (scroller)="onScroll($event)" [data]="messages"
     [dataContainerSelector]="'.data-container'">
  <bd-loading class="loading-head"
              [ngClass]="{show: scroller.isHeadLoadingShown,hide:!scroller.isHeadLoadingShown}"></bd-loading>

  <div class="data-container">
    <message #messagesComponents *ngFor="let message of messages"
             [liveId]="id"
             [message]="message"
             [userInfo]="userInfo"
             [liveInfo]="liveInfo"
             (audioPlayEnded)="audioPlayEnded(message)"
    ></message>
    <inputting #inputtingComp [liveInfo]="liveInfo" [userInfo]="userInfo" (onshow)="onShowInputting()"></inputting>
  </div>

  <bd-loading class="loading-foot"
              [ngClass]="{show: scroller.isFootLoadingShown,hide:!scroller.isFootLoadingShown}"></bd-loading>
</div>

<div class="history" *ngIf="liveInfo.isClosed() && liveInfo.isTypeText()" (click)="gotoHistory()">
  <span class="tips" *ngIf="!historyTipsShown">点击查看历史记录</span>
  <div class="entry">
    <i class="bi bi-paper-history"></i>
  </div>
</div>

<hamburger-menu class="hamburger-menu" [liveId]="liveInfo.id" [userInfo]="userInfo" *ngIf="!isInApp"></hamburger-menu>
