<div class="apply">
  <live-room-top-bar class="top-bar" [userInfo]="userInfo"></live-room-top-bar>

  <div class="loading" style="display: none" *ngIf="loading">
    <bd-loading></bd-loading>
  </div>

  <form class="main-form" [formGroup]="form" name="apply" (submit)="submit()" *ngIf="!loading && !application">
    <div class="form-head">
      <div class="title">填写申请信息</div>
      感谢关注白丁直播，请详细填写以下信息。我们会有专人审核，请耐心等待。
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': form.controls['username'].dirty && form.controls['username'].invalid}">
      <label class="required">用户名</label>
      <input
        id="username"
        class="username"
        name="username"
        type="text"
        formControlName="username"
        [(ngModel)]="username"
      >
      <p class="helper" *ngIf="form.controls['username'].valid || !form.controls['username'].dirty">
        用户名长度5-20个字符，以字母开头，可包含字母、数字、横线。创建以后不可修改。
      </p>
      <div *ngIf="form.controls['username'].errors">
        <p class="helper error" *ngIf="form.controls['username'].errors.required">请填写用户名</p>
        <p class="helper error" *ngIf="form.controls['username'].errors.pattern">用户名长度5-20个字符, 须以字母开头，只可包含字母、数字、横线</p>
        <p class="helper error" *ngIf="form.controls['username'].errors.api">用户名已存在</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['email'].dirty && form.controls['email'].invalid}">
      <label class="required">电子邮箱</label>
      <input
        id="email"
        class="email"
        name="email"
        type="text"
        formControlName="email"
        [(ngModel)]="email"
      >
      <p class="helper" *ngIf="form.controls['email'].valid || !form.controls['email'].dirty">收到审核申请之后，我们将会通过邮件通知您</p>
      <div *ngIf="form.controls['email'].errors">
        <p class="helper error" *ngIf="form.controls['email'].errors.required">请填写用户名</p>
        <p class="helper error" *ngIf="form.controls['email'].errors.pattern">电子邮箱格式错误</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': form.controls['realName'].dirty && form.controls['realName'].invalid}">
      <label class="required">姓名</label>
      <input
        id="realName"
        class="realName"
        name="realName"
        type="text"
        formControlName="realName"
        [(ngModel)]="realName"
      >
      <p class="helper" *ngIf="form.controls['realName'].valid || !form.controls['realName'].dirty">请填写您的真实姓名</p>
      <div *ngIf="form.controls['realName'].errors">
        <p class="helper error" *ngIf="form.controls['realName'].errors.required">请填写姓名</p>
        <p class="helper error" *ngIf="form.controls['realName'].errors.maxLength">姓名最长20个字符</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['company'].dirty && form.controls['company'].invalid}">
      <label class="required">机构名称</label>
      <input
        id="company"
        class="company"
        name="company"
        type="text"
        formControlName="company"
        [(ngModel)]="company"
      >
      <div *ngIf="form.controls['company'].errors">
        <p class="helper error" *ngIf="form.controls['company'].errors.required">请填写机构名称</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['title'].dirty && form.controls['title'].invalid}">
      <label class="required">职位</label>
      <input
        id="title"
        class="title"
        name="title"
        type="text"
        formControlName="title"
        [(ngModel)]="title"
      >
      <div *ngIf="form.controls['title'].errors">
        <p class="helper error" *ngIf="form.controls['title'].errors.required">请填写职位</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': form.controls['phoneNumber'].dirty && form.controls['phoneNumber'].invalid}">
      <label class="required">手机号码</label>
      <input
        id="phoneNumber"
        class="phoneNumber"
        name="phoneNumber"
        type="text"
        formControlName="phoneNumber"
        [(ngModel)]="phoneNumber"
      >
      <div *ngIf="form.controls['phoneNumber'].errors">
        <p class="helper error" *ngIf="form.controls['phoneNumber'].errors.required">请填写手机号码</p>
        <p class="helper error" *ngIf="form.controls['phoneNumber'].errors.pattern">手机号码格式错误</p>
      </div>
    </div>

    <div class="operation-area">
      <button class="btn" *ngIf="!isSubmitting">申请</button>
      <span class="btn disabled" *ngIf="isSubmitting">提交中...</span>
    </div>
  </form>

  <div class="apply-waitting" *ngIf="!loading && application && application.status === applicationStatus.Waitting">
    <div class="title">
      <i class="bi bi-paper-submitted"></i>
      申请已经提交
    </div>
    感谢您关注白丁直播，我们已经收到了您的申请，会尽快处理您的申请。如果申请成功，我们将会以短信方式提醒您。
    <div class="operation-area">
      <a class="btn" (click)="back()">返回</a>
    </div>
  </div>

  <div class="apply-pass" *ngIf="!loading && application && application.status === applicationStatus.Pass">
    <div class="title">
      <i class="bi bi-paper-checked"></i>
      审核通过
    </div>
    感谢您关注白丁直播，您的申请已经通过审核。现在可以创建话题间了。
    <div class="operation-area">
      <a class="btn" (click)="gotoCreate()">创建话题间</a>
    </div>
  </div>
</div>



