<video
  #videoPlayer
  *ngIf="!liveInfo.isCreated()"
  class="video-js vjs-default-skin video-player"
  controls
  preload="none"
  webkit-playsinline
>
  <source *ngFor="let item of streamInfo.streamSrc" [src]="item.src" [type]="item.type">
  <source *ngFor="let item of streamInfo.playbackSrc" [src]="item.src" [type]="item.type">
</video>

<div class="live-cover" *ngIf="!isPlayed" (click)="play()">
  <img [src]="liveInfo.coverSmallUrl" alt="话题间封面">

  <div class="indicator living" *ngIf="liveInfo.isStarted()">进行中</div>
  <div class="indicator closed" *ngIf="liveInfo.isClosed()">已结束</div>

  <count-down
    class="count-down"
    [expectStartAt]="liveInfo.expectStartAt"
    [countDownStatus]="liveInfo.isCreated()"
  ></count-down>

  <i class="bi bi-play-fill" *ngIf="!liveInfo.isCreated()"></i>
</div>
