.timeline-message-container {
  margin-bottom: 20px;

  .message, .message-reply {
    display: flex;

    .avatar-container {
      flex-shrink: 0;
      flex-basis: 68px;
      width: 68px;
    }

    .content-container {
      img {
        max-width: 100%;
      }

      .content-info {
        display: flex;

        .name {
          flex-grow: 1;
        }

        .time {
          flex-shrink: 0;
        }
      }

      flex-grow: 1;
    }
  }

  .thumbs-up {
    position: relative;
    flex-shrink: 0;
    flex-basis: 54px;
    width: 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(75, 75, 75);

    &.had-thumbs-up {
      color: rgb(33, 150, 243);

      .thumbs-up-btn {
        color: rgb(33, 150, 243);
      }
    }

    .thumbs-up-animations {
      position: absolute;
      width: 70px;
      height: 200px;
      bottom: 45px;
      right: 0;
      overflow: hidden;
    }

    .thumbs-up-btn, .thumbs-up-count {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      line-height: 1em;
    }

    .thumbs-up-btn {
      padding-bottom: 5px;
      font-size: 21px;
      color: rgb(75, 75, 75);
    }

    .thumbs-up-count {
      font-size: 14px;
    }
  }
}

.timeline-message-container {
  .message, .message-reply {
    .avatar-container {
      .avatar {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 0 auto;
      }

      .role {
        display: block;
        width: 48px;
        margin: 0 auto;
        background-color: rgb(224, 229, 234);
        padding: 4px 6px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 1em;
        text-align: center;
        color: rgb(75, 75, 75);
        transform: scale(0.833333333);/*10/12=0.833, font-size:10px*/
      }
    }

    .content-container .content {
      user-select: none;
      touch-callout: none;
      padding: 12px;
      background-color: rgb(237, 242, 247);
      color: rgb(75, 75, 75);
      font-size: 16px;
      border-radius: 10px;
      word-break: break-all;
    }

    // 我的内容，用蓝色背景
    &.mime {
      .content-container {
        .content {
          background-color: rgb(33, 150, 243);
          color: rgb(242, 242, 242);
          border-top-color: rgba(255, 255, 255, .5);
        }

        .audio-content {
          .translate {
            &:before {
              border-top: solid 1px rgba(255, 255, 255, .5);
            }

            .translate-tips {
              color: rgba(255, 255, 255, .5);
            }
          }
        }
      }
    }
  }

  // 主消息
  .message {
    position: relative;

    &.has-reply {
      .content-container .content {
        position: relative;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        &:after {
          position: absolute;
          bottom: -14px;
          left: 0;
          content: "";
          width: 0px;
          height: 0px;
          border-top: solid 7px rgb(224, 229, 234);
          border-bottom: solid 7px transparent;
          border-left: solid 15px transparent;
          border-right: solid 15px transparent;
        }
      }
    }

    &.mime {
      // 我的内容，并且有回复，设置下方的三角为蓝色
      &.has-reply {
        .content-container .content {
          &:after {
            border-top-color: rgb(33, 150, 243);
          }
        }
      }
    }

    .tooltips-container {
      position: absolute;
      bottom: calc(100% - 8px);
      left: 50%;
      transform: translateX(-50%);
    }

    .content-container {
      .content-info {
        line-height: 1em;
        margin-bottom: 4px;

        .name {
          margin: 0;
          color: rgb(158, 161, 165);
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .time {
          float: right;
          color: rgb(158, 161, 165);
          font-size: 14px;
        }
      }

      .content {
        background-color: rgb(224, 229, 234);
      }

      .audio-content {
        .translate {
          position: relative;
          margin-top: 12px;
          padding-top: 12px;

          &:before {
            position: absolute;
            top: 0;
            left: -12px;
            right: -12px;
            height: 0;
            content: "";
            border-top: solid 1px rgba(75, 75, 75, .5);
          }

          .translate-tips {
            color: rgb(158, 161, 165);
            font-size: 14px;
            margin-bottom: 6px;
          }
        }
      }
    }

    .thumbs-up {
      text-align: center;
    }
  }

  // 回复消息
  .message-reply {
    .content-container .content {
      border-radius: 0px;
      border-top: solid 1px rgba(143, 143, 143, .5);
    }

    // 自己的回复的下一条回复不是自己的，那么不显示分割线
    &.mime + :not(.mime), &:not(.mime) + .mime {
      .content-container .content {
        border-top: none;
      }
    }

    // 第一个元素没有顶上的分割线
    &:first-child {
      .content-container .content {
        border-top: none;
      }
    }

    // 最后一个回复才有圆角
    &:last-child {
      .content-container .content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    &:after {
      content: "";
      flex-shrink: 0;
      flex-basis: 54px;
      width: 54px;
    }
  }

  .operation-bar {
    padding-left: 68px;
    padding-top: 7px;

    .thumbs-up-users {
      float: right;
      font-size: 0;
      height: 23px;

      .avatar {
        &:last-child {
          margin-right: 14px;
        }

        width: 23px;
        height: 23px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 12px;
        margin-right: -7px;
      }
    }
  }
}
