<div class="timeline-message-container">
  <div class="message" [ngClass]="{'has-reply': message.replies.length, 'mime': message.user.uid == userInfo.uid}">
    <div class="avatar-container">
      <img class="avatar" [src]="message.user.avatar">
    </div>

    <div class="content-container" (touchstart)="touchStart()" (touchend)="touchEnd()" (contextmenu)="$event.preventDefault()" >
      <div class="content-info">
        <p class="name">{{message.user.nick}} / {{message.user | role: liveInfo}}</p>
        <span class="time">{{message.createdAt | fromNow}}</span>
      </div>

      <div class="content" *ngIf="message.type === 0 || message.type === 3">{{message.content}}</div>
      <div class="content image-content" *ngIf="message.type === 1">
        <image-viewer-preview [imageLinks]="[message.image]"></image-viewer-preview>
      </div>

      <div class="content audio-content" *ngIf="message.type === 2">
        <audio-player #audioPlayer (playEnded)="audioPlayEndedHandler(message)" [message]="message" [isWhiteTheme]="message.user.uid == userInfo.uid"></audio-player>
        <div class="translate">
          <div class="translate-tips">以下由机器自动翻译</div>
          {{message.audio.translateResult}}
        </div>
      </div>

      <div class="tooltips-container">
        <tooltips [(isOpened)]="isToolTipOpened" [items]="getToolTipsItems()" (itemSelected)="tooptipsSelected($event)" (touchstart)="$event.stopPropagation()"></tooltips>
      </div>
    </div>

    <div class="thumbs-up" [ngClass]="{'had-thumbs-up': message.hadPraised}">
      <div class="thumbs-up-animations" praisedAnimation>
        <praised-animation *ngFor="let userAnim of message.praisedAnimations" [userAnim]="userAnim"></praised-animation>
      </div>
      <a class="thumbs-up-btn" (click)="setPraise()">
        <i class="bi bi-thumbsup"></i>
      </a>
      <span class="thumbs-up-count" (click)="setPraise()">{{message.praisedAmount}}</span>
    </div>
  </div>

  <div class="message-reply-container">
    <div class="message-reply" *ngFor="let reply of message.replies" [ngClass]="{'mime': reply.user.uid == userInfo.uid}">
      <div class="avatar-container">
        <img class="avatar" [src]="reply.user.avatar">
      </div>
      <div class="content-container">
        <div class="content">{{reply.user.nick}} @{{message.user.nick}}<br/>{{reply.content}}</div>
      </div>
    </div>
  </div>

  <div class="operation-bar clearfix">
    <div class="thumbs-up-users">
      <img class="avatar" *ngFor="let user of message.getPraisedAvatars(userInfo)" [src]="user.avatar">
    </div>
  </div>
</div>
