<live-room-info-upper class="live-room-info-component" *ngIf="message.type === messageType.LiveRoomInfo"
                      [liveInfo]="liveInfo"></live-room-info-upper>

<div class="live-started" *ngIf="message.type === messageType.LiveStart">
  <div class="live-started-tip">直播正式开始啦!</div>
</div>

<div class="message-type-join" *ngIf="message.type === messageType.EditorJoin">
  <div (click)="popUpEditorCard(message.user)">
    <img class="avatar-sm" [src]="message.user.avatar">
    <span> 嘉宾<span>{{message.user.nick}}</span>加入了话题 </span>
  </div>
</div>

<div class="live-ended" *ngIf="message.type === messageType.LiveEnd">
  <div class="live-ended-tip">直播结束</div>

  <!--<div class="ended-review">-->
  <!--<i class="bi bi-paper"></i>-->
  <!--<div class="published">直播记录已经发布</div>-->
  <!--<div class="read"><a (click)="gotoHistory()">阅读</a></div>-->
  <!--</div>-->
</div>

<div
  class="timeline-message-container"
  *ngIf="message.type !== messageType.EditorJoin && message.type !== messageType.LiveStart &&
  message.type !== messageType.LiveEnd && message.type !== messageType.LiveRoomInfo"
>
  <div class="message" [ngClass]="{'has-reply': message.replies.length, 'mime': message.user.uid == userInfo.uid}">
    <div class="avatar-container">
      <div class="avatar-wrapper" (click)="emitAvatarClick(message.user)" (contextmenu)="$event.preventDefault()">
        <img class="avatar" [src]="message.user.avatar">
      </div>
    </div>

    <div class="content-container" (touchstart)="touchStart()" (touchend)="touchEnd()"
         (contextmenu)="$event.preventDefault()">
      <div class="content-info">
        <p class="name">{{message.user.nick}} / {{message.user | role: liveInfo}}</p>
        <span class="time">{{message.createdAt | fromNow}}</span>
      </div>

      <div class="content" *ngIf="message.type === 0 || message.type === 3"
           [innerHtml]="parseContent(message.content)"></div>
      <div class="content image-content" *ngIf="message.type === 1">
        <image-viewer-preview [imageLinks]="[message.image]"></image-viewer-preview>
      </div>

      <div class="content audio-content" *ngIf="message.type === 2">
        <audio-player #audioPlayer (playEnded)="audioPlayEndedHandler(message)" [message]="message"
                      [isWhiteTheme]="message.user.uid == userInfo.uid"></audio-player>

        <div class="translate" [ngClass]="{'not-expanded': isTranslationExpanded}"
             (click)="toggleTranslatioExpanded(message.audio.translateResult)">
          <div class="translate-tips">以下由机器自动翻译</div>
          {{message.audio.translateResult !== '' ? message.audio.translateResult : '暂无翻译内容'}}
        </div>
        <i class="bi bi-elliplis" *ngIf="isTranslationExpanded"></i>
      </div>

      <div class="tooltips-container">
        <tooltips [(isOpened)]="isToolTipOpened" [items]="getToolTipsItems()" (itemSelected)="tooptipsSelected($event)"
                  (touchstart)="$event.stopPropagation()"></tooltips>
      </div>
    </div>

    <div class="thumbs-up" [ngClass]="{'had-thumbs-up': message.hadPraised}">
      <div class="thumbs-up-animations" praisedAnimation>
        <praised-animation *ngFor="let userAnim of message.praisedAnimations" [userAnim]="userAnim"></praised-animation>
      </div>
      <a class="thumbs-up-btn" (click)="setPraise()">
        <i class="bi bi-thumbsup"></i>
      </a>
      <span class="thumbs-up-count" (click)="setPraise()">{{message.praisedAmount}}</span>
    </div>
  </div>

  <div class="message-reply-container">
    <div class="message-reply" *ngFor="let reply of message.replies"
         [ngClass]="{'mime': reply.user.uid == userInfo.uid}">
      <div class="avatar-container">
        <div class="avatar-wrapper " (click)="emitAvatarClick(reply.user)" (contextmenu)="$event.preventDefault()">
          <img class="avatar" [src]="reply.user.avatar">
        </div>
      </div>
      <div class="content-container">
        <div class="content">
          {{reply.user.nick}}回复{{message.user.nick}}
          <div [innerHtml]="parseContent(reply.content)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="operation-bar clearfix">
    <div class="thumbs-up-users">
      <img class="avatar" *ngFor="let user of message.getPraisedAvatars(userInfo)" [src]="user.avatar">
    </div>
  </div>
</div>
