<live-room-info-upper
  class="live-room-info-component"
  *ngIf="message.isLiveInfo() && !liveInfo.isTypeVideo()"
  [liveInfo]="liveInfo"
></live-room-info-upper>

<div class="message-type-join" *ngIf="message.isEditorJoin()">
  <div class="vip-joined-tip">
    <img class="avatar-sm" [src]="message.user.avatar">
    <span>嘉宾<span>{{message.user.nick}}</span>加入了话题</span>
  </div>
</div>

<div class="live-started" *ngIf="message.isLiveStarted()">
  <div class="live-started-tip">话题正式开始啦!</div>
</div>

<div class="live-ended" *ngIf="message.isLiveEnded()">
  <div class="live-ended-tip">
    <p>话题结束</p>
    <p>{{liveInfo.closedAt | timeFormater: 'YYYY年MM月DD日 HH:mm'}}</p>
  </div>
</div>

<message-bubble
  class="message-bubble"
  *ngIf="message.isText() || message.isAudio() || message.isImage() || message.isNice()"
  [liveId]="liveId"
  [liveInfo]="liveInfo"
  [userInfo]="userInfo"
  [message]="message"
></message-bubble>
