$color-brand: rgb(67, 214, 203);
$color-gray: rgb(158, 161, 165);
$color-w: rgb(255, 255, 255);
$color-b: rgb(0, 0, 0);

@function color-brand-transparent($transparent){
  @return #{'rgba(67, 214, 203, ' + $transparent + ');'}
}
