$color-brand: rgb(49, 181, 165);
$color-gray: rgb(158, 161, 165);
$color-gray2: rgb(187, 191, 191);
$color-dark-gray: rgb(75, 75, 75);
$color-w: rgb(255, 255, 255);
$color-b: rgb(0, 0, 0);

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
