$color-brand: rgb(49, 181, 165);
$color-brand2: rgb(52, 191, 175);
$color-gray: rgb(158, 161, 165);
$color-gray2: rgb(187, 191, 191);
$color-gray3: rgb(144, 144, 144);
$color-gray4: rgb(242, 242, 242);
$color-gray5: rgb(124, 124, 124);
$color-dark-gray: rgb(75, 75, 75);
$color-dark-gray2: rgb(33, 33, 33);
$color-dark-gray3: rgb(51, 51, 51);
$color-w: rgb(255, 255, 255);
$color-b: rgb(0, 0, 0);
$color-danger: #911010;

$font-size-xsm: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
$font-size-xxlg: 22px;
$font-size-xxxlg: 24px;
