<div class="live-room-push-danmu-container">
  <div class="no-result" *ngIf="!danmus.length">暂无评论</div>

  <div class="danmu-container scrollable" pushDanmuScroller>
    <div class="danmu-row" *ngFor="let danmu of danmus">
      <div class="avatar-container">
        <img class="avatar" [src]="danmu.user.avatar">
      </div>
      <div class="content-container">
        <div class="content-info">
          <p class="name">{{danmu.user.nick}}</p>
          <time>{{danmu.createdAt | fromNow}}</time>
        </div>
        <div class="content">{{danmu.content}}</div>
      </div>
      <div class="operation-container">
        <div *ngIf="userInfo.uid == liveInfo.admin.uid">
          <a class="operation-btn" (click)="pushDanmu(danmu)" *ngIf="!danmu.msgId">推送</a>
          <span class="operation-btn pushed" *ngIf="danmu.msgId">已推送</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="live-info" *ngIf="liveInfo" >
      <i class="baiding-icon baiding-icon-chat4"></i>
      {{liveInfo.commented}}
    </div>
    <div class="push-info" *ngIf="liveInfo" >
      <i class="baiding-icon baiding-icon-chat5"></i>
      {{liveInfo.niced}}
    </div>
  </div>
</div>
