.live-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #48AAB0;
  overflow: auto;

  .top-cover {
    position: relative;
    width: 100%;
    height: 74vw;
    max-height: 758px;
    background: #48AAB0 url('https://og9s6vxbs.qnssl.com/live/triangle.jpg') no-repeat;
    background-size: 100% auto;

    .top-cover-img {
      object-fit: cover;
      width: 100%;
      height: 56.25vw;
      max-height: 576px;
    }

    .top-cover-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-top: -24px;
      margin-left: -24px;
      opacity: 0.8;
    }

    .top-cover-sub {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 32px;
      color: $color-w;
      background-color: rgba(56, 56, 56, 0.8);
      padding-left: 20px;
    }
  }

  .main-list {
    background: #48AAB0 url('https://og9s6vxbs.qnssl.com/live/triangle.jpg') no-repeat 0 -74vw;
    background-size: 100% auto;

    .live-info-block {
      padding: 20px 20px 0 20px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cover-small {
        width: 124.8px;
        height: 70px;
        object-fit: cover;
        border: solid white 2px;
      }

      .info {
        position: relative;
        width: 100%;
        min-height: 70px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          color: $color-w;
          font-size: 16px;
          line-height: 20px;
          word-break: break-all;
          margin-top: 5px;
          height: 40px;
          overflow: hidden;
          font-weight: bold;
        }

        .time {
          font-size: $font-size-xsm;
          color: $color-w;
          margin-bottom: 5px;
        }
      }
    }

    .bottom-book {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      color: #ffffff;
      font-size: 18px;
      line-height: 52px;
      height: 52px;
      background: linear-gradient(to right, rgb(0, 235, 226), rgb(244, 210, 99));
      text-align: center;
      font-weight: bold;
      max-width: 1024px;
      margin: 0 auto;
    }

    .loading-foot {
      display: block;
      padding: 10px 0;
      text-align: center;

      &.show {
        opacity: 1;
      }

      &.hide {
        transition: 1s ease all;
        opacity: 0;
      }
    }

    .bottom {
      display: flex;
      height: 62px;

      .word {
        margin: auto;
        font-size: 12px;
        color: $color-w;
      }
    }
  }

}

.loading, .no-record-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: $color-gray;
  transform: translateX(-50%) translateY(-50%);
}

.qrcode-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .content {
    border-radius: 4px;
    width: 260px;
    overflow: hidden;
    background-color: $color-w;

    .header {
      position: relative;
      overflow: hidden;
      background-color: $color-brand;
      text-align: center;

      .close {
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
        width: 78px;
        height: 78px;
        border-radius: 50%;
        right: -39px;
        top: -39px;

        &:before, &:after {
          content: "";
          position: absolute;
          height: 22px;
          width: 1px;
          background-color: rgb(255, 255, 255);
          top: 44px;
          left: 24px;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .live-title {
        margin: 40px 20px 30px;
        color: $color-w;
        word-break: break-all;
        font-size: 18px;

        .paid-tick {
          display: flex;
          height: 40px;
          width: 40px;
          margin: auto;
          margin-bottom: 10px;
          background-color: rgb(255, 255, 255);
          border-radius: 50%;
        }

        .bi-paid {
          margin: auto;
          color: rgb(49, 181, 165);
        }

        .bi-unpaid {
          margin: auto;
          color: rgb(49, 181, 165);
        }
      }

      .count-down {
        /deep/ {
          .info-status-wrapper-countdown {
            background-color: transparent;
          }
        }
      }

      .tips {
        color: $color-w;
        margin: 10px auto 20px;
        font-size: 14px;
      }
    }
  }

  .qrcode {
    text-align: center;

    .qrcode-block {
      margin-top: 10px;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;

      .retry-link {
        color: $color-brand;
        text-decoration: none;
      }

      .qrcode-image {
        width: 130px;
        height: 130px;
      }
    }

    p {
      color: $color-gray;
      line-height: 1.5em;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  .noqrcode {
    text-align: center;
    padding: 40px 40px 80px;

    p {
      color: $color-gray;
      font-size: 12px;
      line-height: 16px;

      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }

    .copyzaojiu {
      position: absolute;
      text-align: center;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      margin: auto;
      background-color: rgb(49, 181, 165);
      color: $color-w;
      font-size: 17px;
      line-height: 48px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
