<div class="mask" *ngIf="isActivated" (click)="switch();"></div>

<div class="hamburger" auto-opacity-down>
  <div class="create-room" (click)="createRoom()" [ngClass]="{active: isActivated}">
    <i class="bi bi-add"></i>
  </div>

  <div class="invite-people" (click)="gotoInfoCenter()" [ngClass]="{active: isActivated}">
    <i class="bi bi-people3"></i>
  </div>

  <div class="hamburger-menu" (click)="switch();$event.stopPropagation();" (touchstart)="dragStart()"
       (touchend)="dragEnd()" (dragstart)="dragStart()" (dragend)="dragEnd()">
    <div id="nav-icon" [ngClass]="{open: isActivated}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
