.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .15);
}

.create-room, .invite-people {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  background-color: $color-w;
  opacity: 0;
  transition: all .25s ease;
  pointer-events: none;

  .bi {
    margin: auto;
  }
}

.invite-people {
  .bi {
    font-size: 26px;
    color: rgb(75, 75, 75);
  }

  &.active {
    pointer-events: auto;
    transform: translateX(-98px) translateY(-40px) rotate(360deg);
    opacity: 1;
    &:after {
      position: absolute;
      top: 66px;
      right: -8px;
      content: '我的列表';
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      width: 80px;
      height: 20px;
      border-radius: 10px;
      background-color: $color-w;
    }
  }
}

.create-room {
  .bi {
    font-size: 20px;
    color: rgb(75, 75, 75);
  }

  &.active {
    pointer-events: auto;
    transform: translateX(-19px) translateY(-131px) rotate(360deg);
    opacity: 1;
    &:after {
      position: absolute;
      top: 66px;
      right: -8px;
      content: '创建话题间';
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      width: 80px;
      height: 20px;
      background-color: $color-w;
      border-radius: 10px;
    }
  }
}

/*hamburger animation*/
.hamburger-menu {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $color-brand;
  display: flex;
  overflow: hidden;

  #nav-icon {
    width: 22px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-w;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
  }

  #nav-icon span:nth-child(2) {
    top: 8px;
  }

  #nav-icon span:nth-child(3) {
    top: 16px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
