.live-room-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.download-tips {
  position: fixed;
  top: 0;
  max-width: 1024px;
  background-color: rgba(0, 0, 0, .5);
  color: $color-w;
  display: flex;
  width: 100%;
  z-index: 3;
  align-items: center;

  .bi-close {
    flex-shrink: 0;
    font-size: 22px;
    padding: 14px 16px;
  }

  .tips {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1em;

    small {
      display: block;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .download-btn {
    height: 26px;
    width: 78px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    background-color: $color-brand;
    margin-right: 16px;
    color: $color-w;
    border-radius: 6px;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: $color-b;

  .video {
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    .video-player {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .live-cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .count-down {
        position: absolute;
        left: 0;
        top: 0;
      }

      .indicator {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 59px;
        height: 20px;
        border-radius: 4px;
        line-height: 20px;
        text-align: center;
        flex-shrink: 0;

        &.closed {
          background-color: rgb(102, 102, 102);
          font-size: 12px;
          color: $color-w;
        }

        &.living {
          display: flex;
          background-color: rgb(243, 33, 33);
          font-size: 12px;
          color: $color-w;

          &:before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-w;
            margin-left: 8px;
            margin-right: 4px;
            margin-top: 7px;
          }
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .bi-play-fill {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 30px;
        color: $color-w;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          transform: translateX(3px);
        }
      }
    }

  }
}

.chat {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $color-w;

  &.blured {
    filter: blur(7px);
  }

  .top-bar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .comments {
    position: absolute;
    top: 50px;
    right: 12px;
    max-width: 80%;
    z-index: 2;
  }

  .editor-tool-bar, .audience-tool-bar {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }

  .timeline {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .praised-animations {
    position: absolute;
    width: 70px;
    height: 200px;
    bottom: 51px;
    right: 0;
    overflow: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 1024px) {
  :host {
    flex-direction: row;

    .video-container {
      width: 50%;
    }
  }
}

