<bd-loading class="live-room-loading" *ngIf="!liveInfo"></bd-loading>

<!--<beginner-guide-->
  <!--[showAdminGuide]="liveInfo.isEditor(userInfo.uid)"-->
  <!--[showUserGuide]="liveInfo.isAudience(userInfo.uid)"-->
<!--&gt;</beginner-guide>-->

<div class="download-tips" *ngIf="isDownloadTipsShow">
  <i class="bi bi-close" (click)="isDownloadTipsShow = false"></i>
  <div class="tips">
    造就iOS版
    <small>发现最有创造力的声音</small>
  </div>
  <a class="download-btn" target="_blank" [href]="iosDownloadLink">立即下载</a>
</div>

<div class="video" *ngIf="liveInfo && liveInfo.isTypeVideo()">
  <video-player #videoPlayer class="video-player" *ngIf="videoInfo" [videoInfo]="videoInfo" [option]="videoOption"></video-player>

  <div class="live-cover" *ngIf="!videoPlayer || !videoPlayer.isPlaying" (click)="playVideo()">
    <img [src]="liveInfo.coverSmallUrl" alt="话题间封面">

    <div class="indicator living" *ngIf="liveInfo.isStarted()">进行中</div>
    <div class="indicator closed" *ngIf="liveInfo.isClosed()">已结束</div>

    <count-down
      class="count-down"
      [expectStartAt]="liveInfo.expectStartAt"
      [countDownStatus]="liveInfo.isCreated()"
    ></count-down>

    <i class="bi bi-play-fill" *ngIf="videoInfo && videoInfo.hasVideo"></i>
  </div>
</div>

<div class="live-room-container" *ngIf="liveInfo" [ngClass]="{'blured': showInfo}">
  <top-bar
    class="top-bar"
    [onlineCount]="liveInfo.totalUsers"
    [userInfo]="userInfo"
    [liveInfo]="liveInfo"
    [(isCommentOpened)]="isCommentOpened"
    [isTimelineOnOldest]="timeline.isOnOldest"
    [isTimelineOnLatest]="timeline.isOnLatest"
  ></top-bar>

  <comments
    class="comments"
    [ngClass]="{'hidden': !isCommentOpened}"
    [streamId]="id"
    [userInfo]="userInfo"
  ></comments>

  <timeline class="timeline" [liveInfo]="liveInfo" [userInfo]="userInfo" #timeline></timeline>

  <div class="praised-animations" praisedAnimation>
    <praised-animation
      *ngFor="let userAnim of liveInfo.praisedAnimations"
      [userAnim]="userAnim"
    ></praised-animation>
  </div>

  <audience-tool-bar
    *ngIf="liveInfo.isAudience(userInfo.uid)"
    class="audience-tool-bar"
    [liveId]="id"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
  ></audience-tool-bar>

  <editor-tool-bar
    *ngIf="liveInfo.isEditor(userInfo.uid)"
    class="editor-tool-bar"
    [liveId]="id"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
  ></editor-tool-bar>
</div>

<user-info-card></user-info-card>
