<!--<beginner-guide-->
  <!--[showAdminGuide]="liveInfo.isEditor(userInfo.uid)"-->
  <!--[showUserGuide]="liveInfo.isAudience(userInfo.uid)"-->
<!--&gt;</beginner-guide>-->

<div class="video-container" *ngIf="liveInfo.isTypeVideo()">
  <div class="video" [ngClass]="{'mobile-landscape': !isOnLargeScreen && isLandscape}" (click)="onClick()">
    <video-player
      [ngClass]="{hidden: !isLiveRoomVisable || hasGlobalPopup}"
      class="video-player"
      [videoInfo]="videoInfo"
      [option]="videoOption"
      (onEvents)="onVideoEvent($event)"
      #videoPlayer
    ></video-player>

    <div class="live-cover" *ngIf="isVideoCoverShown">
      <img [src]="liveInfo.coverSmallUrl" alt="话题间封面">

      <div class="indicator living" *ngIf="liveInfo.isStarted()">进行中</div>
      <div class="indicator closed" *ngIf="liveInfo.isClosed()">已结束</div>

      <count-down
        class="count-down"
        [expectStartAt]="liveInfo.expectStartAt"
        [countDownStatus]="liveInfo.isCreated()"
      ></count-down>

      <i class="bi bi-play-fill"></i>
    </div>
  </div>
</div>

<div class="chat" [ngClass]="{'blured': showInfo}">
  <top-bar
    class="top-bar"
    [onlineCount]="liveInfo.totalUsers"
    [userInfo]="userInfo"
    [liveInfo]="liveInfo"
    [(isCommentOpened)]="isCommentOpened"
    [isTimelineOnOldest]="timeline.isOnOldest"
    [isTimelineOnLatest]="timeline.isOnLatest"
  ></top-bar>

  <div class="download-tips" *ngIf="isDownloadTipsShow">
    <i class="bi bi-close" (click)="isDownloadTipsShow = false"></i>
    <div class="tips">
      造就iOS版
      <small>_REPL_SLOGAN_</small>
    </div>
    <a class="download-btn" (click)="isiOS ? redirectToYingYongBao() : showDownloadModal()">立即下载</a>
  </div>

  <comments
    class="comments"
    [ngClass]="{'hidden': !isCommentOpened}"
    [streamId]="id"
    [userInfo]="userInfo"
  ></comments>

  <timeline class="timeline" [liveInfo]="liveInfo" [userInfo]="userInfo" #timeline></timeline>

  <div class="praised-animations" praisedAnimation>
    <praised-animation
      *ngFor="let userAnim of liveInfo.praisedAnimations"
      [userAnim]="userAnim"
    ></praised-animation>
  </div>

  <audience-tool-bar
    *ngIf="liveInfo.isAudience(userInfo.uid)"
    class="audience-tool-bar"
    [liveId]="id"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
  ></audience-tool-bar>

  <editor-tool-bar
    *ngIf="liveInfo.isEditor(userInfo.uid)"
    class="editor-tool-bar"
    [liveId]="id"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
  ></editor-tool-bar>
</div>

<div class="live-room-alert-message" *ngIf="alertMessage && isAlertMessageShown">
  <div class="live-room-alert-message-container">
    <p class="live-room-alert-message-title">话题间参与须知</p>
    <p class="live-room-alert-message-content" [innerHTML]="alertMessage"></p>
    <div class="close" (click)="closeAlert()"></div>
  </div>
</div>

<user-info-card></user-info-card>

<router-outlet></router-outlet>
