.edit-info-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;

  .top-bar {
    flex-shrink: 0;
  }

  .operation-area {
    flex-shrink: 0;
  }

  .main-form {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 15px;

    .avatar-wrapper {
      display: flex;

      .avatar {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }

  .operation-area {
    display: flex;
    background-color: $color-brand;

    .btn {
      width: 50%;
      text-align: center;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      color: $color-w;
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

