<div class="edit-info-container" *ngIf="user" (ngSubmit)="submit()">

  <div class="main-form">
    <div class="avatar-wrapper">
      <img class="avatar" [src]="user.avatar" alt="嘉宾头像">
    </div>
    <div class="vip-name-wrapper ">
      <div class="name">我的名字</div>
      <div class="input-container">
        <input class="input" name="nameContent" [(ngModel)]="nameContent" autofocus>
      </div>
    </div>

    <div class="vip-intro-wrapper ">
      <div class="intro">关于我</div>
      <span class="intro-word">简介字数150字以内，可不填写</span>
      <div class="input-container">
        <textarea class="input" name="introContent" [(ngModel)]="introContent"></textarea>
      </div>
    </div>

  </div>

  <div class="operation-area">
    <a class="btn" (click)="backToViewInfo()">取消</a>
    <button class="btn" (click)="submit()">保存</button>
  </div>

</div>

