<form class="live-room-post-comment-container" (ngSubmit)="submit()">
  <div class="top-bar">
    <a class="close-btn" (click)="backToMainScreen()">关闭</a>
  </div>

  <div class="comment-input-container">
    <textarea class="comment-input" placeholder="发表你此刻的看法" name="content" [(ngModel)]="content"></textarea>
  </div>

  <div class="bottom-bar">
    <a class="add-image" href="">图</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <button class="post-btn" [disabled]="!content">发送</button>
  </div>
</form>
