<div class="live-room-post-comment-container">
  <div class="top-bar">
    <span class="reply-info">回复 Louis Sandoval</span>
    <a class="close-btn" (click)="backToMainScreen()">关闭</a>
  </div>

  <div class="comment-input-container">
    <textarea class="comment-input" placeholder="请输入你的评论"></textarea>
  </div>

  <div class="bottom-bar">
    <a class="add-image" href="">图</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <a class="face" href="">脸</a>
    <button class="post-btn">发送</button>
  </div>
</div>
