<div class="buy">
  <bd-loading class="abs-center" *ngIf="isLoading"></bd-loading>

  <div class="error-screen abs-center" *ngIf="!isLoading && !event">
    网络错误，请<a href="" (click)="initData(); $event.preventDefault();">重试</a>
  </div>

  <div class="container" *ngIf="!isLoading && event">
    <img class="cover" [src]="event.coverUrl" alt="头图">
    <div class="block">
      <h1 class="subject">{{event.subject}}</h1>
      <div class="desc talk-article" [innerHTML]="event.desc"></div>
    </div>
    <div class="speaker block" *ngFor="let speaker of event.meta.speakers">
      <img class="avatar avatar-round" [src]="speaker.coverUrl" alt="嘉宾头像">
      <h2 class="nick">{{speaker.subject}}</h2>
      <div class="title" [innerHTML]="speaker.title" *ngIf="speaker.title"></div>
      <div class="desc" [innerHTML]="speaker.desc" *ngIf="speaker.desc"></div>
    </div>
    <div class="location block" *ngIf="event.meta.startAt || event.meta.address">
      <p *ngIf="event.meta.startAt">
        时间：<span>{{event.meta.startAtParsed.format('YYYY-MM-DD HH:mm:ss')}}</span><span *ngIf="event.meta.endAt"> - {{event.meta.endAtParsed.format('YYYY-MM-DD HH:mm:ss').replace(event.meta.startAtParsed.format('YYYY-MM-DD'), '')}}</span>
      </p>
      <p class="address" *ngIf="event.meta.address">
        地点：<span *ngIf="event.meta.city">{{event.meta.city}} </span>{{event.meta.address}}
      </p>
    </div>
  </div>

  <footer *ngIf="!isLoading && event && event.meta.tickets.length">
    <button class="button button-primary" (click)="isPaymentPopup = true">{{btnText}}</button>
  </footer>

  <div class="payment-popup" *ngIf="!isLoading && event" [ngClass]="{'show': isPaymentPopup}">
    <div class="header">
      <div class="subject">{{event.subject}}</div>
      <i class="bi bi-close" (click)="isPaymentPopup = false"></i>
    </div>
    <div class="detail">
      <div class="item-name">
        <span
          class="ticket"
          [ngClass]="{'active': ticket.id === ticketId}"
          *ngFor="let ticket of event.meta.tickets"
          (click)="chooseTicket(ticket.id)"
        >{{ticket.name}}</span>
      </div>
      <div class="item-count">
        <div class="adjuster">
          <span class="increase" (click)="ticketCount=ticketCount+1"></span><input class="count-input" type="number" [(ngModel)]="ticketCount"><span class="decrease" (click)="ticketCount > 1 ? ticketCount=ticketCount-1 : true"></span>
        </div>
        <p class="error" *ngIf="isTicketCountError">输入数量错误，请输入大于0的整数</p>
      </div>
    </div>
    <div class="amount">
      <bd-loading *ngIf="isAmoutLoading"></bd-loading>
      <span *ngIf="!isAmoutLoading">{{amount.toYuan()}}</span>
    </div>
    <button class="button button-primary" (click)="pay()">微信支付</button>
  </div>
</div>

