<div [autoblur]="mode === modeEnums.None" (blurred)="switchMode(modeEnums.None)">
  <div class="editor-tool-bar" [ngClass]="{'is-closed': isClose}">
    <i
      class="bi bi-comment post-message"
      (click)="switchMode(modeEnums.Text); focusMessageInput() "
      (contextmenu)="$event.preventDefault()"
      [ngClass]="{activate: mode === modeEnums.Text || mode === modeEnums.At}"
    ></i>

    <form
      *ngIf="!isInWechat"
      [formGroup]="form"
      name="editInfo"
      class="post-image"
      (click)="switchMode(modeEnums.None)"
      (contextmenu)="$event.preventDefault()"
    >
      <label class="add-image" for="image-selector">
        <input
          class="fileSelector"
          id="image-selector"
          type="file"
          formControlName="images"
          [(ngModel)]="images"
        >
      </label>
      <i class="bi bi-image"></i>
    </form>

    <i class="bi bi-image post-image" *ngIf="isInWechat" (click)="selectImages()"></i>

    <div class="record-btn-container"
         [ngClass]="{recording: recorder && recorder.status === recordEnums.Recording, activate: mode === modeEnums.Audio}"
         (mousedown)="switchMode(modeEnums.Audio)" (touchstart)="switchMode(modeEnums.Audio)"
         (contextmenu)="$event.preventDefault()"
    >
      <i class="bi bi-mic"></i>
      <span class="record-duration">{{recordDuration}}</span>
    </div>

    <i class="bi bi-tips post-tips" (click)="switchMode(modeEnums.None); postTips();"
       (contextmenu)="$event.preventDefault()"></i>

    <i class="bi bi-gear go-settings" (click)="switchMode(modeEnums.None); goSettings();"
       (contextmenu)="$event.preventDefault()"></i>
  </div>

  <recorder class="recorder" #recorder [ngClass]="{activate: mode === modeEnums.Audio}"
            (recordEnd)="recordEnd($event)"></recorder>

  <div class="post-message-container-hidden-wrapper"
       [ngClass]="{activate: mode === modeEnums.Text || mode === modeEnums.At}">
    <form class="post-message-container" #messageContainer [ngClass]="{activate: mode !== modeEnums.None}">
      <div class="input-wrapper">
        <textarea
          #messageInput
          class="message-input"
          name="messageContent"
          type="text"
          rows="1"
          placeholder="发言"
          (focus)="messageInputFocused()"
          [(ngModel)]="messageContent"
          autoresize
          display-when-focus
          (input)="messageInputChanged()"
        ></textarea>
      </div>
      <button class="sender" (click)="postMessage();focusMessageInput();">发送</button>
      <a class="switcher" (click)="switchMode(modeEnums.Text)" *ngIf="mode === modeEnums.At">
        <i class="bi bi-at-people-keyboard"></i>
      </a>
      <a class="switcher" (click)="switchMode(modeEnums.At)" *ngIf="mode === modeEnums.Text">
        <i class="bi bi-at-people"></i>
      </a>
    </form>
  </div>

  <div class="at-people-keyboard" [ngClass]="{activate: mode === modeEnums.At}">
    <div class="user-row" (click)="changeCommentContent(liveInfo.admin)">
      <img class="avatar" [src]="liveInfo.admin.avatar">
      <div class="name">{{liveInfo.admin.nick}}</div>
      <div class="tick" [ngClass]="{'selected': selected(liveInfo.admin.uid)}"><i class="bi bi-tick"
      ></i></div>
    </div>

    <div class="user-row" *ngFor="let vip of liveInfo.editors" (click)="changeCommentContent(vip)">
      <img class="avatar" [src]="vip.avatar">
      <div class="name">{{vip.nick}}</div>
      <div class="tick" [ngClass]="{'selected': selected(vip.uid)}"><i class="bi bi-tick"></i></div>
    </div>

  </div>

</div>
