.editor-tool-bar {
  position: relative;
  height: 50px;
  box-sizing: border-box;
  border-top: solid 1px rgba(143, 143, 143, .3);
  font-size: 0;
  background-color: rgb(250, 250, 250);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  &.is-closed {
    .record-btn-container {
      pointer-events: none;

      .bi-mic {
        opacity: 0.3;
      }
    }

    .post-image {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .post-message, .post-image, .post-tips, .go-settings {
    height: 47px;
    width: calc((100% - 70px) / 4);
    color: $color-dark-gray;
    font-size: 24px;

    &.activate {
      color: $color-brand;
    }
  }

  .post-image {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    margin-right: 70px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    .add-image {
      position: absolute;
      height: 100%;
      width: 100%;

      .fileSelector {
        position: absolute;
        opacity: 0;
      }
    }
  }

  .record-btn-container {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 2px;
    left: 50%;
    margin-left: -30px;
    background-color: $color-w;
    border: solid 1px rgba(143, 143, 143, .6);
    border-radius: 50%;
    color: $color-dark-gray;
    transition: all .5s;

    &.recording {
      .bi-mic {
        opacity: 0;
      }

      .record-duration {
        opacity: 1;
      }
    }

    &.activate {
      color: $color-brand;
      border: solid 1px $color-brand;
    }

    .bi-mic, .record-duration {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: opacity .5s;
    }

    .bi-mic {
      opacity: 1;
      font-size: 28px;
    }

    .record-duration {
      opacity: 0;
      font-size: 20px;
    }
  }
}

.recorder {
  display: block;
  height: 0;
  overflow: hidden;
  transition: height .5s;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;

  -webkit-touch-callout:  none;
  -webkit-user-select:    none;
  -khtml-user-select:     none;
  -moz-user-select:       none;
  -ms-user-select:        none;
  -o-user-select:         none;
  user-select:            none;

  &.activate {
    height: 213px;
  }
}

.post-message-container-hidden-wrapper {
  //for input-focus issue
  position: absolute;
  overflow: hidden;
  left: -1000px;
  &.activate{
    position: relative;
    left:0px;
  }

  .post-message-container {
    //display: none;
    display: flex;
    align-items: center;
    max-height: 63px + 13px * 2;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    border-top: solid 1px rgba(178, 178, 178, .5);
    transform-origin: top center;

    &.activate {
      display: flex;

      .switcher {
        display: inline-block;
      }
    }

    .input-wrapper {
      padding: 13px;
      padding-right: 0;
      flex-grow: 1;

      .message-input {
        display: block;
        width: 100%;
        max-height: 63px;
        padding: 0;
        line-height: 1.2em;
        resize: none;
        background-color: transparent;
        font-size: 14px;
      }
    }

    .sender {
      width: 85px;
      flex-shrink: 0;
      padding-left: 25px;
      padding-right: 25px;
      height: 49px;
      line-height: 49px;
      font-size: 17px;
      color: $color-brand;
    }

    .switcher {
      display: none;
      font-size: 0;
      padding-right: 15px;
      line-height: 49px;
      color: $color-dark-gray;

      .bi {
        font-size: 22px;
      }
    }
  }
}

  .at-people-keyboard {
    height: 0;
    overflow: hidden;
    transition: height .5s;
    background: rgba(228, 228, 228, 1.0);

    &::-webkit-scrollbar, &::-webkit-scrollbar-track {
      display: none;
    }

    &.activate {
      height: 252px;
      overflow: auto;
    }

    .user-row {
      display: flex;
      height: 84px;
      border-bottom: solid 1px rgb(198, 198, 198);
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .name {
        color: $color-dark-gray;
        font-size: 16px;
        margin-left: 10px;
        flex-grow: 1;
      }

      .tick {
        display: flex;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: solid 2px $color-brand;
        background-color: transparent;
        transition: background-color .5s;

        .bi {
          opacity: 0;
          font-size: 12px;
          color: $color-w;
          transition: all .5s;
          transform: scale(.666) translateX(-1px) translateY(1px);
          transform-origin: center center;
        }

        &.selected {
          background-color: $color-brand;

          .bi {
            opacity: 1;
          }
        }
      }
    }
  }
