<div class="audio-comment-container">
  <div class="play-btn" (click)="comment.audio.localId && comment.audio.localId === playingId() ? stopVoice() : playVoice()">
    <i class="baiding-icon baiding-icon-wave"></i>
    <span *ngIf="comment.audio.localId && comment.audio.localId === playingId()">
      <i class="baiding-icon baiding-icon-play"></i>
    </span>
    <span *ngIf="!comment.audio.localId || comment.audio.localId !== playingId()">
      <i class="baiding-icon baiding-icon-play"></i>
    </span>
  </div>
  <div class="translate" [ngClass]="{mine: comment.user.uid == userInfo.uid}">{{comment.audio.translateResult}}</div>
</div>
