.edit-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .top-bar {
    flex-shrink: 0;
  }

  .main-form {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 20px;
  }

  .operation-area {
    flex-shrink: 0;
  }
}

.highlight {
  color: $color-dark-gray;
}

.image-wrapper {
  flex-shrink: 0;
  position: relative;
  font-size: 0;

  &:before {
    display: block;
    content: "";
    padding-top: 51.4%;
  }

  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-indent: -10000px;
  }

  .edit-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-gray;
    line-height: 1em;
    font-size: 12px;
    background-color: change_color($color-w, $alpha: .6);

    .bi-edit {
      font-size: 18px;
      margin-right: 6px;
    }
  }

  .file-selector {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.operation-area {
  display: flex;

  .btn {
    width: 40%;
    text-align: center;
    height: 49px;
    line-height: 49px;
    font-size: 17px;
    color: $color-w;
    background-color: rgb(153, 156, 156);

    &:last-child {
      width: 60%;
      background-color: $color-brand;

      &.disabled {
        background-color: change_color($color-brand, $alpha: .5);
      }
    }
  }
}

