.edit-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .top-bar {
    flex-shrink: 0;
  }

  .main-form {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 20px;
  }

  .operation-area {
    flex-shrink: 0;
  }
}

.highlight {
  color: $color-dark-gray;
}

.cover-container {
  position: relative;

  .cover-wrapper {
    position: relative;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(205, 205, 205);
    border-radius: 4px;
    background-size: cover;

    &:before {
      display: block;
      content: "";
      padding-top: 51.4%;
    }

    .cover-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-indent: -10000px
    }

    .no-cover-tips {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: $color-gray;
    }

    .upload-tips {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      line-height: 1em;
      color: $color-dark-gray;
      background-color: rgba(255, 255, 255, .6);
      padding: 8px 0;
      text-align: center;
      font-size: 14px;
    }
  }

  .file-selector {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

.operation-area {
  display: flex;

  .btn {
    width: 40%;
    text-align: center;
    height: 49px;
    line-height: 49px;
    font-size: 17px;
    color: $color-w;
    background-color: rgb(153, 156, 156);

    &:last-child {
      width: 60%;
      background-color: $color-brand;

      &.disabled {
        background-color: change_color($color-brand, $alpha: .5);
      }
    }
  }
}

