<form [formGroup]="form" name="editInfo" (submit)="submit()" class="edit-info" autofocus-first-invalid-input>
  <live-room-top-bar class="top-bar" [liveId]="liveId" *ngIf="!isInApp"></live-room-top-bar>

  <div class="main-form">
    <div class="form-group" [ngClass]="{'has-error': form.controls['time'].dirty && form.controls['time'].invalid}">
      <div class="input-group">
        <input
          id="time"
          class="time"
          name="time"
          type="datetime-local"
          formControlName="time"
          [(ngModel)]="time"
        >
        <label class="required">开始时间</label>
      </div>
      <div *ngIf="form.controls['time'].errors">
        <p class="helper error" *ngIf="form.controls['time'].errors.required">请填写开始时间</p>
        <p class="helper error" *ngIf="form.controls['time'].errors.pattern">开始时间格式错误</p>
        <p class="helper error" *ngIf="form.controls['time'].errors.future">开始时间须晚于当前时间</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['cover'].dirty && form.controls['cover'].invalid}">
      <label>封面</label>
      <div class="cover-container">
        <div class="cover-wrapper">
          <img class="cover-image" *ngIf="coverSrc" [src]="coverSrc" alt="封面图">
          <span class="no-cover-tips" *ngIf="!coverSrc">暂无封面</span>
          <div class="upload-tips">点击上传封面图片</div>
        </div>
        <input
          class="file-selector"
          id="cover"
          name="cover"
          type="file"
          formControlName="cover"
          (focus)="form.controls['cover'].setErrors(null)"
          [(ngModel)]="coverFiles"
        >
      </div>
      <p class="helper" *ngIf="form.controls['cover'].valid || !form.controls['cover'].dirty"><span class="highlight">点击图片</span>即可更换封面。封面尺寸: 350*180, 格式: jpg、png、gif、bmp, 并小于8M。</p>
      <div *ngIf="form.controls['cover'].errors">
        <p class="helper error" *ngIf="form.controls['cover'].errors.size">封面图大小须小于8M</p>
        <p class="helper error" *ngIf="form.controls['cover'].errors.accept">封面图格式须符合jpg、png、gif、bmp</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['title'].dirty && form.controls['title'].invalid}">
      <div class="input-group">
        <input
          id="title"
          class="time"
          name="title"
          type="text"
          formControlName="title"
          [(ngModel)]="title"
        >
        <label class="required">标题</label>
      </div>
      <p class="helper" *ngIf="form.controls['title'].valid || !form.controls['title'].dirty">标题字数20字以内</p>
      <div *ngIf="form.controls['title'].errors">
        <p class="helper error" *ngIf="form.controls['title'].errors.required">请填写标题</p>
        <p class="helper error" *ngIf="form.controls['title'].errors.maxlength">请确认标题字数小于20字</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['desc'].dirty && form.controls['desc'].invalid}">
      <div class="input-group">
        <textarea
          id="desc"
          class="desc"
          name="desc"
          formControlName="desc"
          [(ngModel)]="desc"
          autoresize
          rows="1"
        ></textarea>
        <label class="required">简介</label>
      </div>
      <p class="helper" *ngIf="form.controls['desc'].valid || !form.controls['desc'].dirty">简介字数600字以内</p>
      <div *ngIf="form.controls['desc'].errors">
        <p class="helper error" *ngIf="form.controls['desc'].errors.required">请填写简介</p>
        <p class="helper error" *ngIf="form.controls['desc'].errors.maxlength">请确认简介字数小于600字</p>
      </div>
    </div>
  </div>

  <div class="operation-area">
    <a class="btn" (click)="backToLive()">取消</a>
    <button class="btn">保存</button>
  </div>
</form>
