.countdown {
  display: flex;
  justify-content: center;
  padding: 9px;
  font-size: $font-size-xsm;
  color: $color-w;
  background-color: rgba(51, 51, 51, .8);

  .digital {
    display: flex;
    align-items: center;
    margin: 0 6px;
    color: $color-brand2;
  }
}

