<div class="info-status-wrapper-countdown" *ngIf="countDownStatus && display">
  <div class="item">
    <div class="time">
      <div class="digital" *ngFor="let day of daysArr">{{day}}</div>
    </div>
    <div class="word">Days</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="digital">{{hrs1}}</div>
      <div class="digital">{{hrs2}}</div>
    </div>
    <div class="word">Hours</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="digital">{{mins1}}</div>
      <div class="digital">{{mins2}}</div>
    </div>
    <div class="word">Mins</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="digital">{{secs1}}</div>
      <div class="digital">{{secs2}}</div>
    </div>
    <div class="word">Secs</div>
  </div>
</div>
