<div class="info-status-wrapper"
     [ngClass]="{ 'is-started':liveInfo.isStarted(), 'is-closed':liveInfo.isClosed()}" *ngIf="!liveInfo.isCreated()">

  <div class="live-room-info-status">
    {{liveRoomStatusHumanize}}
  </div>

  <div class="live-room-info-status-timer">
    <span class="countdown-day-item-day" *ngIf="liveInfo.isClosed()"></span>
  </div>
</div>


<div class="info-status-wrapper-countdown" *ngIf="liveInfo.isCreated()">
  <div class="item">
    <div class="time">
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:10}}</div>
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:11}}</div>
    </div>
    <div class="word">Days</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:20}}</div>
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:21}}</div>
    </div>
    <div class="word">Hours</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:30}}</div>
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:31}}</div>
    </div>
    <div class="word">Mins</div>
  </div>

  <div class="item">
    <div class="time">
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:40}}</div>
      <div class="_time">{{timeNow | timeTo:liveInfo.expectStartAt | durationFormater:41}}</div>
    </div>
    <div class="word">Secs</div>
  </div>

</div>
