<form [formGroup]="form" class="vip-info-container" (ngSubmit)="submit()" autofocus-first-invalid-input>
  <live-room-top-bar class="top-bar" [liveId]="liveId" *ngIf="!isInApp"></live-room-top-bar>

  <div class="main-form">
    <div class="vips-container block">
      <div class="title">
        已邀请嘉宾
      </div>
      <div class="content">
        <div class="avatar-container">
          <div class="accepted">
            <div class="accepted-wrapper">
              <img class="avatar" [src]="liveInfo.admin.avatar" alt="嘉宾头像">
              <div class="tick"><i class="bi bi-tick"></i></div>
            </div>
            <p class="nick">{{liveInfo.admin.nick}}</p>
          </div>
        </div>

        <div class="avatar-container" *ngFor="let vip of invitations">
          <div class="accepted" *ngIf="vip.userInfo">
            <div class="accepted-wrapper">
              <img class="avatar" [src]="vip.avatar_url || vip.userInfo.avatar" alt="嘉宾头像">
              <div class="tick"><i class="bi bi-tick"></i></div>
            </div>
            <p class="nick">{{vip.name}}</p>
          </div>

          <div class="invited" *ngIf="!vip.userInfo" (click)="gotoInvitation(vip.token)">
            <div class="invited-wrapper">
              <div class="invite-people-bg" *ngIf="!vip.avatar_url">
                <i class="bi bi-people2"></i>
              </div>

              <img class="avatar" *ngIf="vip.avatar_url" [src]="vip.avatar_url" alt="嘉宾头像">
            </div>
            <p class="nick">{{vip.name || '无名'}}</p>
          </div>
        </div>

        <div class="invite" (click)="gotoInvitationInfo()"></div>
      </div>
    </div>

    <div class="form-group avatar-group" [ngClass]="{'has-error': form.controls['avatar'].dirty && form.controls['avatar'].invalid}">
      <div class="image-wrapper">
        <i class="bi bi-people2" *ngIf="!avatarSrc"></i>
        <img class="image" *ngIf="avatarSrc" [src]="avatarSrc" alt="头像">
        <div class="edit-btn" *ngIf="!avatarSrc"><span class="edit-btn"><i class="bi bi-edit"></i></span></div>

        <input
          *ngIf="!isInWechat"
          class="file-selector"
          id="image-selector"
          type="file"
          [(ngModel)]="avatarFiles"
          formControlName="avatar"
        >

        <div class="file-selector" *ngIf="isInWechat" (click)="selectImages()"></div>
      </div>
      <p class="helper" *ngIf="form.controls['avatar'].valid || !form.controls['avatar'].dirty">格式: jpg、png、gif、bmp, 并小于8M.</p>
      <div *ngIf="form.controls['avatar'].errors">
        <p class="helper error" *ngIf="form.controls['avatar'].errors.size">头像大小须小于8M</p>
        <p class="helper error" *ngIf="form.controls['avatar'].errors.accept">头像格式须符合jpg、png、gif、bmp</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['nick'].dirty && form.controls['nick'].invalid}">
      <div class="input-group">
        <input
          id="nick"
          class="nick"
          name="nick"
          type="text"
          formControlName="nick"
          [(ngModel)]="nick"
        >
        <label class="required">嘉宾名字</label>
      </div>
      <div *ngIf="form.controls['nick'].errors">
        <p class="helper error" *ngIf="form.controls['nick'].errors.required">请填写嘉宾名字</p>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['title'].dirty && form.controls['title'].invalid}">
      <div class="input-group">
        <input
          id="title"
          class="title"
          name="title"
          type="text"
          formControlName="title"
          [(ngModel)]="title"
        >
        <label>嘉宾头衔</label>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': form.controls['intro'].dirty && form.controls['intro'].invalid}">
      <div class="input-group">
        <textarea
          id="intro"
          class="intro"
          name="intro"
          formControlName="intro"
          [(ngModel)]="intro"
          rows="1"
          autoresize
        ></textarea>
        <label>嘉宾介绍</label>
      </div>
      <p class="helper" *ngIf="form.controls['intro'].valid || !form.controls['intro'].dirty">嘉宾介绍字数100字以内，可不填写</p>
      <div *ngIf="form.controls['intro'].errors">
        <p class="helper error" *ngIf="form.controls['intro'].errors.maxlength">请确认嘉宾介绍字数小于100字</p>
      </div>
    </div>
  </div>

  <div class="operation-area">
    <button class="btn" *ngIf="!isSubmitting">生成邀请函</button>
    <span class="btn disabled" *ngIf="isSubmitting">邀请函生成中...</span>
  </div>
</form>
