.live-room-editor-bottom-bar {
  position: relative;
  height: 50px;
  box-sizing: border-box;
  border-top: solid 1px rgba(143, 143, 143, .3);
  font-size: 0;
  background-color: rgb(250, 250, 250);

  .share-btn, .comment-btn, .push-danmu-btn, .more-op-btn {
    display: inline-block;
    height: 49px;
    line-height: 49px;
    width: calc((100% - 60px) / 4);
    text-align: center;
    font-size: 28px;
    color: rgb(75, 75, 75);

    .baiding-icon {
      display: inline-block;
      vertical-align: middle;

      &.baiding-icon-chat1 {
        font-size: 25px;
      }

      &.baiding-icon-share {
        font-size: 22px;
      }
    }
  }

  .comment-btn {
    margin-right: 60px;
  }

  .record-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 2px;
    left: 50%;
    margin-left: -30px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(143, 143, 143, .6);
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    color: rgb(75, 75, 75);

    .baiding-icon {
      display: inline-block;
    }
  }
}
