<div class="live-room-loading" *ngIf="!liveInfo">加载中...</div>

<div class="live-room-container" *ngIf="liveInfo">
  <div class="top-bar">
    <span class="online-count">观看人数</span>
    <a class="comment-btn" (click)="isCommentOpened = !isCommentOpened">
      <i class="bi bi-chat2" *ngIf="!isCommentOpened"></i>
      <i class="bi bi-chat2-disabled" *ngIf="isCommentOpened"></i>
    </a>
  </div>

  <div class="praised-animations" praisedAnimation>
    <praised-animation *ngFor="let user of liveInfo.praisedAnimations" [user]="user"></praised-animation>
  </div>

  <comments [ngClass]="{'hidden': !isCommentOpened}" [streamId]="id"></comments>

  <timeline class="timeline scrollable" timelineScroller #timeline></timeline>

  <audience-bottom-bar
    *ngIf="!isChildrenActived && isAudience()"
    class="audience-bottom-bar"
    [isOnLatest]="timeline.isOnLatest"
    [isOnNewest]="timeline.isOnNewest"
    [liveInfo]="liveInfo"
    [userInfo]="userInfo"
  ></audience-bottom-bar>

  <editor-bottom-bar
    *ngIf="!isChildrenActived && isEditor()"
    class="editor-bottom-bar"
    [liveId]="id"
    [isOnLatest]="timeline.isOnLatest"
    [isOnNewest]="timeline.isOnNewest"
  ></editor-bottom-bar>
</div>

<router-outlet></router-outlet>

